<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="f-20 font-weight-bold mb-2">Add Student</h1>
              <!--<p class="text-xs-center  ">Create Your New Student</p>-->

            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text class="pa-0">
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <!--<span class="f-20 textColor font-weight-bold">Create New Student</span>-->
                      <span class="f-15 textColor font-weight-bold">Personal info</span>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          type="text"
                          placeholder="First Name"
                          class="textFeald"
                          outline
                          label="First Name"
                          v-model="user.firstName"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          type="text"
                          placeholder="Last Name"
                          class="textFeald"
                          outline
                          label="Last Name"
                          v-model="user.lastName"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Phone Number"
                          placeholder="Phone Number"
                          :rules="[ v => v.length >= 8 || 'Min 8 characters']"
                          v-model="user.phone"
                        ></v-text-field>
                      </v-flex>
                      <!-- <v-flex xs12>
                      <v-text-field
                        required
                        color="#749DBF"
                        class="textFeald date"
                        type="date"
                        outline
                        v-model="birthday"
                      ></v-text-field>
                      </v-flex>-->
                      <v-flex xs12>
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="user.dob"
                            lazy
                            transition="scale-transition"
                            persistent
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              placeholder="Birthday"
                              outline
                              required
                              slot="activator"
                              v-model="user.dob"
                              label="Birthday"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="user.dob" no-title scrollable >
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu.save(user.dob)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                      </v-flex>
                      <v-flex xs12>
                        <vue-dawa
                          @select="selectItem($event, 'newUseraddress')"
                          :val="newUseraddress.oneLineAddress"
                          :showMax="5"
                          containerId="amdinAddress_container"
                          fieldId="amdinAddress_id"
                          fieldName="amdinAddress_name"
                        >
                          <label slot="label-top" class="active">Address</label>
                        </vue-dawa>
                      </v-flex xs12>
                      <!-- <v-flex xs12>
                        <v-select
                          :items="gender"
                          class="input-group--focused"
                          label="Gender"
                        ></v-select>
                      </v-flex>-->
                      <span class="pa-1 f-12 text-xs-left textColor w-100  text-left">Gender</span>
                      <v-flex xs12 offset-xs0 class="pa-1">
                        <v-radio-group
                          v-model="user.gender"
                          style="margin-bottom: -30px!important;"
                          row
                          class="ma-0"
                        >
                          <v-radio color="primary" label="Male" value="male"></v-radio>
                          <v-radio color="primary" label="Female" value="female"></v-radio>
                          <v-radio color="primary" label="Non-binary" value="non_binary"></v-radio>
                        </v-radio-group>
                      </v-flex>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Driving School Name"
                          placeholder="Driving School Name"
                          v-model="user.clubName"
                          disabled
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          name="Email"
                          label="Email"
                          hint="email is required"
                          v-model="user.email"
                          class="input-group--focused"
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          type="password"
                          outline
                          label="Password"
                          :rules="passwordRule"
                          placeholder="Password"
                          v-model="user.password"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 class="checkbox">
                        <v-checkbox
                          v-model="user.termAccept"
                          :rules="[v => !!v || 'You must agree to continue!']"
                          label="Terms of Service and Privacy Policy "
                          required
                        ></v-checkbox>
                      </v-flex>
                      <span class="f-15 textColor font-weight-bold">Select Package</span>
                      <v-flex md12 sm12 xs12 class="">
                        <v-select
                          :items="packages"
                          item-text="name"
                          item-value="id"
                          v-model="selectedPackage"
                          class="input-group--focused"
                          label="Package name & Pay"
                        ></v-select>
                      </v-flex>
                      <span class="f-15 textColor font-weight-bold">Select Teacher</span>
                      <v-flex md12 sm12 xs12 class="">
                        <v-select
                          :items="teachers"
                          item-text="name"
                          item-value="id"
                          v-model="selectedTeacher"
                          class="input-group--focused"
                          label="Teacher Name"
                        ></v-select>
                      </v-flex>


                      <!--<span class="f-30"> Insert text editor here </span>-->
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions class>
                  <v-spacer></v-spacer>
                  <v-btn class="no-shadow card-r" to="/">cancel</v-btn>
                  <!--<v-btn-->
                    <!--class="card-r no-shadow"-->
                    <!--color="secondary"-->
                  <!--&gt;Book classs</v-btn>-->
                  <v-btn
                    class="card-r no-shadow text-white"
                    color="primary"
                    @click="CreateUser"
                  >Save</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

  </div>

</template>

<script>
/* eslint-disable */
import Datepiker from "../Datepicker";
import { mapState, dispatch } from "vuex";
import VueDawa from "vue-dawa";
export default {
  name: "AddNewStudent",
  data: () => ({
    tab: null,
    newUseraddress: {
      oneLineAddress: ""
    },
    user: {
      firstName: "",
      lastName: "",
      phone: "",
      dob: "",
      address: {
        oneLineAddress: ""
      },
      gender: "",
      clubName: "",
      email: "",
      password: "",
      termAccept: ""
    },
    teacherClasses: {},
    counter: 0,
    seen: true,
    show: true,
    // yourValue: '',
    date: null,
    birthday: false,
    type: ["Student", "Teacher"],
    gender: ["male", "female","non-binary"],
    timeslot: [
      "07:00 am",
      "08:00 am",
      "09:00 am",
      "10:00 am",
      "11:00 am",
      "12:00 pm",
      "01:00 pm",
      "02:00 pm",
      "03:00 pm",
      "04:00 pm",
      "05:00 pm",
      "06:00 pm"
    ],
    workMin: [
      "60 min",
      "120 min",
      "180 min",
      "240 min",
      "300 min",
      "360 min",
      "420 min",
      "480 min"
    ],
    breakmin: ["15 min", "30 min", "45 min", "60 min"],
    passwordRule: [
      v => !!v || "Password is required",
      v => v.length >= 8 || "Password must be more than 8 characters"
    ],
    packages:[],
    teachers:[],
    selectedPackage:'',
    selectedTeacher:''
  }),
  watch: {},
  created() {
    console.log(this.newUser);
    this.user.clubName=Store.state.user.club_name
    Store.dispatch("Teachers/getAllTeachers")
    Store.dispatch('Packages/getAllPackages').then(res=>{
        console.log(res)
        setTimeout(() => {
          var packages=Store.state.Packages.adminpackages
          for(var x=0;x<packages.length;x++){
            var value={
              id:packages[x].id,
              name:packages[x].name+' ($ '+packages[x].cost+')'+' ('+packages[x].hours+' hours)'
            }
            this.packages.push(value)
          }
          var TeachersData=Store.state.Teachers.Teachers.Teachers
          console.log(TeachersData)
          for(var x=0;x<TeachersData.length;x++){
            var value1={
              id:TeachersData[x].id,
              name:TeachersData[x].name
            }
            this.teachers.push(value1)
          }
        }, 1500);

    })
    Store.dispatch("Teachers/getAllTeachers")
  },
  updated: () => {},
  methods: {
    CreateUser() {
      if(this.user.termAccept==true){
        var Student = {
          name: this.user.firstName+' '+this.user.lastName,
          email: this.user.email,
          phone: this.user.phone,
          dob: this.user.dob,
          address: this.newUseraddress.oneLineAddress,
          city: this.newUseraddress.city,
          state: this.newUseraddress.state,
          zip: this.newUseraddress.zipCode,
          gender: this.user.gender,
          role: 'student',
          password: this.user.password,
          // package_id:this.selectedPackage,
          teacher_id:this.selectedTeacher,
          club_id:Store.state.user.club_id
        };
        console.log(Student)
          this.$store.dispatch("Students/AddStudent", Student).then(res => {
            console.log(res);
            if(res.status_code==201){
              console.log("201")
              this.$router.push('/students')
            }
          });
      }
    },
    selectItem(payload, objectName) {
      this.$set(this, objectName, this.translateData(payload));
      this.newUser.user.address = this.translateData(payload);
    },
    translateData(address) {
      if (!address || !address.data) {
        return;
      }
      return {
        id: address.data.id,
        street: address.data.vejnavn,
        streetNumber: address.data.husnr,
        floor: address.data.etage,
        door: address.data.dør,
        zipCode: address.data.postnr,
        city: address.data.postnrnavn,
        oneLineAddress: address.tekst
      };
    }
  },
  components: {
    VueDawa,
    Datepiker
  }
};
</script>
