<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/students`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="f-20 font-weight-bold mb-2">Edit Studenttt</h1>
              <!-- {{studentdetails}} -->
              <!--<p class="text-xs-center  ">Create Your New Student</p>-->
            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text class="pa-0">
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <!--<span class="f-20 textColor font-weight-bold">Create New Student</span>-->
                      <span class="f-15 textColor font-weight-bold">Personal info</span>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          type="text"
                          placeholder="First Name"
                          class="textFeald"
                          outline
                          label="Full Name"
                          v-model="user.firstName"
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Phone Number"
                          placeholder="Phone Number"
                          :rules="[ v => v.length >= 8 || 'Min 8 characters']"
                          v-model="user.phone"
                        ></v-text-field>
                      </v-flex>
                      <!-- <v-flex xs12>
                      <v-text-field
                        required
                        color="#749DBF"
                        class="textFeald date"
                        type="date"
                        outline
                        v-model="birthday"
                      ></v-text-field>
                      </v-flex>-->
                      <v-flex xs12>
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="user.dob"
                            lazy
                            transition="scale-transition"
                            persistent
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              placeholder="Birthday"
                              outline
                              required
                              slot="activator"
                              v-model="user.dob"
                              label="Birthday"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="user.dob" no-title scrollable >
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu.save(user.dob)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                      </v-flex>
                      <v-flex xs12>
                        <!-- {{address}} -->
                        <vue-dawa
                          @select="selectItem($event, 'address')"
                          :val="address.oneLineAddress"
                          :showMax="5"
                          containerId="amdinAddress_container"
                          fieldId="amdinAddress_id"
                          fieldName="amdinAddress_name"
                        >
                          <label slot="label-top" class="active">Address</label>
                        </vue-dawa>
                      </v-flex>
                      <!-- <v-flex xs12>
                        <v-select
                          :items="gender"
                          class="input-group--focused"
                          label="Gender"
                        ></v-select>
                      </v-flex>-->
                      <span
                        class="f-15 text-xs-left textColor w-100 font-weight-bold text-left"
                      >Gender</span>

                      <v-flex xs12 offset-xs0 class="pa-1">
                        <v-radio-group
                          v-model="user.gender"
                          style="margin-bottom: -30px!important;"
                          row
                          class="ma-0"
                        >
                          <v-radio color="primary" label="Male" value="male"></v-radio>
                          <v-radio color="primary" label="Female" value="female"></v-radio>
                          <v-radio color="primary" label="Non-binary" value="non_binary"></v-radio>
                        </v-radio-group>
                      </v-flex>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Club name"
                          placeholder="Club name"
                          v-model="user.clubName"
                          disabled
                        ></v-text-field>
                      </v-flex>
                      <!-- <span class="f-15 textColor font-weight-bold">Select Package</span>
                      <v-flex md12 sm12 xs12 class="">
                        <v-select
                          :items="packages"
                          item-text="name"
                          item-value="id"
                          v-model="selectedPackage"
                          class="input-group--focused"
                        ></v-select>
                      </v-flex> -->
                      <!-- <span class="f-15 textColor font-weight-bold">Select Teacher</span>
                      <v-flex md12 sm12 xs12 class="">
                        <v-select
                          :items="teachers"
                          item-text="name"
                          item-value="id"
                          v-model="selectedTeacher"
                          class="input-group--focused"
                          label="Select Teacher"
                        ></v-select>
                      </v-flex> -->


                      <!--<span class="f-30"> Insert text editor here </span>-->
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions class>
                  <v-spacer></v-spacer>
                  <v-btn class="no-shadow card-r" to="/">cancel</v-btn>
                  <!--<v-btn-->
                    <!--class="card-r no-shadow"-->
                    <!--color="secondary"-->
                  <!--&gt;Book classs</v-btn>-->
                  <v-btn
                    class="card-r no-shadow text-white"
                    color="primary"
                    @click="UpdateUser"
                  >Save</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

  </div>

</template>

<script>
/* eslint-disable */
import Datepiker from "../Datepicker";
import { mapState, dispatch } from "vuex";
import VueDawa from "vue-dawa";
export default {
  name: "EditStudent",
  data: () => ({
    tab: null,
    address: {
      oneLineAddress: ""
    },
    user: {
      firstName: "",
      lastName: "",
      phone: "",
      role: 'student',
      dob: "",
      address: {
        oneLineAddress: ""
      },
      gender: "",
      clubName: "",
      email: "",
      password: "",
      termAccept: "",
      zip:""
    },
    teacherClasses: {},
    counter: 0,
    seen: true,
    show: true,
    // yourValue: '',
    date: null,
    birthday: false,
    type: ["Student", "Teacher"],
    gender: ["male", "female","non-binary"],
    timeslot: [
      "07:00 am",
      "08:00 am",
      "09:00 am",
      "10:00 am",
      "11:00 am",
      "12:00 pm",
      "01:00 pm",
      "02:00 pm",
      "03:00 pm",
      "04:00 pm",
      "05:00 pm",
      "06:00 pm"
    ],
    workMin: [
      "60 min",
      "120 min",
      "180 min",
      "240 min",
      "300 min",
      "360 min",
      "420 min",
      "480 min"
    ],
    breakmin: ["15 min", "30 min", "45 min", "60 min"],
    passwordRule: [
      v => !!v || "Password is required",
      v => v.length >= 8 || "Password must be more than 8 characters"
    ],
    packages:[],
    teachers:[],
    selectedPackage:'',
    selectedTeacher:''
  }),
  watch: {},
  mounted() {

      this.StudentId = this.$route.params.id;
      Store.dispatch("studentdetails/getStudentById", this.StudentId).then(res => {

      });
setTimeout(() => {
      this.user.firstName =this.$store.state.studentdetails.studentdetails.name;
      this.user.email =this.$store.state.studentdetails.studentdetails.email;
      this.user.phone =this.$store.state.studentdetails.studentdetails.phone;
      this.user.dob =this.$store.state.studentdetails.studentdetails.dob;
      this.user.gender =this.$store.state.studentdetails.studentdetails.gender;
      this.address.oneLineAddress =this.$store.state.studentdetails.studentdetails.address;
      this.address.city =this.$store.state.studentdetails.studentdetails.city;
      this.address.state =this.$store.state.studentdetails.studentdetails.state;
      this.address.zipCode =this.$store.state.studentdetails.studentdetails.zip;
      this.zipCode =this.$store.state.studentdetails.studentdetails.zip;
      this.role=this.$store.state.studentdetails.studentdetails.role;
      this.package_id =this.selectedPackage;
      this.teacher_id =this.selectedTeacher;
      this.club_id = Store.state.user.club_id

      // this.classPrice =this.$store.state.Modules.modules.price;
      // this.internalPrice =this.$store.state.Modules.modules.internal_price;
      // this.description =this.$store.state.Modules.modules.description;
      // this.image =this.$store.state.Modules.modules.attachment.galleries;
      console.log(this.user.firstName)
      console.log('this.classTitle')

   }, 3500);
  },
  created() {
    // console.log(this.newUser);
    this.user.clubName=Store.state.user.club_name
    Store.dispatch('Packages/getAllPackages').then(res=>{
        setTimeout(() => {
          var studentdetails=Store.state.studentdetails
          console.log(TeachersData)
          for(var x=0;x<studentdetails.length;x++){
            var value1={
              id:TeachersData[x].id,
              name:TeachersData[x].name
            }
            this.teachers.push(value1)
          }
        }, 1500);

    })
    Store.dispatch("Teachers/getAllTeachers")
  },
  updated: () => {},
  methods: {
    UpdateUser() {
          this.StudentId = this.$route.params.id;
          var Student = {
          name: this.user.firstName+' '+this.user.lastName,
          email: this.user.email,
          phone: this.user.phone,
          dob: this.user.dob,
          // address: this.address.oneLineAddress,
          city: this.address.city,
          state: this.address.state,
          zip: this.address.zipCode,
          gender: this.user.gender,
          role: 'student',
          password: this.user.password,
          // door: this.address.door,
          // floor: this.address.floor,
          // street: this.address.street,
          // streetNumber: this.address.streetNumber,          // package_id:this.selectedPackage,
          // club_id:Store.state.user.club_id,
          // teacher_id:this.selectedTeacher,

        };
        console.log(Student)
        var StudentId=this.StudentId
                  var Data={
          "StudentDetails":Student,
          "StudentId":this.StudentId
                  }
          this.$store.dispatch("Students/studentEdit", Data).then(res => {
            console.log(res);
          });
    },
    selectItem(payload, objectName) {
      this.$set(this, objectName, this.translateData(payload));
      this.newUser.user.address = this.translateData(payload);
    },
    translateData(address) {
      if (!address || !address.data) {
        return;
      }
      return {
        id: address.data.id,
        street: address.data.vejnavn,
        streetNumber: address.data.husnr,
        floor: address.data.etage,
        door: address.data.dør,
        zipCode: address.data.postnr,
        city: address.data.postnrnavn,
        oneLineAddress: address.tekst
      };
    }
  },
  components: {
    VueDawa,
    Datepiker
  },
  computed: {
    ...mapState({
      studentdetails: Students => Store.state.studentdetails
    })
  },
};
</script>
