<template>
<div class="Students">
    <v-container fluid class="pt-0">
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a">Students</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
          <!--<h1 class="title">Students</h1>-->
        <v-layout mt-5>
            <v-flex>
                <v-data-table :headers="headers" :items="StudentList.Students" class="elevation-1 card-r no-shadow">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                          <td v-if="props.item.teacher">{{  props.item.teacher.name}}</td>
                          <td v-if="!props.item.teacher">-</td>
                        <td>{{ props.item.phone }}</td>
                        <td>{{ props.item.email }}</td>
                        <td>{{ props.item.gender }}</td>
                       <td>
                         <div v-if="props.item.status">
                            <v-select
                              v-model="props.item.status"
                              :items="teacherStatus"
                              item-text="props.item.status"
                              item-value="props.item.status"
                              @change=changestatus(props.item.id,props.item.status)
                              persistent-hint
                              return-object
                              single-line
                            ></v-select>
                          </div>
                        </td>
                        <td class="layout px-0">
                              <v-btn icon v-bind:href="'/studentprofile/'+props.item.id">
                                <v-icon
                                  class="grey--text"
                                  to="/teacherprofile">
                                  fa-sign-in-alt
                                </v-icon>
                              </v-btn>
                              <v-btn icon v-bind:href="'/students/edit/'+props.item.id">
                                <v-icon class="grey--text">
                                  fa-edit
                                </v-icon>
                              </v-btn>

                        </td>
                    </template>
                </v-data-table>
            </v-flex>

        </v-layout>
    </v-container>
    <!--<add-new-student/>-->
</div>
</template>

<script>
/* eslint-disable */
import AddNewStudent from "./AddNewStudent.vue"
import { setTimeout } from 'timers'
import { mapState } from 'vuex'

export default {
  name: "Students",
  data() {
    return {
      headers: [

        { text: "NAME", value: "name" },
        { text: "TEACHER NAME", value: "teachername" },
        { text: "CONTACT", value: "phone" },
        { text: "EMAIL", value: "email" },
        { text: "GENDER", value: "gender" },
        { text: "STATUS", value: "status" },
        { text: "", value: "" }
      ],
      // StudentList:[],
      teacherStatus:["active","inactive",'blocked']
    };
  },
  created(){
    console.log("created")
    Store.commit("setLoading", { loading: true });
    Store.dispatch("Students/getAllStudents")
    Store.commit("setLoading", { loading: false });

    // .then(res => {
    //   setTimeout(function(){
    //     this.StudentList = res;
    //     console.log(this.StudentList);
    //     Store.commit("setLoading", { loading: false });
    //   },1000)
    //   // console.log(res)
    // })
    // .catch(() => {
    //   Store.commit("setLoading", { loading: false });
    // });
    setTimeout(() => {
        console.log("this.StudentList")
        console.log(this.StudentList)
    }, 2000);
  },
  methods:{
    changestatus(studentid,status) {
      console.log(studentid,status)
      //
      console.log(status)
      var Data={
        "studentid":studentid,
        "status":status
      }
      console.log(Data)
      this.$store.dispatch("Students/changeStudentStatus", Data)
    }
  },
  computed:{
    ...mapState({
      StudentList:"Students"
    })
  },
  components: {
    AddNewStudent
  }
};
</script>
<style>
  /* .v-select__slot{
    width:65px !important;
  } */
  .v-select__slot div{
    font-size: 13px !important;
    border:none
  }
  .v-text-field.v-input--is-focused .v-input__slot:after{
    display:none !important;
  }
  .v-text-field>.v-input__control>.v-input__slot:before{
    display: none !important;
  }

</style>
