<template>
  <v-container>
    <v-layout>
      <v-flex>
       <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-btn
        slot="activator"
        color="red lighten-2"
        dark
      >
        Click Me
      </v-btn>
      <v-card>
          <div class="resultContainer">
            <div class=" text-xs-center ele-size" align-center >
            <v-layout align-center>
            <v-flex class="text-xs-left ">
              <v-avatar class="noti-ava">
              <img
              class="notification-avatar"
                src="https://cdn.vuetifyjs.com/images/john.jpg"
                alt="John"
              >
            </v-avatar>
            </v-flex>
            <v-flex align-center justify-start class="notification-name"> 
             <h4 class="">Customer Name / School Name </h4>
             <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
             <span x2  class="left">Amount $#####</span>
             </v-flex>
             </v-layout>
              <v-divider color="#1788d3" class="margin-top" ></v-divider>
              <v-layout>
              <v-flex align-center>
                  <span class="left span-left margin-top">Product</span>
                   <span class="right span-left margin-top">Name</span>
                </v-flex>
              </v-layout>
              <v-layout>
              <v-flex align-center>
                  <span class="left light-left-span">Income</span>
                   <span class="right light-left-span">$ 1500</span>
                </v-flex>
              </v-layout>
               <v-divider color="#1788d3" class="divider-class" ></v-divider>
              <v-layout>
              <v-flex align-center>
                  <span class="left light-left-span">Tax</span>
                   <span class="right light-left-span">2.5 %</span>
                </v-flex>
              </v-layout>
               <v-divider color="#1788d3" class="divider-class"></v-divider>
              <v-layout>
              <v-flex align-center>
                  <span class="left span-left">Total</span>
                   <span class="right span-left">$#####</span>
                </v-flex>
              </v-layout>
               <v-divider color="#1788d3" class="margin-top" ></v-divider>
               <v-layout class="end-para">
                <v-flex xs12>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maiores modi quidem veniam, expedita quis laboriosam, ullam facere adipisci.</p>
                </v-flex>
               </v-layout>
               
            </div>
          </div>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style>
  .ele-size{
    width: 98%;
    margin-left:0%;
  }
  .noti-ava{
    width: 80% !important;
    height: 80% !important;
    padding: 15px !important;
    box-shadow: 5px rgba(0 0 0 0.5);
  }
  .notification-avatar{
    width: 100% !important;
  }
  .notification-name{
    float: left !important;
    font-size: 22px !important;
    margin-top: 0%;
  }
  .notification-name h4{
    color: #03080f;
    margin-left: -15%;
    margin-top: 0%;
  }
  .notification-name p{
    font-size: 12px;
    font-weight: 500;
    color: #03080f;
    text-align: justify;
    margin-right: 5%;
    margin-left: -5%;
  }
  .notification-name span{
    font-size: 15px;
    font-weight: 500;
    color: #03080f;
    text-align: justify;
    margin-left: -5%;
  }
  .resultContainer .span-left{
     font-size: 20px;
     font-weight: 800;
     color: #0051a0;
     padding: 15px;
  }
  
  .resultContainer .light-left-span{
    font-size: 12px;
    font-weight: 800;
    color: #03080f;
    padding: 20px;
    opacity: 0.5;
  }
.divider-class{
  width: 92%;
  margin-left: 4%;
  opacity: 0.5;
}
.end-para p{
  font-size: 12px;
  font-weight: 200;
  text-align: center;
   color: #03080f;
   margin-left: 15px;
   padding-right: 25px;
   margin-top: 10px;
   width: 99%;
}
.nofication-click{
  width: 95%;
  margin-bottom:5%;
  color: #fff !important;
}
.v-avatar .v-icon, .v-avatar .v-image, .v-avatar img{
  border: 2px #fff solid;
border-radius: 50% ;
-webkit-box-shadow: 9px 14px 18px -8px rgba(148,148,148,1);
-moz-box-shadow: 9px 14px 18px -8px rgba(148,148,148,1);
box-shadow: 9px 14px 18px -8px rgba(148,148,148,1);

}
.margin-top{
  margin-top: 2%;
}
</style>