
<template>
  <v-container fluid class="mainBackG">

    <v-card class="mainBackG elevation-0">

      <!-- <v-spacer></v-spacer>
      <v-btn fab small class="grey" @click.native="cancel()">
      <v-icon>cancel</v-icon>
      </v-btn>&nbsp;
      <v-btn fab small class="purple" @click.native="save()">
      <v-icon>save</v-icon>
      </v-btn>-->
      <v-card-text>
        <v-container>
          <template>
            <v-stepper v-model="createSchool" class="card-r no-shadow">
              <p class="text-xs-center textColor f-20 mt-4 font-weight-bold">Create Your Own School School</p>
              <!--<v-divider/>-->
              <v-stepper-header class="mr-4 ml-4 card-r no-shadow grey lighten-3">
                <v-stepper-step :complete="createSchool > 1" step="1">School Details</v-stepper-step>
                <v-stepper-step :complete="createSchool > 2" step="2">Admin Details</v-stepper-step>
                <v-stepper-step :complete="createSchool > 3" step="3">Media Upload</v-stepper-step>
                <v-stepper-step step="4">Select Package</v-stepper-step>
              </v-stepper-header>
              <v-stepper-items>
                <v-stepper-content step="1">
                  <!--<p class="text-xs-center f-15">Step 1 of 4</p>-->
                  <form >
                    <v-card class="mb-5 text-xs-center elevation-1 card-r no-shadow py-5" color="grey lighten-3">
                      <!-- Club Details -->
                      <v-layout  wrap>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="School Name"
                            label="School Name"
                            hint="Last name is required"
                            v-model="wsdevwresgergh"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Phone"
                            label="Phone Number"
                            hint="Last name is required"
                            type="number"
                            v-model="fhvggeiuygv"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-dialog
                            ref="modal"
                            v-model="modal"
                            :return-value.sync="regvresdgv"
                            persistent
                            lazy
                            full-width
                            width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="fdvdfbvr"
                              label="Start date"
                              readonly
                            ></v-text-field>
                            <v-date-picker
                              v-model="ersvrthjt7yj"
                              scrollable
                              @input="$refs.modal.save(ersvrthjt7yj)"
                            ></v-date-picker>
                          </v-dialog>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <!-- <div class="v-input v-text-field v-input--is-label-active v-input--is-dirty theme--light"> -->
                          <vue-dawa
                            @select="selectItem(qwdw,)"
                            :val="club"
                            :showMax="5"
                            containerId="address_container"
                            fieldId="address_id"
                            fieldName="address_name"
                          >
                            <label slot="label-top" class="active">Address</label>
                          </vue-dawa>
                          <!-- </div> -->
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-textarea
                            name="Description"
                            label="Description"
                            v-model="ergbrthh"
                            class="input-group--focused"
                          ></v-textarea>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-textarea
                            name="Benefits"
                            label="Benefits"
                            v-model="redghhrth"
                            class="input-group--focused"
                          ></v-textarea>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-dialog
                            ref="modal2"
                            v-model="modal2"
                            :return-value.sync="erghsedtghjrd"
                            persistent
                            lazy
                            full-width
                            width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="wedfcvedthntyfnm"
                              label="Open Time"
                              readonly
                            ></v-text-field>
                            <v-time-picker v-if="modal2" v-model="wefcerdgerg" full-width>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.modal2.save(ewsfcre3f)">OK</v-btn>
                            </v-time-picker>
                          </v-dialog>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-dialog
                            ref="modal3"
                            v-model="modal3"
                            :return-value.sync="ewrdgfrjhn"
                            persistent
                            lazy
                            full-width
                            width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="esrdvgrsdhnrt"
                              label="Close Time"
                              readonly
                            ></v-text-field>
                            <v-time-picker v-if="modal3" v-model="cdewsfvrwste" full-width>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="modal3 = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.modal3.save(ewsfcre3f)">OK</v-btn>
                            </v-time-picker>
                          </v-dialog>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Email"
                            label="Email"
                            hint="email is required"
                            v-model="wecvewrgc"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>

                      </v-layout>
                    </v-card>
                    <v-btn color="primary right"  @click="createSchool = 2 ">Next</v-btn>
                    <v-btn color=" right" to="Login">Back</v-btn>
                  </form>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <form >
                    <v-card class="mb-5 text-xs-center elevation-1 card-r no-shadow py-4" color="grey lighten-3">
                      <!-- Club Details -->
                      <v-layout row wrap>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Admin Name"
                            label="Admin Name"
                            hint="Admin name is required"
                            v-model="adminname"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Phone"
                            label="Phone Number"
                            hint="Last name is required"
                            type="number"
                            v-model="adminphone"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-select
                            :items="gender_"
                            v-model="admingender"
                            required
                            class="input-group--focused"
                            label="Gender"
                          ></v-select>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <vue-dawa
                            @select="selectItem(ascwesdavc , address)"
                            :val="adminaddressoneLineAddress"
                            :showMax="5"
                            containerId="amdinAddress_container"
                            fieldId="amdinAddress_id"
                            fieldName="amdinAddress_name"
                          >
                            <label slot="label-top" class="active">Address</label>
                          </vue-dawa>
                        </v-flex>
                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Email"
                            label="Email"
                            hint="email is required"
                            v-model="adminemail"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>

                        <v-flex md12 sm12 xs12 class="px-5 mr-5">
                          <v-text-field
                            name="Password"
                            label="Password"
                            hint="Password more than 6 charactor"
                            :type="passwordShow ? 'text' : 'password'"
                            :append-icon="passwordShow ? 'visibility_off' : 'visibility'"
                            @click:append="passwordShow = !passwordShow"
                            v-model="adminpassword"
                            class="input-group--focused"
                            required
                          ></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-card>
                    <v-btn color="primary right"  @click="createSchool = 3">Next</v-btn>
                    <v-btn @click="createSchool =  1 " class="right">Back</v-btn>
                  </form>
                </v-stepper-content>

                <v-stepper-content step="3">
                  <v-card class="mb-5 text-xs-center elevation-0 card-r no-shadow py-4 card-r" color="grey lighten-3">

                    <v-flex md12 sm12 xs12 class="px-3">
                      <v-card class="pa-2 mb-2 ma-1 card-r no-shadow text-xs-left">
                        <input
                          type="file"
                          style="display:none"
                          ref="logoInput"
                          accept="image/png"
                          @change="OnLogoPicked"
                        >
                        <v-btn class="card-r" small outline @click="onPickLogo">Upload Logo</v-btn>

                        <!-- </v-flex>
                        <v-flex md3 sm12 xs12 class="px-5 mr-5">-->
                        <div class="ma-2" v-if="ewgfyfghj != ''">
                          <span>Logo.jpeg</span>
                          <v-icon small @click="wesdacvewr = ''">delete</v-icon>
                        </div>
                      </v-card>
                      <v-card class="pa-2 mb-2 ma-1 card-r no-shadow text-xs-left">
                        <input
                          type="file"
                          style="display:none"
                          ref="CoverInput"
                          accept="image/png"
                          @change="OnCoverPicked"
                        >
                        <v-btn
                          small
                          class="card-r"
                          outline
                          @click="onPickCover"
                        >Upload Cover Photo</v-btn>

                        <div class="ma-2" v-if="ewgfyfghj != ''">
                          <span>coverphoto.png</span>
                          <v-icon small @click="wesdacvewr = ''">delete</v-icon>
                        </div>
                      </v-card>
                    </v-flex>

                    <v-flex md12 sm12 xs12 class="px-3">
                      <v-card class="text-xs-left card-r no-shadow pa-2 mb-2 ma-1">
                        <v-flex xs12 class="">
                          <input
                            type="file"
                            style="display:none"
                            ref="ImgInput"
                            accept="image/*"
                            @change="onImgPicked"
                          >
                          <v-btn
                            small
                            class="card-r"
                            outline
                            @click="onPickImg"
                          >Upload Gallery</v-btn>
                        </v-flex>
                        <v-flex class="ma-2" v-for="n in attachment.photosURL" :key="n" xs4 d-flex>
                          <v-card flat tile class="d-flex">
                            <v-img
                              :src="n"
                              :lazy-src="n"
                              aspect-ratio="1"
                              class="grey lighten-2"
                            >
                              <v-layout
                                slot="placeholder"
                                fill-height
                                align-center
                                justify-center
                                ma-0
                              >
                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                              </v-layout>
                            </v-img>
                          </v-card>
                        </v-flex>
                      </v-card>
                      <v-card class="text-xs-left card-r no-shadow pa-2 ma-1">
                        <v-flex xs12 class="">
                          <input
                            type="file"
                            style="display:none"
                            ref="VideoInput"
                            accept="video/*"
                            @change="onVideoPicked"
                          >
                          <v-btn
                            small
                            class="card-r"
                            outline
                            @click="onPickVideo"
                          >Upload Video</v-btn>
                        </v-flex>
                      </v-card>
                    </v-flex>
                  </v-card>
                  <v-btn color="primary right" @click="createSchool = 4 ">Select Package</v-btn>
                  <v-btn @click="createSchool = 2 " class="right">Back</v-btn>
                </v-stepper-content>

                <v-stepper-content step="4">
                  <v-card class=" text-xs-center elevation-0 card-r no-shadow py-4" color="grey lighten-3">cews</v-card>
                  <v-btn color="primary right" @click="save">Finish</v-btn>
                  <ConfirmSignup/>
                  <v-btn @click="createSchool =  3 " class="right">Back</v-btn>
                  <v-btn flat>Cancel</v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </template>
        </v-container>
      </v-card-text>
    </v-card>


    <!--<v-snackbar v-if="loading===false" :right="true" :timeout="timeout" :color="mode" v-model="snackbar" >-->
    <!--rewdgthghr5fbf-->
    <!--<v-btn dark flat @click.native="closeSnackbar">Close</v-btn>-->
    <!--</v-snackbar>-->
  </v-container>

</template>

<script>
  /* eslint-disable */
  import ConfirmSignup from "../auth/ConfirmSignup";
  import { mapState , dispatch } from "vuex"
  import VueDawa from "vue-dawa"
  import { log } from "util"
  // import Profile from "../profile/profile"
  // import myVideo from 'vue-video'

  export default {
    data: () => ({
      createSchool: 0,
      modal: false,
      modal2: false,
      modal3: false,
      passwordShow: false,

// Club

      logoURL: "",
      coverPhotoURL: "",
      attachment: {
        photos: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },

      gender_: ["male", "female" ,"non binary"],

    }),
//
// computed: {
//   ...mapState({
//     loading: "loading",
//     mode: "mode",
//     admin:"admin",
//     club:"club",
//     snackbar: 'snackbar',
//         notice: 'notice'
//   })
// },
//
    watch: {},
    created() {},
    methods: {
      selectItem(payload, objectName) {
        this.$set(this, objectName, this.translateData(payload));
        console.log(this.address);
      },
      translateData(address) {
        if (!address || !address.data) {
          return;
        }
        return {
          id: address.data.id,
          street: address.data.vejnavn,
          streetNumber: address.data.husnr,
          floor: address.data.etage,
          door: address.data.dør,
          zipCode: address.data.postnr,
          city: address.data.postnrnavn,
          oneLineAddress: address.tekst
        };
      },

      save(){
        const admin = Object.assign({}, this.admin)
        console.log(admin);

        Store.dispatch('addAdmin',admin).then(()=>{
          if(this.admin.id !== null){
            this.club.admin_id = this.admin.id

            const club = object.assign({}, this.club)
            console.log(club);

            Store.dispatch('addClub',club)
          }
        })
      },
      onPickLogo() {
        this.$refs.logoInput.click();
      },
      OnLogoPicked(event) {
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.logoURL = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        this.club.club_logo = files[0];
        console.log(this.logo);

      },
      onPickCover() {
        this.$refs.CoverInput.click();
      },
      OnCoverPicked(event) {
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.coverPhotoURL = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        this.coverPhoto = files[0];
        console.log(this.coverPhoto);
      },
      onPickImg(){
        this.$refs.ImgInput.click();

      },
      onPickVideo(){
        this.$refs.VideoInput.click();

      },
      onImgPicked(){
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.attachment.photosURL.push(fileReader.result);
          console.log( this.attachment.photosURL);

        });
        fileReader.readAsDataURL(files[0]);
        this.attachment.photos.push(files[0]);
      },
      onVideoPicked(){
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.attachment.videosURL.push(fileReader.result);
        });
        fileReader.readAsDataURL(files[0]);
        this.attachment.videos.push(files[0]);
      },

    },
    components: {
// Profile,
      ConfirmSignup,
      VueDawa
// myVideo
    }
  };
</script>

<style>
  /*@media only screen and (min-width: 1264px) {*/
  /*.container {*/
  /*max-width: 800px!important;*/
  /*}*/
  /*}*/
  .theme--light.v-stepper {
    overflow: scroll;
    height: 550px;
    overflow: -moz-scrollbars-none;
  }
  .v-stepper::-webkit-scrollbar {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .theme--light.v-stepper .v-stepper__step__step, .theme--light.v-stepper .v-stepper__step__step .v-icon {
    color: #fff;
    padding: 18px;
    font-size: 13px ;
  }
</style>
