<template>
 <div>
   <!--<v-layout xs12>-->
     <!--<v-flex xs5 offset-xs0 class="pa-1" v-show="seen">-->
       <!--<v-select-->
         <!--:items="timeslot"-->
         <!--class="input-group&#45;&#45;focused"-->
         <!--label="First Class"-->
       <!--&gt;</v-select>-->
     <!--</v-flex>-->
     <!--<v-flex xs5 offset-xs0 class="pa-1" v-show="seen">-->
       <!--<v-select-->
         <!--:items="workMin"-->
         <!--class="input-group&#45;&#45;focused"-->
         <!--label="Hours"-->
       <!--&gt;</v-select>-->
     <!--</v-flex>-->
     <!--<v-flex xs2 offset-xs0 class="pa-1 text-xs-center">-->
       <!--<v-btn icon v-show="seen" v-on:click='seen = !seen' outline color="blue">r</v-btn>-->
     <!--</v-flex>-->
   <!--</v-layout>-->


   <!--<v-layout >-->
     <!--<v-flex xs12 offset-xs0 class="pa-1 text-xs-center">-->
       <!--<v-btn icon v-show="!seen" v-on:click='seen = !seen' outline color="blue">a</v-btn>-->
       <!--<v-btn icon  v-show="seen" v-on:click='ddd = !seen' outline color="blue">a</v-btn>-->
     <!--</v-flex>-->
   <!--</v-layout>-->
   <div v-for="n in counter" :key="n">
     <div xs12>
       <v-flex xs12 offset-xs0 class="pa-1 ">
         <v-radio-group row class="ma-0">
           <v-radio color="primary" label="WORK" value="radio-1"></v-radio>
           <v-radio color="primary" label="Break" value="radio-2"></v-radio>
           <v-radio color="primary" label="Express" value="radio-3"></v-radio>
         </v-radio-group>
       </v-flex>
     </div>
     <v-layout xs12>
       <v-flex xs6 offset-xs0 class="pa-1">
         <v-select
           :items="timeslot"
           class="input-group--focused"
           label="Break Start"
         ></v-select>
       </v-flex>
       <v-flex xs5 offset-xs0 class="pa-1">
         <v-select
           :items="breakmin"
           class="input-group--focused"
           label="Hours"
         ></v-select>
       </v-flex>
       <v-flex xs1 class="pa-1 text-xs-right">
         <v-btn fab outline small v-on:click="counter -= 1" color="primary">
           <v-icon dark>remove</v-icon>
         </v-btn>
       </v-flex>
     </v-layout>
   </div>
   <v-layout >

   <v-flex xs2 class="pa-1 ">
     <v-btn fab  small color="primary" v-on:click="counter += 1">
       <v-icon dark>add</v-icon>
     </v-btn>
   </v-flex>
   </v-layout>

   <!--<v-layout xs12 v-for="n in counter" :key="n">-->
     <!--<v-flex xs5 offset-xs0 class="pa-1">-->
       <!--<v-select-->
         <!--:items="timeslot"-->
         <!--class="input-group&#45;&#45;focused"-->
         <!--label="Break Start"-->
       <!--&gt;</v-select>-->
     <!--</v-flex>-->
     <!--<v-flex xs5 offset-xs0 class="pa-1">-->
       <!--<v-select-->
         <!--:items="breakmin"-->
         <!--class="input-group&#45;&#45;focused"-->
         <!--label="Hours"-->
       <!--&gt;</v-select>-->
     <!--</v-flex>-->
     <!--<v-flex xs2 offset-xs0 class="pa-1 text-xs-center">-->
       <!--<v-btn icon outline color="blue" v-on:click="counter -= 1">r</v-btn>-->
     <!--</v-flex>-->
   <!--</v-layout>-->


   <!--<v-layout >-->
     <!--<v-flex xs12 offset-xs0 class="pa-1 text-xs-center">-->
       <!--<v-btn icon outline color="blue"  v-on:click="counter += 1">dferwdva</v-btn>-->
       <!--&lt;!&ndash;<v-btn icon v-show="show" v-on:click='ddd = !show' outline color="blue">a</v-btn>&ndash;&gt;-->
     <!--</v-flex>-->
   <!--</v-layout>-->
 </div>
</template>
<!--<template>-->

  <!--<div>-->
    <!--<v-container fill-height class="">-->
      <!--<v-layout row wrap align-center class="w-100">-->
        <!--&lt;!&ndash;<v-btn&ndash;&gt;-->
        <!--&lt;!&ndash;v-show="!show" v-on:click='show = !show'&ndash;&gt;-->
        <!--&lt;!&ndash;outline small color="blue">cancel</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn&ndash;&gt;-->
        <!--&lt;!&ndash;v-show="show" v-on:click='show = !show'&ndash;&gt;-->
        <!--&lt;!&ndash;outline small color="blue">delete</v-btn>&ndash;&gt;-->

        <!--&lt;!&ndash;<v-btn v-show="seen" v-on:click='seen = !seen' outline small color="blue">add</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn v-show="seen" v-on:click='seen = !seen' outline small color="blue">remove</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn v-if="seen" outline small color="blue">date input</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn v-if="seen" outline small color="blue">delete</v-btn>&ndash;&gt;-->
        <!--&lt;!&ndash;<v-btn v-else="!seen" v-on:click='seen = !seen' outline small color="blue">add</v-btn>&ndash;&gt;-->

        <!--&lt;!&ndash;<v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">&ndash;&gt;-->
        <!--<v-btn v-show="seen" outline small color="blue">a=input</v-btn >-->

        <!--<v-btn icon v-show="seen" v-on:click='seen = !seen' outline color="blue">r</v-btn>-->

        <!--<v-btn v-show="seen" v-on:click='ddd = !seen' outline small color="blue">b=plus more works</v-btn>-->

        <!--<v-btn icon v-show="!seen" v-on:click='seen = !seen' outline small color="blue">a</v-btn>-->
        <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--</v-layout>-->
      <!--<v-layout row wrap align-center class="w-100">-->
        <!--&lt;!&ndash;<v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">&ndash;&gt;-->
        <!--<v-btn v-show="show" outline small color="blue">a=input</v-btn >-->
        <!--<v-btn v-show="show" v-on:click='show = !show' outline small color="blue">c=remove break time</v-btn>-->

        <!--<v-btn v-show="show" v-on:click='ddd = !show' outline small color="blue">b=more break time</v-btn>-->
        <!--<v-btn v-show="!show" v-on:click='show = !show' outline small color="blue">b=add break time</v-btn>-->
        <!--&lt;!&ndash;&lt;!&ndash;<div id="app">&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;<croppa v-model="croppa"&ndash;&gt;-->
        <!--&lt;!&ndash;initial-image="https://zhanziyang.github.io/vue-croppa/static/500.jpeg">&ndash;&gt;-->
        <!--&lt;!&ndash;</croppa>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="btns">&ndash;&gt;-->
        <!--&lt;!&ndash;<button @click="dataUrl = croppa.generateDataUrl()">Output</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button @click="dataUrl = croppa.generateDataUrl('image/jpeg')">Output JPEG</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button @click="dataUrl = croppa.generateDataUrl('image/jpeg', 0.8)">Output 20% compressed JPEG</button>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="size">Output size: {{dataUrl.length}}</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<img :src="dataUrl">&ndash;&gt;-->
        <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--</v-layout>-->
      <!--&lt;!&ndash;<v-layout row wrap align-center>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">&ndash;&gt;-->
      <!--&lt;!&ndash;<croppa v-model="myCroppa"></croppa>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-btn&ndash;&gt;-->
      <!--&lt;!&ndash;small&ndash;&gt;-->
      <!--&lt;!&ndash;class="card-r"&ndash;&gt;-->
      <!--&lt;!&ndash;outline&ndash;&gt;-->
      <!--&lt;!&ndash;@click="onPickImg"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;Upload Gallery</v-btn>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-layout row wrap align-center>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">&ndash;&gt;-->
      <!--&lt;!&ndash;<croppa v-model="myCroppa"></croppa>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-btn&ndash;&gt;-->
      <!--&lt;!&ndash;small&ndash;&gt;-->
      <!--&lt;!&ndash;class="card-r"&ndash;&gt;-->
      <!--&lt;!&ndash;outline&ndash;&gt;-->
      <!--&lt;!&ndash;@click="onPickImg"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;Upload Gallery</v-btn>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
    <!--</v-container>-->
  <!--</div>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</template>-->

<script>
  /* eslint-disable */
  import Datepiker from "../pages/Datepicker"

  export default {
    data: () => ({
      counter: 0,
      myCroppa: {},
      croppa: {},
      dataUrl: '' ,
      timeslot: ["07:00 am", "08:00 am" , "09:00 am", "10:00 am" ,"11:00 am", "12:00 pm", "01:00 pm", "02:00 pm", "03:00 pm", "04:00 pm", "05:00 pm", "06:00 pm"],
      workMin: ["60 min", "120 min" , "180 min", "240 min" ,"300 min", "360 min", "420 min", "480 min" ],
      breakmin: ["15 min", "30 min" , "45 min", "60 min" ],
      methods: {
        uploadCroppedImage() {
          this.myCroppa.generateBlob((blob) => {
          }, 'image/jpeg', 0.8) // 80% compressed jpeg file
        }
        },
      onPickImg(){
        this.$refs.ImgInput.click();

      },
      }),
    components: {
      Datepiker
    }
  };
</script>
