<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/packages`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="display-1 font-weight-medium">Add Package</h1>
              <p></p>
            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap >
                      <v-flex xs12><v-text-field :rules="requiredRule" v-model="PackageTitle" label="Package Title"></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-combobox :items="items" item-text="" @change="callMultiple"  :rules="requiredRule" v-model="selectedClasses" label="Select Classes" multiple chips>
                          <template slot="selection" slot-scope="data">
                            <v-chip
                              :selected="data.selectedClasses"
                              :disabled="data.disabled"
                              :key="JSON.stringify(data.item)"
                              class="v-chip--select-multi"
                              @input="data.parent.selectItem(data.item)">
                              <v-avatar
                                class="accent white--text"
                                v-text="data.item.slice(0, 1).toUpperCase()"></v-avatar>{{ data.item }}</v-chip>
                          </template>
                        </v-combobox>
                      </v-flex>
                      <v-flex xs12 >
                        <v-text-field  v-model="PackagePrice" type="number" :rules="requiredRule" label="Package Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-text-field v-model="InternalPrice" type="number" :rules="requiredRule" label="Internal Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-textarea v-model="Description"  name="input-7-1" label="Description"></v-textarea></v-flex>
                      <v-flex xs12 class="text-xs-right">
                        <ConfirmSignup v-on:confirmyes="AddPackage" v-bind:value1="PackageTitle" v-bind:value2="PackagePrice"/>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
  import ConfirmSignup from "../auth/ConfirmSignup";
import { mapState,dispatch } from 'vuex';

  export default {
    data: () => ({
      attachment: {
        photos: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      PackageTitle:'',
      PackagePrice:'',
      InternalPrice:'',
      Description:'',
      selectedClasses:'',
      module_id:[],
      items: [],
      items1: [
        'Three Wheeler',
        'motor Bike',
        'Car',
      ],
      requiredRule: [v => !!v || "This field is required"],
    }),
    watch: {},
    created() {
      Store.commit('setLoading', { loading: true })
      Store.dispatch('Modules/getAllClasses')
      Store.commit('setLoading', { loading: false })
      setTimeout(() => {
          for(var i=0;i<this.modules.length;i++){
              // var id=this.modules[i].id
              var name=this.modules[i].name
              this.items.push(name)
          }
          // console.log(this.items)
      }, 1000);


    },
    methods: {
      AddPackage(){
          var PackageDetails={
                'name':this.PackageTitle,
                'description':this.Description,
                'module_id':this.module_id,
                'special_price':this.InternalPrice,
          }
          console.log(PackageDetails)
          Store.dispatch('Packages/createPackage',PackageDetails).then(res=>{
              console.log(res)
              if(res.status==201){
                  console.log("Package created successfully")
                  this.$router.push('/packages');
              }
          }).catch(error=>{
            console.log(error)
          })
      },
      callMultiple(){
        this.ModuleNameToId()
        this.packagePriceAutoCalculation()
      },
      ModuleNameToId() {
            this.module_id=[]
            var ModuleList=Store.state.Modules.modules
            var Names=this.selectedClasses
            for(var i=0;i<Names.length;i++){
              // console.log(Names[i])
              // console.lo
              for(var x=0;x<ModuleList.length;x++){
                console.log(ModuleList[x].name)
                console.log(Names[i])

                if(Names[i]==ModuleList[x].name){
                    this.module_id.push(ModuleList[x].id)
                }
              }
              console.log(this.module_id)
            }
      },

      packagePriceAutoCalculation() {
            this.PackagePrice=''
            this.InternalPrice=''
            var ModuleList=Store.state.Modules.modules
            var Names=this.selectedClasses
            for(var i=0;i<Names.length;i++){
              // console.log(Names[i])
              // console.lo
              for(var x=0;x<ModuleList.length;x++){
                // console.log(ModuleList[x].name)
                // console.log(Names[i])

                if(Names[i]==ModuleList[x].name){
                    // console.log(this.InternalPrice)
                    // console.log(ModuleList[x].internal_price)
                    this.PackagePrice=Number(this.PackagePrice)+Number(ModuleList[x].internal_price)
                    this.InternalPrice=Number(this.InternalPrice)+Number(ModuleList[x].internal_price)
                }
              }
            }
            console.log(this.PackagePrice)

      },
      onPickImg(){
        this.$refs.ImgInput.click();
      },
      onImgPicked(){
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.attachment.photosURL.push(fileReader.result);
          console.log( this.attachment.photosURL);

        });
        fileReader.readAsDataURL(files[0]);
        this.attachment.photos.push(files[0]);
      },

    },
    computed:{
      ...mapState ({
              modules:Modules => Store.state.Modules.modules
      })
    },
    components: {
      ConfirmSignup
    }
  };
</script>
<style>
  .v-dialog{
    box-shadow: none!important;
  }
</style>
<!--<template>-->
  <!--<div class="text-xs-center create-package">-->
    <!--<v-dialog-->
      <!--v-model="dialog"-->
      <!--width="500"-->
    <!--&gt;-->
      <!--<v-btn-->
        <!--slot="activator"-->
        <!--color="red lighten-2"-->
        <!--dark-->
      <!--&gt;-->
        <!--Click Me-->
      <!--</v-btn>-->

      <!--<v-card class="create-package-card">-->
      <!--<v-layout xs12 >-->
        <!--<v-flex>-->
           <!--<v-card>-->
          <!--<v-card-title >-->
        <!--<v-layout xs12>-->
          <!--<v-flex>-->
            <!--<v-btn dark icon class="text-xs-left left">-->
            <!--<v-icon color="#585859" >keyboard_backspace</v-icon>-->
          <!--</v-btn>-->
          <!--<h1 class="text-xs-center mr-5" color="#0051a0">Create Package</h1>-->
          <!--</v-flex>-->
        <!--</v-layout>-->
        <!--</v-card-title>-->
        <!--</v-card>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
        <!--<v-layout xs12 >-->
          <!--<v-flex xs12 >-->
          <!--<v-text-field-->
            <!--class="px-4"-->
            <!--label="Package Title"-->
          <!--&gt;</v-text-field>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout xs12 >-->
          <!--<v-flex xs12 >-->
          <!--<v-text-field-->
            <!--class="px-4"-->
            <!--label="Classes"-->
          <!--&gt;</v-text-field>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout xs12 >-->
          <!--<v-flex xs12 >-->
          <!--<v-text-field-->
            <!--class="px-4"-->
            <!--label="Package Price"-->
          <!--&gt;</v-text-field>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout xs12 >-->
          <!--<v-flex xs12 >-->
          <!--<v-text-field-->
            <!--class="px-4"-->
            <!--label="Internal Price"-->
          <!--&gt;</v-text-field>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout xs12 >-->
          <!--<v-flex xs12 >-->
          <!--<v-textarea-->
          <!--name="input-7-1"-->
          <!--label="Description"-->
          <!--class="px-4"-->
        <!--&gt;</v-textarea>-->
        <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout>-->
           <!--<v-flex xs12>-->
        <!--<v-combobox-->
          <!--:items="items"-->
          <!--label="Select Classes"-->
          <!--multiple-->
          <!--chips-->
          <!--class="px-4"-->
        <!--&gt;-->
          <!--<template-->
            <!--slot="selection"-->
            <!--slot-scope="data"-->
          <!--&gt;-->
            <!--<v-chip-->
              <!--:selected="data.selected"-->
              <!--:disabled="data.disabled"-->
              <!--:key="JSON.stringify(data.item)"-->
              <!--class="v-chip&#45;&#45;select-multi"-->
              <!--@input="data.parent.selectItem(data.item)"-->
            <!--&gt;-->
              <!--<v-avatar-->
                <!--class="accent white&#45;&#45;text"-->
                <!--v-text="data.item.slice(0, 1).toUpperCase()"-->
              <!--&gt;</v-avatar>-->
              <!--{{ data.item }}-->
            <!--</v-chip>-->
          <!--</template>-->
        <!--</v-combobox>-->
      <!--</v-flex>-->
        <!--</v-layout>-->
        <!--<v-layout xs12>-->
          <!--<v-flex xs12 class="text-xs-center">-->
              <!--<v-btn class="cp-btn" color="#0051a0">FINISH</v-btn>-->
          <!--</v-flex>-->
        <!--</v-layout>-->
      <!--</v-card>-->
    <!--</v-dialog>-->
  <!--</div>-->
<!--</template>-->
<!--<script>-->
  <!--export default {-->
    <!--data () {-->
      <!--return {-->
        <!--items: [-->
          <!--'Class Type 1',-->
          <!--'Class Type 2',-->
          <!--'Class Type 3',-->
          <!--'Class Type 4'-->
        <!--]-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</script>-->
<!--<style>-->
<!--.cp-btn{-->
  <!--width: 91%;-->
  <!--color: #fff !important;-->
<!--}-->
<!--.create-package .v-dialog:not(.v-dialog&#45;&#45;fullscreen){-->
  <!--overflow: hidden;-->
<!--}-->
<!--.v-text-field>.v-input__control>.v-input__slot:before{-->
  <!--border: 0px solid #555 !important;-->
<!--}-->
<!--.create-package-card h1{-->
  <!--color: #0051a0;-->
<!--}-->
<!--</style>-->
