<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/packages`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="display-1 font-weight-medium">Edit : {{PackageTitle}}</h1>
              <p class="text-xs-center  ">Edit Your Package</p>
            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap >
                      <v-flex xs12><v-text-field :rules="requiredRule" v-model="PackageTitle" label="Package Title"></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-combobox :items="items" item-text="" @change="callMultiple"  :rules="requiredRule" v-model="selectedClasses" label="Select Classes" multiple chips>
                          <template slot="selection" slot-scope="data">
                            <v-chip
                              :selected="data.selectedClasses"
                              :disabled="data.disabled"
                              :key="JSON.stringify(data.item)"
                              class="v-chip--select-multi"
                              @input="data.parent.selectItem(data.item)">
                              <v-avatar
                                class="accent white--text"
                                v-text="data.item.slice(0, 1).toUpperCase()"></v-avatar>{{ data.item }}</v-chip>
                          </template>
                        </v-combobox>
                      </v-flex>
                      <v-flex xs12 >
                        <v-text-field  v-model="PackagePrice" type="number" :rules="requiredRule" label="Package Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-text-field v-model="InternalPrice" type="number" :rules="requiredRule" label="Internal Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-textarea v-model="Description"  name="input-7-1" label="Description"></v-textarea></v-flex>
                      <v-flex xs12 class="text-xs-right">
                        <ConfirmEdit v-on:confirmyes="packageEdit" v-bind:value1="PackageTitle" v-bind:value2="PackagePrice"/>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
import ConfirmEdit from "../auth/ConfirmEdit";
import { mapState,dispatch } from 'vuex';

  export default {
    // name: "EditPackage",
    data: () => ({
      attachment: {
        photos: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      PackageTitle:'',
      PackagePrice:'',
      InternalPrice:'',
      Description:'',
      selectedClasses:'',
      module_id:[],
      items: [],
      items1: [
        'Three Wheeler',
        'motor Bike',
        'Car',
      ],
      requiredRule: [v => !!v || "This field is required"],
    }),
    watch: {},
    created() {
            Store.commit('setLoading', { loading: true })
      Store.dispatch('Modules/getAllClasses')
      Store.commit('setLoading', { loading: false })
      setTimeout(() => {
          for(var i=0;i<this.modules.length;i++){
              // var id=this.modules[i].id
              var name=this.modules[i].name
              this.items.push(name)
          }
          // console.log(this.items)
      }, 1000)

      this.packId = this.$route.params.id;

      Store.dispatch("Packages/getPackageById", this.packId).then(res => {
      })


;

setTimeout(() => {
      this.PackageTitle =this.$store.state.Packages.adminpackages.name;
      this.Description =this.$store.state.Packages.adminpackages.description;
      this.module_id =this.$store.state.Packages.adminpackages.module_id;
      this.PackagePrice =this.$store.state.Packages.adminpackages.cost;
      this.InternalPrice =this.$store.state.Packages.adminpackages.special_price;
      this.selectedClasses=this.$store.state.Packages.adminpackages.modules.name;
   }, 3500);

  },
    methods: {
      packageEdit(){
          var PackageDetails={
                'name':this.PackageTitle,
                'description':this.Description,
                'module_id':this.module_id,
                'special_price':this.InternalPrice,
                'cost':this.PackagePrice,
          }
          console.log(this.packId)
          var packId=this.packId
                  var Data={
          "PackageDetails":PackageDetails,
          "packId":this.packId
        }
          this.$store.commit('setLoading', { loading: true })
          this.$store.dispatch('Packages/packageEdit',Data).then(res=>{
            console.log(res)
            this.$store.commit('setLoading', { loading: false })

          })
      },
      callMultiple(){
        this.ModuleNameToId()
        this.packagePriceAutoCalculation()
      },
      ModuleNameToId() {
            this.module_id=[]
            var ModuleList=Store.state.Modules.modules
            var Names=this.selectedClasses
            for(var i=0;i<Names.length;i++){
              // console.log(Names[i])
              // console.lo
              for(var x=0;x<ModuleList.length;x++){
                console.log(ModuleList[x].name)
                console.log(Names[i])

                if(Names[i]==ModuleList[x].name){
                    this.module_id.push(ModuleList[x].id)
                }
              }
              console.log(this.module_id)
            }
      },

      packagePriceAutoCalculation() {
            this.PackagePrice=''
            this.InternalPrice=''
            var ModuleList=Store.state.Modules.modules
            var Names=this.selectedClasses
            for(var i=0;i<Names.length;i++){
              for(var x=0;x<ModuleList.length;x++){


                if(Names[i]==ModuleList[x].name){
                    this.PackagePrice=Number(this.PackagePrice)+Number(ModuleList[x].internal_price)
                    this.InternalPrice=Number(this.InternalPrice)+Number(ModuleList[x].internal_price)
                }
              }
            }
            console.log(this.PackagePrice)

      },
      onPickImg(){
        this.$refs.ImgInput.click();
      },
      onImgPicked(){
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.attachment.photosURL.push(fileReader.result);
          console.log( this.attachment.photosURL);

        });
        fileReader.readAsDataURL(files[0]);
        this.attachment.photos.push(files[0]);
      },

    },
    computed:{
      ...mapState ({
              packages:Packages => Store.state.Packages.packages,
              modules:Modules => Store.state.Modules.modules

      })
    },
    components: {
      ConfirmEdit
    }
  };
</script>
<style>
  .v-dialog{
    box-shadow: none!important;
  }
</style>
