<template>
  <div>
    <v-container fluid class="pt-0">
    <v-layout wrap>
      <v-flex xs12 class=" ma-2">
        <div class="text-sm-left f-20" color="#002d4a">My Packages</div>
      </v-flex>
      <v-divider></v-divider>
    </v-layout>
          <div class=" card-r no-shadow">

            <!--<v-flex class="text-xs-center">-->
              <!--<span class="textColor f-25 font-weight-medium pa-1">My Packages</span>-->
            <!--</v-flex>-->
            <div class="grey lighten-3 card-r no-shadow mt-3">
              <div class="text-xs-left pa-2 pb-0">
                <!--<v-btn color="secondary" class="text-white card-r no-shadow" to="createclass">Add Class</v-btn>-->
                <v-btn color="secondary" class="text-white card-r no-shadow" to="createpackage">Add Package</v-btn>
                <!--<v-btn color="secondary" class="text-white card-r no-shadow" to="classes">View package</v-btn>-->
              </div>
              <v-container fluid grid-list-xl>
                <v-layout row wrap class="">
                  <v-flex d-flex lg4 sm6 xs12 v-for="(i,index) in adminpackages" :key="`1${i}`">
                    <v-card class="select-pack-card pa-3 no-shadow card-r ">
                        <div  class="text-xs-center f-30 font-weight-bold blue-grey--text">{{i.name}}</div>
                      <v-layout xs12>
                        <v-flex xs12 class="text-xs-center grey--text">
                          <p>{{i.description}}</p>
                        </v-flex>
                      </v-layout>
                      <!-- <v-layout xs12>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15 blue-grey--text">Total Hours -</span>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15">{{i.hours}} Hours</span>
                        </v-flex>
                      </v-layout> -->
                      <v-layout xs12>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15 blue-grey--text">Total Cost -</span>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15">KR {{i.cost}}</span>
                        </v-flex>
                      </v-layout>
                      <v-layout xs12>
                        <v-flex xs6 class="text-xs-left pa-0">
                          <v-btn icon v-bind:href="'editpackage/'+i.id"> <v-icon class="select-pack-color left blue-grey--text">edit</v-icon></v-btn>
                        </v-flex>
                        <v-flex xs6 class="text-xs-right pa-0">
                          <ConfirmDelete/>
                          <!--<v-btn icon> <v-icon class="select-pack-color right blue-grey--text">delete</v-icon></v-btn>-->
                        </v-flex>

                      </v-layout>
                      <!--<v-btn class="no-shadow card-r w-100 ma-0 primary text--white btnM">Select</v-btn>-->
                      <v-btn v-bind:href="'viewpackage/'+i.id" class="no-shadow card-r w-100 ma-0 primary text--white btnM">view</v-btn>

                    </v-card>
                  </v-flex>





                </v-layout>
              </v-container>
            </div>
          </div>
    </v-container>
  </div>
</template>
<style>
.lll{
  border: 1px solid gray!important;
}
.v-dialog{
  box-shadow: none!important;
}
</style>
<script>
  /* eslint-disable */
  import { mapState , dispatch } from "vuex"
  import ConfirmDelete from './ConfirmDelete'

  export default {
    data: () => ({
      show: false,
      return: {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
          }
        ]
      }
    }),
    mounted:()=>{
        Store.dispatch('Packages/getAllPackages').then(res=>{
            console.log(res)
        })

    }
    ,computed:{
        ...mapState({
              adminpackages:adminpackages => Store.state.Packages.adminpackages
        })
    }
  }
</script>
