<template>
  <div>
    <v-container class="pt-0 pb-5">
        <v-layout wrap>
          <v-flex xs12 class="ma-2">
            <div class="text-sm-left f-20" color="#002d4a">Package View ({{adminpackages.name}})</div>
          </v-flex>
          <v-divider></v-divider>
        </v-layout>
      <!--<h1 class="ml-4">Classes</h1>-->
      <v-card class="grey lighten-3 no-shadow card-r mt-2">
        <v-btn icon to="/classes">
          <v-icon color="grey">keyboard_arrow_left</v-icon>
        </v-btn>
        <v-btn icon flat color="grey" to="/confirmdelete" class="text-xs-right right"><v-icon>delete</v-icon></v-btn>
        <v-btn icon flat color="grey" to="/createpackage" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>
      </v-card>

      <v-layout xs12 class="mt-2 card-r">
        <v-flex xs5 offset-xs0 class="text-xs-right right mr-1">
          <v-carousel  height="300"
                       class="no-shadow card-r">
            <v-carousel-item
              v-for="(item,i) in items"
              :key="i"
              :src="adminpackage.image"
            ></v-carousel-item>
            <!-- {{adminpackage.name}} -->
          </v-carousel>
        </v-flex>
        <v-flex xs7 offset-xs0 class="ml-1 grey lighten-3 card-r no-shodow">
          <v-flex xs12 offset-xs0 class="ml-3 mr-3">
            <h1 class="mt-2">{{adminpackages.name}}</h1>
          </v-flex>
          <v-layout xs12>
            <v-flex xs12 offset-xs0 class="ml-3 mr-3">
              <span class="f-15 font-weight-bold text--darken-1 ">Price : - </span>
              <span class="f-15 font-weight-bold text--darken-1 ">$ {{adminpackages.special_price}}</span>
            </v-flex>
          </v-layout>
          <v-layout xs12>
            <v-flex xs12 offset-xs0 class="text-xs-left ml-3">
              <span class="f-15 font-weight-bold text--darken-1">Hours : - </span>
              <span class="f-15 font-weight-bold text--darken-1">{{adminpackages.hours}} h</span>
            </v-flex>
          </v-layout>
          <v-layout xs12 class="ml-3 mr-3 mt-2">
            <v-flex xs12 >
              <p>{{adminpackages.description}}</p>

            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>


      <v-card class="grey lighten-3 no-shadow card-r mt-2">
        <div class="f-20 font-weight-bold ml-2 pa-2">{{adminpackages.modules.length}} Classes In This Package</div>

        <v-layout row xs12 class="" v-for="(n, index) in adminpackages.modules" v-bind:key="n">
          <v-flex class="ma-3" xs12 v-for="i in 2" :key="`1${i}`" xs4>
            <v-card class="no-shadow card-r" xs4 >
              <a v-bind:href="'/viewclass/'+n.id">
                <v-img v-bind:src="n.image" height="200px" class="card-r"></v-img>
              </a>
              <v-card-title primary-title>
                <div>
                  <div class="headline" style="color: #424242;">{{n.name}}</div>
                  <span class="grey--text">subtitle for class</span>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-btn flat color="grey" to="/createclass"><v-icon class="px-2">edit</v-icon>Edit</v-btn>
                <v-btn flat color="grey" v-bind:to="'/confirmdelete/'+n.id"><v-icon >delete</v-icon>delete</v-btn>

                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card>
    </v-container>
  </div>
</template>
<style>
.v-carousel__next .v-btn i, .v-carousel__prev .v-btn i{
  font-size: 20px !important;
}
.v-carousel__controls{
  display: none!important;
}
</style>
<script>
/* eslint-disable */
// import ConfirmSignup from "../auth/ConfirmSignup";
  import { mapState, dispatch } from "vuex";
  export default {
    name: 'Viewpackage',
    data () {
      return {
        items: [
          {
            src: 'https://irp-cdn.multiscreensite.com/f6d3566d/dms3rep/multi/mobile/iStock-540862480-2121x1414.jpg'
          },
          {
            src: 'https://www.mercedesbenzdrivingacademy.ca/wp-content/uploads/2017/04/mercedes-benz-driver-training-education.jpg'
          },
          {
            src: 'https://i.ytimg.com/vi/Vxekzd2lcfg/maxresdefault.jpg'
          },
          {
            src: 'https://d3lp4xedbqa8a5.cloudfront.net/imagegen/max/ccr/1023/-/s3/digital-cougar-assets/whichcar/2015/11/27' +
            '/-1/Volvo-V40-driving-course.jpg'
          },
          {
            src: 'https://i.ytimg.com/vi/asy1qhZ9Dck/maxresdefault.jpg'
          }
        ],
        attachment: {
        photos: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      PackageTitle:'',
      PackagePrice:'',
      InternalPrice:'',
      Description:'',
      selectedClasses:'',
      module_id:[],
      items: [],
      }
    },
        props:['id'],
     created() {
      this.packageId = this.$route.params.id;
      Store.dispatch("Packages/getPackageById", this.packageId).then(res => {
      });
  },
  computed: {
    ...mapState({
      adminpackages: Packages => Store.state.Packages.adminpackages
    })
  },
  }
</script>
