<template>
<div>
  <v-container fluid grid-list-xl class="pa-0 mt-2 mb-1">
    <v-layout row wrap class="">
      <v-flex d-flex lg6 sm6 xs6>
        <v-menu
          ref="menu1"
          v-model="menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="startDate"
            label="Start Date"
            persistent-hint
            placeholder="dd/mm/yyyy"
            prepend-icon="event"
          ></v-text-field>
          <v-date-picker v-model="startDate" no-title @input="menu1 = false"></v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex d-flex lg6 sm6 xs6>
        <v-menu
          ref="menu2"
          v-model="menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="endDate"
            label="End Date"
            persistent-hint
            placeholder="dd/mm/yyyy"
            prepend-icon="event"
          ></v-text-field>
          <v-date-picker v-model="endDate" no-title @input="menu2 = false"></v-date-picker>
        </v-menu>
      </v-flex>
    </v-layout>
  </v-container>
  <v-container fluid grid-list-xl>
    <v-layout row wrap class="">

      <v-flex d-flex lg4 sm6 xs12 class="pa-0">
        <v-card class="card-r no-shadow">
          <h3 class="add-class-header pa-1">CLASSES</h3>
          <v-list three-line>
            <template v-for="(item, index) in studentClasses">
              <v-subheader class="justify-center"
                           v-if="item.header"
                           :key="item.header"
              >
                {{ item.header1 }}
              </v-subheader>

              <v-divider
                v-else-if="item.divider"
                :inset="item.inset"
                :key="index"
              ></v-divider>

              <v-list-tile
                v-else
                :key="item.title"
                avatar
                @click=""
              >
                <v-list-tile-avatar>
                  <v-avatar color="blue-grey lighten-4">
                    <img v-bind:src="item.image">
                  </v-avatar>
                </v-list-tile-avatar>

                <v-list-tile-content left class=" pb-3 f-12">
                  <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                  <v-list-tile-sub-title class=" pb-3 f-12" v-html="'<label>Hours</label> '+item.hours+' - '+item.description"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-action>
                  <v-dialog  class="pa-0 display-unset" v-model="dialog1" width="700">
                    <v-btn @click="save" slot="activator" class="no-shadow card-r primary mt-1" small color="blue">Book Now</v-btn>
                    <v-card class="card-r no-shadow">

                      <v-layout row xs12 justify-center>
                        <v-flex xs12>
                          <v-layout wrap>
                            <v-flex xs12 class=" ma-2">
                              <div class="text-sm-left f-20" color="#002d4a" @click="save">Book student Classes</div>
                            </v-flex>
                            <v-divider></v-divider>
                          </v-layout>
                          <v-container fluid grid-list-xl>
                            <v-layout row wrap class="" v-if="!loading">
                              <v-flex d-flex lg4 sm4 xs12 class="card-r n">
                                <v-menu
                                  ref="menu3"
                                  v-model="menu3"
                                  :close-on-content-click="true"
                                  :nudge-right="40"
                                  lazy
                                  class="card-r no-shadow"
                                  transition="scale-transition"
                                  offset-y
                                  full-width
                                  max-width="290px"
                                  min-width="290px"
                                >
                                  <v-text-field
                                    slot="activator"
                                    v-model="selectedDate"
                                    label="Select Date"
                                    persistent-hint
                                    placeholder="dd/mm/yyyy"
                                    prepend-icon="event"
                                  ></v-text-field>
                                  <v-date-picker
                                    @input="GetTime(selectedDate)"
                                    v-model="selectedDate"
                                    no-title >
                                  </v-date-picker>
                                </v-menu>
                              </v-flex>
                              <v-flex d-flex lg4 sm4 xs12>
                                <v-select
                                  :items="timeslot"
                                  v-model="selectedTime"
                                  class="input-group--focused"
                                  prepend-icon="alarm"
                                  placeholder="select your time"
                                  label="Starting Time"
                                ></v-select>
                              </v-flex>
                              <v-flex d-flex lg4 sm4 xs12>
                                <v-btn @click="bookClass(selectedDate,selectedTime,packageId,moduleId)" larg depressed class="no-shadow card-r ml-4 mr-4" color="primary">book class</v-btn>
                              </v-flex>
                            </v-layout>
                            <v-layout row wrap class="" v-if="loading" >
                              <v-flex d-flex lg4 sm4 xs4>
                                <div class="text-xs-center">
                                  <v-progress-circular
                                    :size="50"
                                    indeterminate
                                    color="primary"
                                  ></v-progress-circular>
                                </div>
                              </v-flex>
                              <v-divider></v-divider>
                            </v-layout>
                          </v-container>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-dialog>

                <!--<v-btn-->
                  <!--class="primary no-shadow card-r ma-0" small color="blue">Book Now</v-btn>-->
                </v-list-action>
              </v-list-tile>
            </template>
          </v-list>
        </v-card>
      </v-flex>
      <v-flex d-flex lg4 sm6 xs12 class="pa-0">
        <v-card class="card-r no-shadow">
          <!--<h3 class="add-class-header pa-3">BOOKED CLASSES</h3>-->
          <h3 class="add-class-header pa-1">UPCOMMING</h3>
          <v-list three-line>
            <template v-for="(item, index) in UpcomingClass">
              <v-subheader class="justify-center"
                           v-if="item.header"
                           :key="item.header"
              >
                {{ item.header }}
              </v-subheader>

              <v-divider
                v-else-if="item.divider"
                :inset="item.inset"
                :key="index"
              ></v-divider>

              <v-list-tile
                v-else
                :key="item.title"
                avatar
                @click=""
              >
                <v-list-tile-avatar>
                  <!--<img :src="item.avatar">-->
                  <v-avatar color="green">
                    <img v-bind:src="item.image">
                  </v-avatar>
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                  <v-list-tile-sub-title class=" pb-3 f-12" v-html="'<label>Hours</label> '+item.hours+' - '+item.description"></v-list-tile-sub-title>
                </v-list-tile-content>
                <v-list-action>
                  <!--<v-btn class="no-shadow card-r ma-0 mb-1 text-white" small color="grey">cancel book</v-btn>-->
                  <!--<v-btn class="no-shadow card-r primary ma-0 mt-1" small color="blue">change time</v-btn>-->
                  <v-dialog  class="pa-0 display-unset" v-model="dialog2" width="700">
                    <v-btn @click="save" slot="activator" class="no-shadow card-r ma-0 mb-1 text-white" small color="grey">change time</v-btn>
                    <v-btn @click="save" slot="activator" class="no-shadow card-r primary ma-0 mt-1" small color="blue">Cancel book</v-btn>
                    <v-card class="card-r no-shadow">
                      <v-layout row xs12 justify-center>
                        <v-flex xs12>
                          <v-layout wrap>
                            <v-flex xs12 class=" ma-2">
                              <div class="text-sm-left f-20" color="#002d4a" @click="save">Book student Classes</div>
                            </v-flex>
                            <v-divider></v-divider>
                          </v-layout>
                          <v-container fluid grid-list-xl>
                            <v-layout row wrap class="">
                              <v-flex d-flex lg4 sm4 xs12 class="card-r n">
                                <v-menu
                                  ref="menu3"
                                  v-model="menu3"
                                  :close-on-content-click="true"
                                  :nudge-right="40"
                                  lazy
                                  class="card-r no-shadow"
                                  transition="scale-transition"
                                  offset-y
                                  full-width
                                  max-width="290px"
                                  min-width="290px"
                                >
                                  <v-text-field
                                    slot="activator"
                                    v-model="selectedDate"
                                    label="Select Date"
                                    persistent-hint
                                    placeholder="dd/mm/yyyy"
                                    prepend-icon="event"
                                  ></v-text-field>
                                  <v-date-picker v-model="selectedDate" no-title ></v-date-picker>
                                </v-menu>
                              </v-flex>
                              <v-flex d-flex lg4 sm4 xs12>
                                <v-select
                                  :items="timeslot"
                                  class="input-group--focused"
                                  prepend-icon="alarm"
                                  placeholder="select your time"
                                  label="Starting Time"
                                ></v-select>
                              </v-flex>
                              <v-flex d-flex lg4 sm4 xs12>
                                <v-btn @click="bookClass" larg depressed class="no-shadow card-r ml-4 mr-4" color="primary">book class</v-btn>
                              </v-flex>
                              <v-divider></v-divider>
                            </v-layout>
                          </v-container>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-dialog>

                  <!--<v-btn flat class="grey text-white card-r no-shadow" small>cancel book</v-btn>-->
                  <!--<v-btn class="primary card-r no-shadow" small>change time</v-btn>-->
                </v-list-action>
              </v-list-tile>
            </template>
          </v-list>
        </v-card>
      </v-flex>
      <v-flex d-flex lg4 sm6 xs12 class="pa-0">
        <v-card class="card-r no-shadow">
          <!--<h3 class="add-class-header pa-3">BOOKED CLASSES</h3>-->
          <h3 class="add-class-header pa-1">PAST </h3>
          <v-list three-line>
            <template v-for="(item, index) in pastClasses">
              <v-subheader class="justify-center"
                           v-if="item.header"
                           :key="item.header"
              >
                {{ item.header }}
              </v-subheader>

              <v-divider
                v-else-if="item.divider"
                :inset="item.inset"
                :key="index"
              ></v-divider>

              <v-list-tile
                v-else
                :key="item.title"
                avatar
                @click=""
              >
                <v-list-tile-avatar>
                  <img v-bind:src="item.image">

                  <!--<v-avatar color="blue-grey">-->
                  <!--<v-icon dark>account_circle</v-icon>-->
                  <!--</v-avatar>-->
                </v-list-tile-avatar>

                <v-list-tile-content>
                  <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                  <v-list-tile-sub-title class=" pb-3 f-12" v-html="'<label>Hours</label> '+item.hours+ '-' +item.description"></v-list-tile-sub-title>
                </v-list-tile-content>
                <!--<v-btn-->
                  <!--class="primary no-shadow card-r" small color="blue">Book Now</v-btn>-->
                <v-list-action>

                  <v-btn class="no-shadow card-r primary ma-0 text-white" to="viewclass" small color="blue">view</v-btn>
                </v-list-action>

              </v-list-tile>
            </template>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>

  <!--<v-layout row>-->
    <!--<v-flex xs12 sm4 lg4 class="pl-1">-->
      <!--<v-layout xs12>-->
        <!--<v-flex class="text-lg-center">-->
          <!--<h3 class="add-class-header pa-3">CLASSES</h3>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
      <!--<v-card>-->
        <!--<v-list three-line>-->
          <!--<template v-for="(item, index) in items">-->
            <!--<v-subheader class="justify-center"-->
                         <!--v-if="item.header"-->
                         <!--:key="item.header"-->
            <!--&gt;-->
              <!--{{ item.header1 }}-->
            <!--</v-subheader>-->

            <!--<v-divider-->
              <!--v-else-if="item.divider"-->
              <!--:inset="item.inset"-->
              <!--:key="index"-->
            <!--&gt;</v-divider>-->

            <!--<v-list-tile-->
              <!--v-else-->
              <!--:key="item.title"-->
              <!--avatar-->
              <!--@click=""-->
            <!--&gt;-->
              <!--<v-list-tile-avatar>-->
                <!--<v-avatar color="blue-grey lighten-4">-->
                  <!--<v-icon dark>edit</v-icon>-->
                <!--</v-avatar>-->
              <!--</v-list-tile-avatar>-->

              <!--<v-list-tile-content left>-->
                <!--<v-list-tile-title v-html="item.title"></v-list-tile-title>-->
                <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
              <!--</v-list-tile-content>-->
              <!--<v-list-action>-->
                <!--<v-btn outline small color="blue">book now</v-btn>-->
              <!--</v-list-action>-->

              <!--&lt;!&ndash;<v-btn v-show="!seen" v-on:click='seen = !seen' outline small color="blue">delete</v-btn>&ndash;&gt;-->
              <!--&lt;!&ndash;<v-btn v-show="seen" v-on:click='seen = !seen' outline small color="blue">cancel</v-btn>&ndash;&gt;-->
            <!--</v-list-tile>-->

          <!--</template>-->
        <!--</v-list>-->
      <!--</v-card>-->
    <!--</v-flex>-->

    <!--<v-flex xs12 sm4 lg4 class="pr-1">-->
      <!--<v-layout xs12>-->
        <!--<v-flex class="text-lg-center">-->
          <!--<h3  class="add-class-header pa-3">UP COMING</h3>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
      <!--&lt;!&ndash;<v-layout xs12 class="right" style="right:-100px;position: absolute; z-index: 10; top: -50px">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex xs12>&ndash;&gt;-->
      <!--&lt;!&ndash;<span >Create class</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-btn fab dark color="indigo">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-icon dark>add</v-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-btn>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
      <!--<v-card>-->
        <!--<v-list three-line>-->
          <!--<template v-for="(item, index) in items">-->
            <!--<v-subheader class="justify-center"-->
                         <!--v-if="item.header"-->
                         <!--:key="item.header"-->
            <!--&gt;-->
              <!--{{ item.header }}-->
            <!--</v-subheader>-->

            <!--<v-divider-->
              <!--v-else-if="item.divider"-->
              <!--:inset="item.inset"-->
              <!--:key="index"-->
            <!--&gt;</v-divider>-->

            <!--<v-list-tile-->
              <!--v-else-->
              <!--:key="item.title"-->
              <!--avatar-->
              <!--@click=""-->
            <!--&gt;-->
              <!--<v-list-tile-avatar>-->
                <!--&lt;!&ndash;<img :src="item.avatar">&ndash;&gt;-->
                <!--<v-avatar color="green">-->
                  <!--<v-icon dark>alarm</v-icon>-->
                <!--</v-avatar>-->
              <!--</v-list-tile-avatar>-->

              <!--<v-list-tile-content>-->
                <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
              <!--</v-list-tile-content>-->
              <!--<v-list-action>-->
                <!--<v-btn outline small color="blue">cancel book</v-btn>-->
                <!--<v-btn outline small color="blue">change time</v-btn>-->
              <!--</v-list-action>-->
            <!--</v-list-tile>-->
          <!--</template>-->
        <!--</v-list>-->
      <!--</v-card>-->
    <!--</v-flex>-->

    <!--<v-flex xs12 sm4 lg4 class="pr-1">-->
      <!--<v-layout xs12>-->
        <!--<v-flex class="text-lg-center">-->
          <!--<h3  class="add-class-header pa-3">PAST</h3>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
      <!--&lt;!&ndash;<v-layout xs12 class="right" style="right:-100px;position: absolute; z-index: 10; top: -50px">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex xs12>&ndash;&gt;-->
      <!--&lt;!&ndash;<span >Create class</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-btn fab dark color="indigo">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-icon dark>add</v-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-btn>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
      <!--<v-card>-->
        <!--<v-list three-line>-->
          <!--<template v-for="(item, index) in items">-->
            <!--<v-subheader class="justify-center"-->
                         <!--v-if="item.header"-->
                         <!--:key="item.header"-->
            <!--&gt;-->
              <!--{{ item.header }}-->
            <!--</v-subheader>-->

            <!--<v-divider-->
              <!--v-else-if="item.divider"-->
              <!--:inset="item.inset"-->
              <!--:key="index"-->
            <!--&gt;</v-divider>-->

            <!--<v-list-tile-->
              <!--v-else-->
              <!--:key="item.title"-->
              <!--avatar-->
              <!--@click=""-->
            <!--&gt;-->
              <!--<v-list-tile-avatar>-->
                <!--<img :src="item.avatar">-->
                <!--&lt;!&ndash;<v-avatar color="blue-grey">&ndash;&gt;-->
                <!--&lt;!&ndash;<v-icon dark>account_circle</v-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;</v-avatar>&ndash;&gt;-->
              <!--</v-list-tile-avatar>-->

              <!--<v-list-tile-content>-->
                <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
              <!--</v-list-tile-content>-->

              <!--<v-list-action>-->

                <!--<v-btn outline small color="blue">view</v-btn>-->
              <!--</v-list-action>-->

            <!--</v-list-tile>-->
          <!--</template>-->
        <!--</v-list>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  <!--</v-layout>-->
</div>
</template>
<script>
/* eslint-disable */
  export default {
    data () {
      return {
        loading:false,
        seen: true,
        menu1:false,
        menu2:false,
        menu3:false,
        menu4:false,
        startDate:'',
        endDate:'',
        selectedDate:'',
        selectedTime:'',
        dialog1:false,
        dialog2:false,
        allowedDates:{
          date_from:'',
          date_to:'',
        },
        date_from:'',
        date_to:'',
        timeslot:[],
        teacherTime:'',
        studentId: '',
        studentClasses: [],
        UpcomingClass: [],
        pastClasses: [],
      }
    },
    created: function () {
            console.log("created")
            this.studentId = this.$route.params.id;

            Store.dispatch('getSingleStudentDetails', this.studentId);
            var studentDetails = Store.state.studentDetails;
            var packageId=studentDetails.packages[0].id


            Store.dispatch('getStudentClass', {'studentid':this.studentId, 'packageid':packageId});
            var classDetails = Store.state.studentClassDetails;

            this.studentClasses = classDetails.non_booked_modules;
            this.UpcomingClass = classDetails.booked_modules;
            this.pastClasses = classDetails.past_modules;

//            this.UpcomingClass = Store.dispatch('getStudentUpcomingClass', this.studentId);
//            this.pastClasses = Store.dispatch('getStudentPastClass', this.studentId);
    },
    methods:{
      bookClass(selectedDate,selectedTime,packageId,moduleId,teacherBookingId){
        this.loading=true
          console.log("Book class")
          console.log(selectedDate,selectedTime);

          var data={
            student_id:parseInt(this.$route.params.id),
            module_id:moduleId,
            // module_id:22,
            // package_id:5,
            // teacher_bookings_id:21,
            package_id:packageId,
            teacher_bookings_id:teacherBookingId,
            date:selectedDate,
            time:selectedTime
          }
          Store.dispatch("Students/adminBookStudentClass",{data})
          .then(res=>{
            console.log(res)
            if(res.status==201){
              this.dialog1=false
              this.loading=false
              console.log("finish")
            }
          })

      },
      save(moduleId,packageId){
        this.loading=true
        console.log("Save")
        let student_id=this.$route.params.id
        let module_id=moduleId
        let package_id=packageId

        // student_id=9
        module_id=22
        package_id=5
        let data={
          'student_id':parseInt(student_id),
          'module_id':module_id,
          'package_id':package_id
        }
        console.log(data)
        Store.dispatch("Students/getTeacherTime",data)
        setTimeout(() => {
            var teacherTime=Store.state.Students.teacherTime
            this.teacherTime=teacherTime
            this.allowedDates.date_from=teacherTime.date_from
            this.allowedDates.date_to=teacherTime.date_to
            this.selectedDate=this.allowedDates.date_from
            this.date_from=this.allowedDates.date_from
            this.date_to=this.allowedDates.date_to
            console.log(this.allowedDates)
            this.loading=false
        }, 500);
      },
      GetTime(selectedDate){
          console.log("selectedDate")
          console.log(selectedDate)
           var date = new Date(selectedDate);
           var day = date.getDay()
           console.log(day);
           console.log(this.teacherTime);
            switch(day){
              case 1:day="MON";break;
              case 2:day="TUE";break;
              case 3:day="WED";break;
              case 4:day="THU";break;
              case 5:day="FRI";break;
              case 6:day="SAT";break;
              case 7:day="SUN";break;
            }
            // console.log(day)
          var time=[];
           for(var x=0;x<this.teacherTime.times.length;x++){
             if(this.teacherTime.times[x][0].day==day){
              //  console.log(day)
               console.log(this.teacherTime.times[x])
               for(var y=0;y<this.teacherTime.times[x].length;y++){
                 time.push(this.teacherTime.times[x][y].time_from)
               }
               break;
             }
           }
          this.timeslot=time
          console.log(this.timeslot)


      }
    },
  }
</script>
<style>
  .v-btn--small{
    width: 104px !important;
  }
</style>
