<template>
  <div class="personal">
    <v-container class="pa-0">
      <v-layout>
        <v-flex>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-img size="36px" :src="coverPhoto" class="CoverPhoto"></v-img>

        </v-flex>
      </v-layout>
      <v-layout row class="text-md-center">

        <v-flex xs12 class="profileImg ">
          <v-img :src="studentdetails.phone" class="boxShadow"></v-img>
        </v-flex>
      </v-layout>
      <v-container fluid grid-list-xl>
        <v-layout row wrap class="">
          <v-flex d-flex lg12 sm12 xs12>
            <div class="text-xs-center">
              <span class="headline font-weight-black text-capitalize">{{studentdetails.name}}</span> <br>
              <span class="subheading font-weight-light text-capitalize"> Lorem Ipsum is simply dummy text
                  of the printing and typesetting industry. Lorem Ipsum has been the i
                </span>
              <p class="title font-weight-bold">About</p>
              <p class="text-xs-left">
                A student is a learner, or someone who attends an educational
                institution. ... In its widest use, student is used for anyone who is learning
              </p>
            </div>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p> Full Name </p> </v-flex>
                <v-flex xs6>{{studentdetails.name}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Email</p> </v-flex>
                <v-flex xs6>{{studentdetails.email}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Phone Number</p> </v-flex>
                <v-flex xs6>{{studentdetails.phone}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Date of Birth</p> </v-flex>
                <v-flex xs6>{{studentdetails.dob}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Address</p> </v-flex>
                <v-flex xs6>krt7inkfguybh</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>City</p> </v-flex>
                <v-flex xs6>{{studentdetails.city}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>State</p> </v-flex>
                <v-flex xs6>krt7inkfguybh</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Postal Code</p> </v-flex>
                <v-flex xs6>{{studentdetails.zipCode}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>City</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>State</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>Postal Code</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Gender</p> </v-flex>
                <v-flex xs6>{{studentdetails.gender}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>


      <v-card xs12 to="teacherprofile" class="grey lighten-3 no-shadow card-r" v-for="n in studentTeacherdetails ">

        <v-layout class="pl-3 grey mt-2 lighten-3 no-shadow card-r" >
          <v-flex >
            <div class="f-15 mt-2 font-weight-bold pt-2 text--secondary">My Trainers</div>
          </v-flex>
          <v-flex>
            <v-btn flat color="grey" class="text-xs-right mb-3 right"> <v-icon>edit</v-icon>Change Teacher</v-btn>
          </v-flex>
        </v-layout>
        <v-layout class="px-5">
          <v-flex>
            <v-img :src="TcoverPhoto" class="CoverPhoto card-r"></v-img>
          </v-flex>
        </v-layout>
        <v-layout class="text-xs-center px-5">
          <v-flex xs12 class="profileImgd pb-3">
            <v-img :src="n.teacher.image" class="no-shadow"></v-img>
            <span class="f-15 font-weight-black text--primary text-capitalize">{{n.teacher.name}}</span> <br>
            <span class="f-12  text--secondary text-capitalize">
              Teachers create lesson plans and teach those plans to the entire class, individually to
                students or in small groups, track student progress and present the information to parents,
                create tests, create and reinforce classroom rules, work with school administration prepare
                students for standardized tests, and manage ...
                </span>
          </v-flex>
        </v-layout>
      </v-card>


    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */
  import { mapState, dispatch } from "vuex";

  export default {
    // name: "personal",
    data: () => ({
      coverPhoto: "https://cdn.edarabia.com/wp-content/uploads/2017/06/university-of-bolton-acerak-driving-student-centered-learning-and-development.jpg",
      TcoverPhoto: "https://s3.amazonaws.com/stg-drivers-license-assistance.org/images/blog/find-driving-teacher.jpg",
      ProfileImg: "https://greatertulsadrivingschool.files.wordpress.com/2012/09/image_oregon-driver-education-center-2_grid_6.jpg",
      TProfileImg: "https://cdn.vuetifyjs.com/images/lists/2.jpg"
    }),
    //   computed:{
    //   user(){
    //     return this.$session.get("user")
    //     // return this.$store.getters.getUser
    //   }
    // },
    props:['id'],
    created() {
      console.log("created")
      this.studentId = this.$route.params.id;
      Store.dispatch("Students/getStudentById", this.studentId).then(res => {
        });
        this.studentId = this.$route.params.id;
      Store.dispatch("Students/getStudentTeacherById", this.studentId).then(res => {
      });


    },
    computed: {
      ...mapState({
        studentdetails: Students => Store.state.Students.studentdetails,
        studentTeacherdetails: Students => Store.state.Students.studentTeacherdetails
      })
    },


  };
</script>
