<template>
  <div class="profile">
    <v-container class="pt-0">

      <v-layout row class="pb-2 px-0">

        <v-flex>
          <v-tabs
            slot="extension"
            v-model="profileTabs"
            centered
            fixed-tabs
            color="transparent"
          >
            <v-tabs-slider color="blue"></v-tabs-slider>

            <v-tab href="#StudentPersonal" class="primary--text f-12">Student Personal</v-tab>
            <v-tab href="#StudentClasses" class="primary--text f-12">Classes</v-tab>
            <v-tab href="#Packages" class="primary--text f-12">Subscription</v-tab>
            <!--<v-tab href="#PaymentMethod" class="primary&#45;&#45;text f-12">Payment Method</v-tab>-->
            <!--<v-tab href="#StudentInvoice" class="primary&#45;&#45;text f-12">Student Invoice</v-tab>-->


          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-tabs-items v-model="profileTabs">
            <v-tab-item id="StudentPersonal" >
              <student-personal/>
            </v-tab-item>
            <v-tab-item id="StudentClasses">
              <student-classes/>
            </v-tab-item>
            <v-tab-item id="Packages">
              <packages/>
            </v-tab-item>
            <v-tab-item id="PaymentMethod">
              <payment-method/>
            </v-tab-item>
            <v-tab-item id="StudentInvoice">
              <student-invoice/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
  import StudentPersonal from "./StudentPersonal";
  import Packages from "./Packages";
  import PaymentMethod from "./PaymentMethod";
  import StudentClasses from "./StudentClasses";
  import StudentInvoice from "./StudentInvoice";
  export default {
    name: "AdminProfile",
    data: () => ({
      profileTabs: null
    }),
    components: {
      StudentPersonal,
      Packages,
      PaymentMethod,
      StudentClasses,
      StudentInvoice,
    }
  };
</script>
