<template>
  <div class="profile">
    <v-container class="pt-0">

      <!--<v-layout row class="pb-2 px-0 ">-->
        <!--<v-flex class="text-xs-right">-->
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>-->
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">delete</v-icon></v-btn>-->
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">block</v-icon></v-btn>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
      <v-layout row class="pb-2 px-0">

        <v-flex>
          <v-tabs
            slot="extension"
            v-model="profileTabs"
            centered
            fixed-tabs
            color="transparent"
          >
            <v-tabs-slider color="blue"></v-tabs-slider>
            <v-tab href="#AdminPersonal" class="primary--text f-12">Personal</v-tab>
            <v-tab href="#Media" class="primary--text f-12">gallary</v-tab>
            <v-tab href="#PurchasedPackage" class="primary--text f-12">Purchased Package</v-tab>
            <v-tab href="#Payment" class="primary--text f-12">Payment Info</v-tab>
            <v-tab href="#subscription" class="primary--text f-12">Subscription</v-tab>


          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-tabs-items v-model="profileTabs">
            <v-tab-item id="AdminPersonal" >
              <admin-personal/>
            </v-tab-item>
            <v-tab-item id="Media">
              <media/>
            </v-tab-item>
            <v-tab-item id="PurchasedPackage">
              <purchased-package/>
            </v-tab-item>
            <v-tab-item id="Payment">
              <payment-methord/>
            </v-tab-item>
            <v-tab-item id="subscription">
              <subscription/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
/* eslint-disable */
import AdminPersonal from "./AdminPersonal";
import PaymentMethord from "./PaymentMethord";
import PurchasedPackage from "./PurchasedPackage";
import Subscription from "./Subscription";
import Media from "./Media";
import { dispatch } from "vuex";

export default {
  name: " AdminProfile",
  data: () => ({
    profileTabs: null
  }),
  components: {
    Subscription,
    Media,
    AdminPersonal,
    PaymentMethord,
    PurchasedPackage
  },
  created(){
    console.log("Created")
    Store.dispatch("AdminProfile/getSubscriptionInformation")
    console.log(Store)
    console.log('this is after store')

  }
};
</script>
