<template>
<div class="personal">
    <v-container class="pa-0">
      <!--<v-layout wrap class="mb-2">-->
        <!--<v-flex xs12 class=" ma-2">-->
          <!--<div class="text-sm-left f-20" color="#002d4a">My profile</div>-->
        <!--</v-flex>-->
        <!--<v-divider></v-divider>-->
      <!--</v-layout>-->

      <!--<v-btn-->
        <!--slot="activator"-->
        <!--color="blue lighten-2"-->
        <!--dark>-->
        <!--edit profile-->
      <!--</v-btn>-->
      <v-layout>
        <v-flex>

        </v-flex>
      </v-layout>
        <v-layout>
            <v-flex>
                <v-img size="36px" :src="coverPhoto" class="CoverPhoto"></v-img>
              <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>-->
              <v-btn to="editprofile" icon flat color="grey" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>
              <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">delete</v-icon></v-btn>-->
              <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">block</v-icon></v-btn>-->
            </v-flex>
        </v-layout>
        <v-layout row class="text-md-center">

            <v-flex xs12 class="profileImg ">
                <v-img :src="ProfileImg" class="boxShadow"></v-img>
                <!-- </v-flex> -->

                <!-- <v-flex class="profileDet" xs3> -->
            </v-flex>
        </v-layout>
      <v-container fluid grid-list-xl>
        <v-layout row wrap class="">
          <v-flex d-flex lg12 sm12 xs12>
            <div class="text-xs-center">
              <span class="headline font-weight-black text-capitalize">{{user.name}}</span> <br>
              <span class="subheading font-weight-light text-capitalize"> Lorem Ipsum is simply dummy text
                  of the printing and typesetting industry. Lorem Ipsum has been the i
                </span>
              <p class="title font-weight-bold">About</p>
              <p class="text-xs-left">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book.
              </p>
            </div>
          </v-flex>
           <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p> Full Name </p> </v-flex>
                <v-flex xs6>{{user.name}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Email</p> </v-flex>
                <v-flex xs6>{{user.email}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Phone Number</p> </v-flex>
                <v-flex xs6>{{user.phone}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Date of Birth</p> </v-flex>
                <v-flex xs6>{{user.dob}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Address</p> </v-flex>
                <v-flex xs6>{{UserAddress}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>City</p> </v-flex>
                <v-flex xs6>{{user.city}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Zip Code</p> </v-flex>
                <v-flex xs6>{{user.zipCode}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Gender</p> </v-flex>
                <v-flex xs6>{{user.gender}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>

        </v-layout>
      </v-container>
        <!--</v-layout>-->
    </v-container>
</div>

</template>

<script>
/* eslint-disable */
  import { mapState, dispatch } from 'vuex'

export default {
    name: "personal",
    data: () => ({
        coverPhoto: "https://prodwpids-idrivesafely.netdna-ssl.com/wp-content/themes/enterprise-pro/images/insurance-portal/Insurance_Woman_Driver.jpg",
        ProfileImg: "https://m.sephora.ae/wysiwyg/brands/500x500_BOSS_BOTTLED_Gearshift.jpg",
        UserAddress:Store.state.user.street+' '+
                    Store.state.user.streetNumber+' '+
                    Store.state.user.floor+' '+
                    Store.state.user.door+' '+
                    Store.state.user.zipCode+' '+
                    Store.state.user.city,
    }),
    computed:{
        ...mapState({

        user: 'user',
        loading: 'loading',
        mode: 'mode'
      }),
  },
  created:()=>{
      this.$router.push({ path:`/Profile` })

  },

};
</script>
