<template>
  <div class="EditCustomer">
    <v-container>
      <v-flex class="text-xs-center" xs12 sm12 lg12 style="margin:auto">
        <div class=" card-r no-shadow">
      <v-flex>
        <a :href="`/adminprofile`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
        <h1 class="display-1 font-weight-medium">Edit Customer</h1>
        <!--<p class="text-xs-center  ">Create Your New Student</p>-->

      </v-flex>
      <v-card class="card-r no-shadow">

        <!--<h1 class="display-1 text-xs-center font-weight-bold">Edit Customer</h1>-->
        <!--<v-divider class="mt-3"> </v-divider>-->

        <v-layout row>
          <v-form v-model="EditClub">
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      type="text"
                      placeholder="School Name"
                      class="textFeald"
                      outline
                      label="School Name"
                      v-model="schoolName"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs16>
                    <v-text-field
                      required
                      color="#749DBF"
                      type="text"
                      placeholder="User Name"
                      class="textFeald"
                      outline
                      label="Full Name"
                      v-model="name"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      type="number"
                      label="Phone Number"
                      placeholder="Phone Number"
                      :rules="[ v => v.length >= 8 || 'Min 8 characters']"
                      v-model="phone"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs6 class="textFeald date">
                    <v-dialog
                      ref="dialog"
                      :close-on-content-click="false"
                      v-model="birthday"
                      :return-value.sync="date"
                      lazy
                      persistent
                      full-width
                      width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        v-model="date"
                        label="Birthday"
                        placeholder="Birthday"
                        outline
                        readonly
                        required
                      ></v-text-field>
                      <v-date-picker v-model="date" no-title scrollable @input="$refs.dialog.save(date)">
                        <!-- <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="birthday = false">Cancel</v-btn>
                        <v-btn flat color="primary" @click="$refs.dialog.save(date)">OK</v-btn> -->
                      </v-date-picker>
                    </v-dialog>
                  </v-flex>

                  <v-flex xs6>
                    <v-select
                      color="#749DBF"
                      v-model="gender"
                      :items="gender_"
                      label="Gender"
                      required
                      outline
                      placeholder="Gender"
                    ></v-select>

                  </v-flex>

                  <!-- <v-flex xs12>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="Discription"
                      placeholder="Discription"
                      v-model="discription"
                      multi-line
                    ></v-text-field>
                  </v-flex> -->

                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="Address"
                      placeholder="Address"
                      v-model="address"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="City"
                      placeholder="City"
                      v-model="city"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="State"
                      placeholder="State"
                      v-model="state"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      type="number"
                      outline
                      label="Zip Code"
                      placeholder="Zip Code"
                      v-model="zip"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      type="number"
                      outline
                      label="Commission Rate"
                      placeholder="Commission Rate"
                      v-model="commission"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs6>
                    <v-select
                      v-model="cancel_time"
                      :items="cancel_time_"
                      attach

                      chips
                      placeholder="Cancel Time"
                      label="Cancel Time"

                    ></v-select>
                  </v-flex>

                  <!-- <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="Email"
                      placeholder="Email"
                      v-model="adminemail"
                    ></v-text-field>
                  </v-flex> -->



                  <v-flex xs6>

                    <v-select
                      v-model="Package_type"
                      :items="package_"
                      attach
                      chips
                      placeholder="Package type"
                      label="Package"
                      multiple
                    ></v-select>
                  </v-flex>
                </v-layout>

              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" class="no-shadow card-r" dark @click="onSignup" >Update</v-btn>
              </v-card-actions>

            </v-card-actions>
          </v-form>
        </v-layout>
      </v-card>
      <!-- <notifications group="error" position="top center"/>
     <notifications group="success" position="bottom center"/> -->
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */

  export default {
    props:["id"],
    name: "EditCustomer",
    data: () => ({
      ClubView:null,
      passwordShow: false,
      EditClub: false,
      date: null,
      birthday: false,
      Membershipdata:null,
      Package_type: [],
      package_:[],

      gender_:['male','female'],
      schoolName:"",
      name: "",
      phone:"",
      club_number: "",
      gender: "",
      state: "",
      city: "",
      discription: "",
      address:"",
      adminpassword: "",
      adminemail:"",
      zip:"",
      cancel_time:null,
      cancel_time_:['01:00:00','02:00:00','05:00:00','12:00:00','24:00:00'],
      commission:"",
      package_: [],
      memberShipID:[],

      passwordRule: [
        v => !!v || "Password is required",
        v => v.length >= 8 || "Password must be more than 8 characters"
      ],
      phoneRule: [
        v => !!v || "Phone Number is required",
        v => v.length <= 8 || "Minimum 8 Digits number"
      ]

    }),
    // beforeCreate(){
    // // },
    beforeDestroy(){
      // this.$store.state.ViweClubDetail=null
    },
    created(){
      // console.log(this.id)
      // this.Membershipdata=this.$store.state.membership
      // // this.getclubData (this.id)
      // this.getpackage ()
      // console.log("ma")
      // this.pushToCustomer()
      // // this.getMembershipID(this.$store.state.ViweClubDetail.membership_id)

      // this.schoolName=this.$store.state.ViweClubDetail.name,
      // this.name=this.$store.state.ViweClubDetail.user.name,
      // this.date=this.$store.state.ViweClubDetail.user.dob,
      // this.phone=this.$store.state.ViweClubDetail.user.phone,
      // console.log(this.$store.state.ViweClubDetail.user.gender)
      // this.gender =this.$store.state.ViweClubDetail.user.gender,
      // this.state=this.$store.state.ViweClubDetail.user.state,
      // this.city=this.$store.state.ViweClubDetail.user.city,
      // this.discription=this.$store.state.ViweClubDetail.user.discription,
      // this.address=this.$store.state.ViweClubDetail.user.address,
      // this.adminemail=this.$store.state.ViweClubDetail.user.email,
      // this.zip=this.$store.state.ViweClubDetail.user.zip,
      // console.log(this.$store.state.ViweClubDetail.cancellation_time_period)
      // this.cancel_time=this.$store.state.ViweClubDetail.cancellation_time_period,
      // this.commission=this.$store.state.ViweClubDetail.commission
      // // console.log(this.$store.state.ViweClubDetail.membership_id)
      // this.Package_type=this.getPackageName(this.$store.state.ViweClubDetail.membership_id)

      // console.log(this.Package_type)



    },
    methods: {
      pushToCustomer(){
        if (this.$store.state.ViweClubDetail==null){
          this.$router.push("../customers")
          this.$notify({
            group: "error",
            type: "error",
            text: "Error"
          });
        }

      },
      // getclubData(id){
      //         this.$store.dispatch('viewClub',id)
      //         .then(res=>{

      //         },error=>{
      //             this.$notify({
      //                 group: "error",
      //                 type: "error",
      //                 text: error
      //       });

      //         })
      //     },
      onSignup() {

        var admin_id = this.$store.state.ViweClubDetail.admin_id
        var club_id = this.$store.state.ViweClubDetail.id

        var adminData={
          name: this.name,
          email: this.adminemail,
          phone: this.phone,
          dob: this.date,
          address: this.address,
          city: this.city,
          state: this.state,
          zip: this.zip,
          gender: this.gender.toLowerCase(),
          // role: "admin",
        }
        console.log ("Admin" + admin_id)
        this.getMembershipID()

        this.$store.dispatch('adminEdit',{adminData,admin_id})
          .then(response=>{
              console.log("Admin Edit Success")
              var ClubData = {
                name:this.schoolName,
                admin_id:admin_id,
                cancellation_time_period:this.cancel_time,
                commission:this.commission,
                membership_id:this.memberShipID

              }

              //  console.log ( ClubData)
              this.$store.dispatch('clubEdit',{ClubData,club_id} )
                .then(clubRes=>{
                    console.log("club Edit success")

                    this.$notify({
                      group: "success",
                      type: "success",
                      text: "update Success"
                    });
                    this.$router.push("../customers")


                  },
                  error=>{
                    console.log(error)

                    this.$notify({
                      group: "error",
                      type: "error",
                      text:error.message,
                    });


                  })

            },
            error=>{
              console.log(error)
              this.$notify({

                group: "error",
                type: "error",
                text:error.message,
              });

            })

      },
      getpackage (){
        this.$store.dispatch('getPackage').then(res=>{
          this.Membershipdata = res.data
          for(let key in this.Membershipdata){
            // console.log("dddd"+Membershipdata)
            this.package_.push(this.Membershipdata[key].name )
          }
        },error=>{

        })
      },
      getMembershipID(){
        for (let i = 0; i < this.Package_type.length; i++) {
          //  console.log('lob1: '+i)
          for (let a = 0; a < this.Membershipdata.length; a++) {
            if (this.Package_type[i]==this.Membershipdata[a].name){
              //  console.log('lob2: '+a)
              this.memberShipID.push(this.Membershipdata[a].id)
            }
          }
        }
      },
      getPackageName(data){
        var packagename=[]
        for (let i = 0; i < data.length; i++) {
          for(let key in this.Membershipdata){

            if (data[i]== this.Membershipdata[key].id){
              packagename.push(this.Membershipdata[key].name)
            }
          }
        }
        // console.log(packagename)
        return packagename
      },


    },
    computed:{
      loading(){
        // return this.$store.getters.loading
      }
    }

  };
</script>
