<template>
  <v-container class="pt-0">
    <!--<v-layout wrap class="mb-2">-->
      <!--<v-flex xs12 class=" ma-2">-->
        <!--<div class="text-sm-left f-20" color="#002d4a">My profile</div>-->
      <!--</v-flex>-->
      <!--<v-divider></v-divider>-->
    <!--</v-layout>-->
    <v-container fluid grid-list-xl class="pa-0 pb-3 pt-3">
      <v-layout row wrap class="">
        <v-flex d-flex lg6 sm6 xs6>
          <v-card class="card-r no-shadow">
            <v-flex xs12 class="">
              <input
                multiple
                type="file"
                style="display:none"
                ref="ImgInput"
                accept="image/*"
                @change="onImgPicked"
              >
              <v-btn
                class="card-r"
                outline
                @click="onPickImg"
              >Upload Gallery</v-btn>

              <v-btn
                                        small
                                        class="card-r"
                                        outline
                                        @click="uploadPic">Upload </v-btn>
            </v-flex>
            <v-flex class="ma-2" v-for="n in attachment.photosURL" :key="n" xs4 d-flex>
              <v-card flat tile class="d-flex hover-styl">
                <v-img
                  :src="n"
                  :lazy-src="n"
                  aspect-ratio="1"
                  class="grey lighten-2"
                >
                  <v-layout
                    slot="placeholder"
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                  </v-layout>
                </v-img>
                <div class="effect">
                  <v-btn icon round color="blue-grey" class="text-xs-right text-white right"><v-icon>delete</v-icon></v-btn>
                  <!--<v-btn icon round color="blue-grey" class="text-xs-right text-white right"><v-icon>edit</v-icon></v-btn>-->
                </div>
              </v-card>
            </v-flex>
          </v-card>
        </v-flex>
        <v-flex d-flex lg6 sm6 xs6>
          <v-card class="card-r no-shadow">
            <v-flex xs12 class="">
              <input
                type="file"
                style="display:none"
                ref="VideoInput"
                accept="video/*"
                @change="onVideoPicked"
              >
              <v-btn
                class="card-r"
                outline
                @click="onPickVideo"
              >Upload Video</v-btn>
            </v-flex>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <div>
      <v-layout>
        <!-- {{pics[0].file_path}} -->

        
        <v-flex xs12 sm12>
          <v-flex md12 sm12 xs12 class="">
          </v-flex>
          <v-card class="card-r no-shadow">
            <v-container grid-list-sm fluid>
              <v-layout row wrap>
                <v-flex
                  v-for="n in pics"
                  :key="n"
                  xs2
                  d-flex
                >
                  <v-card flat tile class="d-flex hover-styl" >
                    <v-img
                      :src="n.file_path"
                      aspect-ratio="1"
                      class="grey img lighten-2"
                    >
                      <v-layout
                        slot="placeholder"
                        fill-height
                        align-center
                        justify-center
                        ma-0
                      >
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-layout>
                    </v-img>
                    <div class="effect">
                      <!-- <v-btn icon round color="blue-grey" class="text-xs-right text-white right"><v-icon>delete</v-icon></v-btn> -->
                      <!--<v-btn icon round color="blue-grey" class="text-xs-right text-white right"><v-icon>edit</v-icon></v-btn>-->
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
    <!--<v-layout>-->
      <!--<v-flex>-->

        <!--<v-card  class="pa-4 invoice">-->
          <!--<v-layout xs12>-->
            <!--<v-flex xs12 class="text-lg-center">-->
              <!--<h1 class="pb-4">-->
                <!--Last Month Invoice-->
              <!--</h1>-->
            <!--</v-flex>-->
          <!--</v-layout>-->
          <!--<v-layout>-->

            <!--<v-flex  xs12 class="mt-3 mb-3">-->
              <!--<img class="invoice-logo " src="https://wallpaperaccess.com/full/128916.jpg" alt="logo">-->
            <!--</v-flex>-->
            <!--<v-flex xs12 class="mt-3">-->
              <!--<span>-->
              <!--<strong>Ms. Rani Rabukpotha,	 </strong><br>-->
              <!--Kuliyapitiya Road,	P. O. Box No. 875,-->
              <!--PANNALA (NWP) 60160-->
              <!--</span>-->
            <!--</v-flex>-->
          <!--</v-layout>-->
        <!--<v-divider ></v-divider>-->
          <!--<v-layout xs12 class="layout-invoice-contant">-->
            <!--<v-flex xs6 class="mt-3">-->
              <!--<span >Customer Name: <code> NAME</code></span><br><br>-->
              <!--<span >Subscription Number: <code> 1234</code></span><br><br>-->
              <!--<span >Validity Period: <code> DD/MM/YYYY</code> to <code>DD/MM/YYYY</code></span>-->
            <!--</v-flex>-->
            <!--<v-flex xs6 justify-center class="mt-3">-->
              <!--<v-flex xs6 justify-center class="mt-3">-->
                <!--<span>Amount Paid</span>-->
              <!--</v-flex>-->
              <!--<v-flex xs6 justify-center class="mt-3">-->
                <!--<span class="span">$15000</span>-->
              <!--</v-flex>-->
            <!--</v-flex>-->
          <!--</v-layout>-->

        <!--</v-card>-->
      <!--</v-flex></v-layout>-->
  </v-container>
</template>
<script>
  /* eslint-disable */
  import { mapState , dispatch } from "vuex"
  export default {
    data: () => ({
      attachment: {
        galleries: [],
        galleryURL: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      gallary:''
    }),
    methods: {
      onPickLogo() {
        this.$refs.logoInput.click();
      },
      onPickImg(){
        this.$refs.ImgInput.click();

      },
      onPickVideo(){
        this.$refs.VideoInput.click();

      },
       onImgPicked(){
        const files = event.target.files;
        console.log(files)
        if(files.length==1){
          this.attachment.galleries.push(files[0])
        }else{
          for(var i=0;i<files.length;i++){
            this.attachment.galleries.push(files[i])
          }
        }
        for(var i=0;i<files.length;i++){
          let fileName = files[i].name;
          if (fileName.lastIndexOf(".") <= 0) {
            return alert("Please add a valid file! ");
          }
          console.log(fileName)
        }
        for(var i=0;i<files.length;i++){
          const fileReader = new FileReader();
          fileReader.readAsDataURL(files[i]);
          // console.log(fileName)
          // var fileName
          fileReader.addEventListener("load", () => {
            this.attachment.galleryURL.push(fileReader.result);
            // console.log( this.attachment.galleryURL);
          });
        }

        console.log(this.attachment)
      },
      onVideoPicked(){
        const files = event.target.files;
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.attachment.videosURL.push(fileReader.result);
        });
        fileReader.readAsDataURL(files[0]);
        this.attachment.videos.push(files[0]);
      },
      uploadPic(){
        var GallaryDetails={
                'image':this.attachment.galleries,
                'video':this.attachment.videos,
          }
          console.log(GallaryDetails)
          Store.dispatch('gallary/AddGallaryData',GallaryDetails).then(res=>{
              console.log(res)
                  console.log("gallary created successfully")
                  // this.$router.push('/packages');

          }).catch(error=>{
            console.log(error)
          })
      }

   

    },
    created(){
      var Gallary={
        'file_path':this.Gallary
      }
          Store.dispatch('gallary/getAllGallery').then(res=>{
              console.log(res)
          }).catch(error=>{
            console.log(error)
          })
      getAllGallery
    },
    computed:{
        ...mapState({
              pics:pics => Store.state.gallary.pics,
        })
    }
   
  };
</script>


<style>
  .ccxesc {
    position: relative;
    width: 50%;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .ccxesc:hover .image {
    opacity: 0.3;
  }

  .ccxesc:hover .middle {
    opacity: 1;
  }

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


  .hover-styl:hover {
    color: #ffffff!important;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05);
    padding: 10px;
    transition: transform .00000001s;
    box-shadow: 0 10px 33px 4px rgba(1,0,4,0.2), -1px -1px 0px 0 rgba(0, 0, 0, 0.13), 1px 8px 11px 5px rgba(0,0,0,.12)!important;
  }
  /*.dd:hover{*/
  /*-ms-transform: scale(1); !* IE 9 *!*/
  /*-webkit-transform: scale(1.5); !* Safari 3-8 *!*/
  /*transform: scale(1.05);*/
  /*transition: transform 1s;*/
  /*}*/
  .hover-styl:hover .effect {
    display: block;
  }

  .effect {
    padding-top: 7px;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
  }
  .effect a {
    color: #000;
  }


  /*.invoice{*/
    /*width: 100%!important;*/
  /*}*/
  /*.invoice-logo{*/
    /*margin: auto;*/
    /*border: 3px solid white;*/
    /*width: 150px !important;*/
    /*height: 150px;*/
    /*border-radius: 50%;*/
    /*-webkit-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);*/
    /*-moz-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);*/
    /*box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);*/
    /*background-color: transparent !important;*/
  /*}*/
  /*.layout-invoice-contant{*/
    /*font-size: 12px;*/
    /*font-weight: 600;*/
  /*}*/
  /*.layout-invoice-contant span{*/
    /*padding: 10px 0px 10px 0px;*/

  /*}*/
  /*.layout-invoice-contant .span{*/
    /*border: 1px solid #0097cf;*/
    /*padding-left: 25px;*/
    /*padding-right: 25px;*/

  /*}*/
  /*.invoice .v-dialog:not(.v-dialog--fullscreen){*/
    /*overflow: hidden;*/
  /*}*/

</style>
