<template>
  <div>
    <v-container class="pt-0">
      <!--<v-layout wrap>-->
        <!--<v-flex xs12 class=" ma-2">-->
          <!--<div class="text-sm-left f-20" color="#002d4a">Own Purchased Package</div>-->
        <!--</v-flex>-->
        <!--<v-divider></v-divider>-->
      <!--</v-layout>-->
    <v-layout row wrap align-center class="grey lighten-3 card-r text-xs-center">
      <v-flex class="pa-2 mt-2">
        <div class=" textColor f-20 font-weight-bold">MY Credit Card & billing Information</div>
        <p class="text-xs-center">This is Current Card</p>
      </v-flex>
    </v-layout>
      <v-layout row wrap align-center class="mt-2 grey lighten-3">
        <v-flex class="text-xs-center mt-0" xs12 sm12 lg6 style="margin:auto">
          <v-card class="mb-5 mr-1 text-xs-center elevation-1 card-r no-shadow " color="grey lighten-3">
            <a :href="`/adminprofile`"><v-icon class="text-grey right pa-3">edit</v-icon></a>
            <p class="text-xs-left f-15 font-weight-bold px-5 pt-4">Billing info</p>
                  <v-layout row wrap>
                    <v-flex md12 sm12 xs12 class="px-5 checkbox">
                      <v-checkbox
                        v-model="policy"
                        :rules="[v => !!v || 'You must agree to continue!']"
                        label="Same of my Profile Info"
                        class="input-group--focused mr-5 mt-0 pt-0"
                        color="primary"
                        required
                      ></v-checkbox>
                    </v-flex>
                    <v-flex md12 sm12 xs12 class="px-5 ">
                      <v-text-field
                        name="Full name"
                        label="Full name"
                        v-model="Fullname"
                        class="input-group--focused"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex md12 sm12 xs12 class="px-5">
                      <v-text-field
                        name="Address"
                        label="Address"
                        type="text"
                        v-model="Address"
                        class="input-group--focused"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex md12 sm12 xs12 class="px-5 ">
                      <v-text-field
                        name="City"
                        label="City"
                        type="text"
                        v-model="City"
                        class="input-group--focused"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex md12 sm12 xs12 class="px-5 ">
                      <v-text-field
                        name="Zip code"
                        label="Zip code"
                        type="text"
                        v-model="Zipcode"
                        class="input-group--focused"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex md12 sm12 xs12 class="px-5">
                      <v-text-field
                        name="Country"
                        label="Country"
                        type="text"
                        v-model="Country"
                        class="input-group--focused"
                        required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
            <v-btn color="primary right card-r no-shadow">Save</v-btn>
          </v-card>
        </v-flex>
        <v-flex class="text-xs-center mt-0" xs12 sm12 lg6 style="margin:auto">
            <v-card class="mb-5 ml-1 text-xs-center elevation-1 card-r no-shadow" color="grey lighten-3">
              <a :href="`/adminprofile`"><v-icon class="text-grey right pa-3">edit</v-icon></a>
              <p class="text-xs-left f-15 font-weight-bold px-5 pt-4">Credit card info</p>
                    <v-layout row wrap>
                      <v-flex md12 wrap sm12 xs12 class="px-5 mr-5">
                        <div class="card-type "></div>
                        <!--<div class="card-type mastercard"></div>-->
                        <!--<div class="card-type visa"></div>-->
                        <!--<div class="card-type amex"></div>-->
                        <!--<div class="card-type discover"></div>-->
                      </v-flex>
                      <v-flex md12 sm12 xs12 class="px-5">

                        <v-text-field
                          placeholder="0000 0000 0000 0000"
                          name="Card Number"
                          label="Card Number"
                          type="Number"
                          v-model="CardNumber"
                          maxlength="7"
                          class="input-group--focused"
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex md12 sm12 xs12 class="px-5">
                        <v-text-field
                          name="Expire Date"
                          label="Expire Date"
                          type="text"
                          maxlength="7" placeholder="mm/yyyy"
                          v-model="ExpireDate"
                          class="input-group--focused"
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex md12 sm12 xs12 class="px-5">
                        <v-text-field
                          name="CVV"
                          label="CVV"
                          type="Number"
                          v-model="CVV"
                          class="input-group--focused"
                          required
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
              <v-btn color="primary right card-r no-shadow">Save</v-btn>
            </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "AddNewStudent",
    data: () => ({
    }),
  };
</script>
<style>
  .card-type {
    width: 80px;
    height: 56px;
    background: url("../../../assets/cards.png");
    background-position: 0 -291px;
    background-repeat: no-repeat;
  }
  .card-type.mastercard {
    background-position: 0 0;
  }
  .card-type.visa {
    background-position: 0 -115px;
  }
  .card-type.amex {
    background-position: 0 -57px;
  }
  .card-type.discover {
    background-position: 0 -174px;
  }
     /* iPads (portrait and landscape) ----------- */
  /*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
   /*iPads (landscape) ----------- */
  /*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
   /*iPads (portrait) ----------- */
  /*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
   /*iPad 3 ---------------- */
  /*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
  /*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
  /**/
   /*Desktops and laptops ----------- */
  /*@media only screen and (min-width : 1224px) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
   /*960px layouts ----------- */
  /*@media only screen and (min-width : 960px){*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
  /**/
   /*Large screens ----------- */
  /*@media only screen and (min-width : 1824px) {*/
    /*.layout.wrap {*/
      /*flex-wrap: wrap!important;*/
    /*}*/
  /*}*/
/**/
</style>
