
<template>
  <div>
    <v-container class="pt-0">
      <v-layout row wrap align-center class="grey lighten-3 card-r text-xs-center">
        <v-flex class="pa-2 mt-2">
          <div class=" textColor f-20 font-weight-bold">MY Purchased Package</div>
          <p class="text-xs-center">This is Current Active Package</p>
        </v-flex>
      </v-layout>
      <v-layout row wrap align-center class="mt-2 grey lighten-3">
        <v-flex class="text-xs-center mt-0" xs12 sm12 lg12 style="margin:auto">
          <v-card class="mb-5 mr-1 text-xs-center elevation-1 card-r no-shadow " color="grey lighten-3">
            <!--<a :href="`#/adminprofile`"><v-icon class="text-grey right pa-3">edit</v-icon></a>-->
            <p class="text-xs-left f-20 textColor font-weight-bold pl-4 pt-4">Current Active Package</p>
            <v-flex class="text-xs-center mt-0" xs12 sm12 lg12 style="margin:auto">
            <v-card class="text-xs-center elevation-0 card-r no-shadow" color="grey lighten-3">
              <v-layout row xs12 sm12>
                  <v-container fluid grid-list-xl>
                    <v-layout row wrap class="">
                      <v-flex d-flex lg4 sm6 xs12>
                        <v-card class="select-pack-card pa-3 no-shadow card-r ">
                          <div class="f-30 text-xs-center font-weight-bold ">{{Clubs.admin_package.name}}</div>
                          <!-- <div  class="text-xs-center f-30 font-weight-bold blue-grey--text">Classes</div> -->
                          <v-layout xs12>
                            <v-flex xs12 class="text-xs-center grey--text">
                              <p>{{Clubs.admin_package.description}}</p>
                            </v-flex>
                          </v-layout>
                          <v-layout xs12>
                            <v-flex xs6 class="text-xs-center pa-0">
                              <span class="font-weight-bold f-15 blue-grey--text">Total Hours -</span>
                            </v-flex>
                            <v-flex xs6 class="text-xs-center pa-0">
                              <span class="font-weight-bold f-15">{{Clubs.admin_package.duration}} h</span>
                            </v-flex>
                          </v-layout>
                          <v-layout xs12>
                            <v-flex xs6 class="text-xs-center pa-0">
                              <span class="font-weight-bold f-15 blue-grey--text">Total Cost -</span>
                            </v-flex>
                            <v-flex xs6 class="text-xs-center pa-0">
                              <span class="font-weight-bold f-15">${{Clubs.admin_package.cost}}</span>
                            </v-flex>
                          </v-layout>
                          <v-layout xs12>
                            <v-flex xs6 class="text-xs-left pa-0">
                              <v-btn icon to="createpackage"> <v-icon class="select-pack-color left blue-grey--text">edit</v-icon></v-btn>
                            </v-flex>
                            <v-flex xs6 class="text-xs-right pa-0">
                              <ConfirmDelete/>
                              <!--<v-btn icon> <v-icon class="select-pack-color right blue-grey--text">delete</v-icon></v-btn>-->
                            </v-flex>

                          </v-layout>
                          <!--<v-btn class="no-shadow card-r w-100 ma-0 primary text--white btnM">Select</v-btn>-->
                          <v-btn to="viewpackage" class="no-shadow card-r w-100 ma-0 primary text--white btnM">view</v-btn>

                        </v-card>
                      </v-flex>
                      <v-flex d-flex lg8 sm6 xs12>
                        <v-card class="mb-5 pt-2 text-xs-left elevation-1 card-r no-shadow" color="grey lighten-3">
                          <p class="text-xs-left f-15 font-weight-bold  ">Monthly Renewal Details of this Package</p>
                          <p>
                            Alternatively voranzooooovvvv if the button isn't over the image, you could use :hover on a wrapper element, which
                            avoids the problem
                            of the image no longer being hovered when you want to click the button (the button would disappear when you
                            try to click it, as seen in the above example)
                            Alternatively if the button isn't over the image, you could use :hover on a wrapper element, which avoids
                          </p>
                          <p class="text-xs-left f-15 font-weight-bold  ">Package Duration</p>
                          <div class="text-xs-left f-15"><span class="font-weight-bold">
                      Start Date :-
                    </span>{{Clubs.subscription.start_date}}</div>
                          <div class="text-xs-left f-15 pb-2 "><span class="font-weight-bold">
                      Renew Date :-
                    </span>{{Clubs.subscription.expiry_date}}</div>

                          <p>
                            Alternatively if the button isn't over the image, you could use :hover on a wrapper element, which
                            avoids the problem
                            of the image no longer being hovered when you want to click the button (the button would disappear when you
                            try to click it, as seen in the above example)
                            Alternatively if the button isn't over the image, you could use :hover on a wrapper element, which avoids
                          </p>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
              </v-layout>
            </v-card>
            </v-flex>
            <v-flex class="text-xs-center mt-0" xs12 sm12 lg12 style="margin:auto">

            <v-card class="text-xs-center elevation-0 card-r no-shadow" color="grey lighten-3">
                <!--<div class=" textColor  pl-3 f-25 font-weight-bold">MY Purchased Package</div>-->
                <v-layout row wrap align-center class="white ma-3 card-r text-xs-center">
                  <v-flex class="pa-2 mt-2">
                    <div class=" textColor f-25 font-weight-bold">Discover new products</div>
                    <p class="text-xs-center">Currently connected Products</p>
                  </v-flex>
                </v-layout>
              <v-container fluid grid-list-xl>
                <v-layout row wrap class="">
                  <v-flex d-flex lg4 sm6 xs12 v-for="(i,index) in Products" :key="`1${i}`">
                    <v-card class="select-pack-card pa-3 no-shadow card-r ">
                      <div class="f-30 text-xs-center font-weight-bold ">{{i.name}}</div>
                      <!-- <div  class="text-xs-center f-30 font-weight-bold blue-grey--text">Classes</div> -->
                      <v-layout xs12>
                        <v-flex xs12 class="text-xs-center grey--text">
                          <p>{{i.description}}</p>
                        </v-flex>
                      </v-layout>
                      <v-layout xs12>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15 blue-grey--text">Total Hours -</span>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15">{{i.duration}} h</span>
                        </v-flex>
                      </v-layout>
                      <v-layout xs12>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15 blue-grey--text">Total Cost -</span>
                        </v-flex>
                        <v-flex xs6 class="text-xs-center pa-0">
                          <span class="font-weight-bold f-15">${{i.cost}}</span>
                        </v-flex>
                      </v-layout>
                      <v-layout xs12>
                        <v-flex xs6 class="text-xs-left pa-0">
                          <v-btn icon to="createpackage"> <v-icon class="select-pack-color left blue-grey--text">edit</v-icon></v-btn>
                        </v-flex>
                        <v-flex xs6 class="text-xs-right pa-0">
                          <ConfirmDelete/>
                          <!--<v-btn icon> <v-icon class="select-pack-color right blue-grey--text">delete</v-icon></v-btn>-->
                        </v-flex>

                      </v-layout>
                      <!--<v-btn class="no-shadow card-r w-100 ma-0 primary text--white btnM">Select</v-btn>-->
                      <v-btn to="/signup2" class="no-shadow card-r w-100 ma-0 primary text--white btnM">select</v-btn>

                    </v-card>
                  </v-flex>



                </v-layout>
              </v-container>
              </v-card>
            </v-flex>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */
  import { mapState, dispatch } from "vuex";
  export default {
    name: "AddNewStudent",
    data: () => ({
    }),
    created() {
      Store.dispatch("Clubs/getAdminClub").then(res => {
      });
      Store.dispatch("Products/getAllProducts").then(res => {
      });

  },
  computed: {
    ...mapState({
      Clubs: clubs => Store.state.Clubs.clubs,
      Products: Products => Store.state.Products.Products
    })
  },
  };
</script>
