<template>
  <div class="Subscription">
    <v-container  class="pa-0">
     <v-layout>
            <v-flex>

                <v-data-table :headers="headers" :items="SubscriptionData" class="elevation-1 card-r no-shadow">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.start_date }}</td>
                        <td>{{ props.item.endDate }}</td>
                        <td>{{ props.item.cost }}</td>
                        <td>{{ props.item.dkk }}</td>
                        <td>
                          <v-dialog
                            v-model="dialog"
                            width="500">
                            <v-icon slot="activator">visibility</v-icon>
                            <v-card  class="pa-4">
                              <v-layout xs12>
                                <v-flex xs12 class="text-lg-center">
                                  <h1 class="pb-4">
                                    Invoice
                                  </h1>
                                </v-flex>
                              </v-layout>
                              <v-layout>
                                <v-flex  xs12 class="mt-3 mb-3">
                                  <img class="invoice-logo " src="https://wallpaperaccess.com/full/128916.jpg" alt="logo">
                                </v-flex>
                                <v-flex xs12 class="mt-3">
                                    <span>
                                    <strong>{{userData.name}} </strong><br>
                                    {{userData.street}} {{userData.streetNumber}} {{userData.floor}}
                                    {{userData.door}} {{userData.zipCode}} {{userData.city}}
                                    </span>
                                </v-flex>
                              </v-layout>
                              <v-divider ></v-divider>
                              <v-layout xs12 class="layout-invoice-contant">
                                <v-flex xs6 class="mt-3">
                                  <span >Customer Name: <code> {{userData.name}}</code></span><br><br>
                                  <span >Subscription Number: <code> {{ props.item.subscription_id }}</code></span><br><br>
                                  <span >Validity Period: <code> {{ props.item.start_date }}</code> to <code>{{ props.item.endDate }}</code></span>
                                </v-flex>
                                <v-flex xs6 justify-center class="mt-3">
                                  <v-flex xs6 justify-center class="mt-3">
                                    <span>Amount Paid</span>
                                  </v-flex>
                                  <v-flex xs6 justify-center class="mt-3">
                                    <span class="span">DKK {{ props.item.cost }}</span>
                                  </v-flex>
                                </v-flex>
                              </v-layout>

                            </v-card>
                          </v-dialog>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>

        </v-layout>
    </v-container>
  </div>
</template>
<script>
/* eslint-disable */
export default {
  name:"Subscription",
  data:()=>({
    userData:'',
    headers: [
        { text: "Name", value: "name" },
        {text: "Start Date",value: "start_date"},
        { text: "End Date", value: "endDate" },
        { text: "Amount", value: "cost" },
        { text: "DKK", value: "dkk" },
    ],
    SubscriptionData:[]
  }),
  created(){
    console.log("Created")
    Store.dispatch("AdminProfile/getSubscriptionInformation")
    console.log(Store)
    var SubscriptionData=Store.state.AdminProfile.Subscription
    console.log(SubscriptionData)
    for(var x=0;x<SubscriptionData.length;x++){
      var temp={
           start_date:SubscriptionData[x].start_date,
           endDate:SubscriptionData[x].expiry_date,
           cost:SubscriptionData[x].amount,
           name:SubscriptionData[x].admin_package_name,
           dkk:"dkk",
           subscription_id:SubscriptionData[x].subscription_id,
         }
         this.SubscriptionData.push(temp)
    }
    console.log(this.SubscriptionData)
      // this.SubscriptionData=Store.state.AdminProfile.Subscription
  this.userData=Store.state.user
  }
}
</script>
<style>
  .invoice{
    width: 700px;

  }
  .invoice-logo{
    margin: auto;
    border: 3px solid white;
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    -moz-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    background-color: transparent !important;
  }
  .layout-invoice-contant{
    font-size: 12px;
    font-weight: 600;
  }
  .layout-invoice-contant span{
    padding: 10px 0px 10px 0px;

  }
  .layout-invoice-contant .span{
    border: 1px solid #0097cf;
    padding-left: 25px;
    padding-right: 25px;

  }
  .invoice .v-dialog:not(.v-dialog--fullscreen){
    overflow: hidden;
  }

</style>
