<template>
<div>
  <v-container class="pt-0">
    <v-layout wrap>
      <v-flex xs12 class=" ma-2">
        <div class="text-sm-left f-20" color="#002d4a">Block LIst</div>
      </v-flex>
      <v-divider></v-divider>
    </v-layout>
    <div xs12>
      <!-- <v-flex xs12 offset-xs0 class="pa-3">
        <v-radio-group style="margin-bottom: -30px!important;" row class="ma-0">
          <v-radio color="primary" class="pr-5 text-capitalize" label="behevior problem" value="radio-1"></v-radio>
          <v-radio color="primary" class="pr-5 text-capitalize" label="lof of leave" value="radio-2"></v-radio>
          <v-radio color="primary" class="text-capitalize" label="fake account" value="radio-3"></v-radio>
        </v-radio-group>
      </v-flex> -->
    </div>
    <v-container fluid grid-list-xl>
      <v-layout row wrap class="">
        <v-flex d-flex lg6 sm6 xs12 class="pa-0">
          <v-card class="card-r no-shadow">
            <h3 class="add-class-header pa-1">Students</h3>
            <v-list three-line>
              <template v-for="(item, index) in BlockList">
                <v-subheader class="justify-center"
                             v-if="item.header"
                             :key="item.header"
                >
                  {{ item.header }}
                </v-subheader>

                <v-divider
                  v-else-if="item.divider"
                  :inset="item.inset"
                  :key="index"
                ></v-divider>

                <v-list-tile
                  class=""
                  v-else
                  :key="item.title"
                  avatar
                  @click=""
                >
                  <v-list-tile-avatar>
                    <img :src="item.image">
                  </v-list-tile-avatar>

                  <v-list-tile-content class=" pb-3 f-12">
                    <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                    <v-list-tile-sub-title class='text--primary' v-html="item.email"></v-list-tile-sub-title>
                    <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.blocked_reason"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!-- <v-btn small color="primary" class="card-r no-shadow ma-0 ">UnBlock</v-btn> -->
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex d-flex lg6 sm6 xs12 class="pa-0">

          <v-card class="card-r no-shadow">
            <v-list three-line>
              <h3 class="add-class-header pa-1">Teachers</h3>
              <template v-for="(item, index) in TeacherBlockList">
                <v-subheader class="justify-center"
                             v-if="item.header"
                             :key="item.header">
                  {{ item.header }}
                </v-subheader>

                <v-divider
                  v-else-if="item.divider"
                  :inset="item.inset"
                  :key="index"
                ></v-divider>

                <v-list-tile
                  v-else
                  :key="item.name"
                  avatar
                  @click=""
                >
                  <v-list-tile-avatar>
                    <img :src="item.image">
                  </v-list-tile-avatar>

                  <v-list-tile-content class=" pb-3 f-12">
                    <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                    <v-list-tile-sub-title class='text--primary' v-html="item.email"></v-list-tile-sub-title>
                    <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.blocked_reason"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!-- <v-btn small color="primary" class="card-r no-shadow ma-0 ">UnBlock</v-btn> -->
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-container>
</div>
</template>
<script>
  /* eslint-disable */
  import { mapState , dispatch } from "vuex"
  export default {
    data () {
      return {
        seen: true,
        items: [
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            avatar1: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            title1: 'student name',
            ttitle: 'teacher name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>block DATE:10.12.2018 & TIME:11.10am </span> &mdash;this block reason or somthig..."
          }
        ],
      }
    },
        created:()=>{
          console.log("created")
        Store.dispatch('BlockList/getBlockList').then(res=>{
            console.log(res)
        })
        Store.dispatch('BlockList/getTeacherBlockList').then(res=>{
            console.log(res)
        })

    }
    ,computed:{
        ...mapState({
              BlockList:BlockList => Store.state.BlockList.BlockList,
              TeacherBlockList:TeacherBlockList => Store.state.BlockList.TeacherBlockList
        })
    }
  }
</script>
