<template>
<div class="Home">
    <v-container fluid class="pt-0">
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a">Admin Dashboard</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
      <v-container fluid grid-list-xl class="pa-0 mt-2">
        <v-layout row wrap class="Content3 text-xs-center">
          <v-flex d-flex lg4 sm6 xs12>
            <v-card class="card-r no-shadow pa-3 primary white--text topborder" flat xs12 sm6>
              <br>
              <v-icon class="white--text">fas fa-graduation-cap</v-icon>
              <p class="mt-0 mb-0 text-xs-center font-weight-medium subheading font-weight-light">Students </p>
              <span class="display-0.75 text-xs-center headline font-weight-bold">{{studentData.length}} </span>
            </v-card>
          </v-flex>

          <v-flex d-flex lg4 sm6 xs12>
            <v-card class="card-r no-shadow pa-3 cyan white--text topborder" flat xs12 sm6>
              <br>
              <v-icon class="white--text">fas fa-chalkboard-teacher</v-icon>
              <p class="mt-0 mb-0 text-xs-center font-weight-medium subheading font-weight-light">Teacher </p>
              <span class="display-0.75 text-xs-center headline font-weight-bold">{{teacherData.length}} </span>
            </v-card>
          </v-flex>

          <v-flex d-flex lg4 sm6 xs12>
            <v-card class="card-r no-shadow green accent-4 white--text pa-3 topborder" flat xs12 sm6>
              <br>
              <v-icon class="white--text">fas fa-credit-card</v-icon>
              <p class="mt-0 mb-0 text-xs-center font-weight-medium subheading font-weight-light">Total Earnings </p>
              <span class="display-0.75 text-xs-center headline font-weight-bold">$ {{ adminEarningAmount.total_income_from_students }} </span>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
      <v-layout row>
        <v-flex xs12>
          <Charts/>
        </v-flex>
      </v-layout>

    </v-container>
</div>
</template>

<script>
/* eslint-disable */
  import Charts from './Charts'
  import Addclasses from './AddClasses'
  import { mapState ,dispatch, mapActions } from "vuex"


export default {
  name: "Home",
  data:() =>({
    studentData:'',
    teacherData:'',
      adminEarningAmount: ''
  }),
  components: {
    Addclasses,
    Charts
  },

  methods: {
      ...mapActions("getStudentData","getTeacherData")
    },

  created:function(){
      Store.dispatch('getStudentData');
          setTimeout(() => {
              this.studentData = Store.state.studentData;
              Store.dispatch('getTeacherData');
              this.teacherData = Store.state.teacherData;
              Store.dispatch('getTotalEarning');
              this.adminEarningAmount = Store.state.totalEarning;
          }, 2500);
      },
};
</script>
