<template>
  <div class="EditCustomer">
    <v-container class="mt-0 pt-0">
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a">Settings</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
      <v-flex class="text-xs-center mt-2" xs12 sm12 lg12 style="margin:auto">
        <div class=" card-r no-shadow">
          <v-flex>
          </v-flex>
          <v-card class="card-r no-shadow">
            <v-layout row>
              <v-form v-model="EditClub" class="w-100">
                <v-card-text class="w-100">
                  <v-container grid-list-md class="pa-0 ma-0">
                    <v-layout wrap class="">
                      <span class="f-15 textColor font-weight-bold">Canceletion Time</span>

                      <v-flex xs12>
                        <v-select
                          v-model="cancellation_time_period"
                          :items="cancel_time_"
                          attach
                          chips
                          placeholder="Cancel Time"
                          label="Cancel Time"
                          v-bind:messages="errormessage"
                        ></v-select>
                      </v-flex>
                    </v-layout>

                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" class="no-shadow card-r" dark @click="updateCancelTime" >Update</v-btn>
                  </v-card-actions>

                </v-card-actions>
              </v-form>
            </v-layout>
          </v-card>
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<script>

  export default {
    props:["id"],
    name: "EditCustomer",
    data: () => ({
      ClubView:null,
      passwordShow: false,
      EditClub: false,
      date: null,
      birthday: false,
      Membershipdata:null,
      Package_type: [],
      package_:[],

      gender_:['male','female'],
      schoolName:"",
      name: "",
      phone:"",
      club_number: "",
      gender: "",
      state: "",
      city: "",
      discription: "",
      address:"",
      adminpassword: "",
      adminemail:"",
      zip:"",
        cancellation_time_period:null,
        errormessage:"",
      cancel_time_:['1 Day','2 Day','3 Day','4 Day','5 Day'],
      commission:"",
      package_: [],
      memberShipID:[],

      passwordRule: [
        v => !!v || "Password is required",
        v => v.length >= 8 || "Password must be more than 8 characters"
      ],
      phoneRule: [
        v => !!v || "Phone Number is required",
        v => v.length <= 8 || "Minimum 8 Digits number"
      ]

    }),
    // beforeCreate(){
    // // },
    beforeDestroy(){
      // this.$store.state.ViweClubDetail=null
    },
    created(){
      // console.log(this.id)
      // this.Membershipdata=this.$store.state.membership
      // // this.getclubData (this.id)
      // this.getpackage ()
      // console.log("ma")
      // this.pushToCustomer()
      // // this.getMembershipID(this.$store.state.ViweClubDetail.membership_id)

      // this.schoolName=this.$store.state.ViweClubDetail.name,
      // this.name=this.$store.state.ViweClubDetail.user.name,
      // this.date=this.$store.state.ViweClubDetail.user.dob,
      // this.phone=this.$store.state.ViweClubDetail.user.phone,
      // console.log(this.$store.state.ViweClubDetail.user.gender)
      // this.gender =this.$store.state.ViweClubDetail.user.gender,
      // this.state=this.$store.state.ViweClubDetail.user.state,
      // this.city=this.$store.state.ViweClubDetail.user.city,
      // this.discription=this.$store.state.ViweClubDetail.user.discription,
      // this.address=this.$store.state.ViweClubDetail.user.address,
      // this.adminemail=this.$store.state.ViweClubDetail.user.email,
      // this.zip=this.$store.state.ViweClubDetail.user.zip,
      // console.log(this.$store.state.ViweClubDetail.cancellation_time_period)
      // this.cancel_time=this.$store.state.ViweClubDetail.cancellation_time_period,
      // this.commission=this.$store.state.ViweClubDetail.commission
      // // console.log(this.$store.state.ViweClubDetail.membership_id)
      // this.Package_type=this.getPackageName(this.$store.state.ViweClubDetail.membership_id)

      // console.log(this.Package_type)

    },
    methods: {
      pushToCustomer(){
        if (this.$store.state.ViweClubDetail==null){
          this.$router.push("../customers")
          this.$notify({
            group: "error",
            type: "error",
            text: "Error"
          });
        }
      },

        updateCancelTime() {
          if(this.cancellation_time_period !== null) {
              Store.dispatch('updateCancelTime', parseInt(this.cancellation_time_period)).then(request=>{
                  this.cancellation_time_period = null;
                  this.errormessage = "<span style='color: green'>Successfully changed <span>";
              });
          } else {
              this.errormessage = "<span style='color: red'>Please select cancel time.<span>";
          }
            setTimeout(() => {
                this.errormessage=''
            }, 1500);
        },

      // getclubData(id){
      //         this.$store.dispatch('viewClub',id)
      //         .then(res=>{

      //         },error=>{
      //             this.$notify({
      //                 group: "error",
      //                 type: "error",
      //                 text: error
      //       });

      //         })
      //     },
      onSignup() {

        var admin_id = this.$store.state.ViweClubDetail.admin_id
        var club_id = this.$store.state.ViweClubDetail.id

        var adminData={
          name: this.name,
          email: this.adminemail,
          phone: this.phone,
          dob: this.date,
          address: this.address,
          city: this.city,
          state: this.state,
          zip: this.zip,
          gender: this.gender.toLowerCase(),
          // role: "admin",
        }
        console.log ("Admin" + admin_id)
        this.getMembershipID()

        this.$store.dispatch('adminEdit',{adminData,admin_id})
          .then(response=>{
              console.log("Admin Edit Success")
              var ClubData = {
                name:this.schoolName,
                admin_id:admin_id,
                cancellation_time_period:this.cancel_time,
                commission:this.commission,
                membership_id:this.memberShipID

              }

              //  console.log ( ClubData)
              this.$store.dispatch('clubEdit',{ClubData,club_id} )
                .then(clubRes=>{
                    console.log("club Edit success")

                    this.$notify({
                      group: "success",
                      type: "success",
                      text: "update Success"
                    });
                    this.$router.push("../customers")

                  },
                  error=>{
                    console.log(error)

                    this.$notify({
                      group: "error",
                      type: "error",
                      text:error.message,
                    });


                  })

            },
            error=>{
              console.log(error)
              this.$notify({

                group: "error",
                type: "error",
                text:error.message,
              });

            })

      },
      getpackage (){
        this.$store.dispatch('getPackage').then(res=>{
          this.Membershipdata = res.data
          for(let key in this.Membershipdata){
            // console.log("dddd"+Membershipdata)
            this.package_.push(this.Membershipdata[key].name )
          }
        },error=>{

        })
      },
      getMembershipID(){
        for (let i = 0; i < this.Package_type.length; i++) {
          //  console.log('lob1: '+i)
          for (let a = 0; a < this.Membershipdata.length; a++) {
            if (this.Package_type[i]==this.Membershipdata[a].name){
              //  console.log('lob2: '+a)
              this.memberShipID.push(this.Membershipdata[a].id)
            }
          }
        }
      },
      getPackageName(data){
        var packagename=[]
        for (let i = 0; i < data.length; i++) {
          for(let key in this.Membershipdata){

            if (data[i]== this.Membershipdata[key].id){
              packagename.push(this.Membershipdata[key].name)
            }
          }
        }
        // console.log(packagename)
        return packagename
      },


    },
    computed:{
      loading(){
        // return this.$store.getters.loading
      }
    }

  };
</script>
