<template>
  <div class="Students">
    <v-container fluid class="pt-0">
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a">Total Earnings</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
      <v-container fluid grid-list-xl class="pa-0 mt-2">
        <v-layout row wrap class="Content3 text-xs-center pa-0">
          <!--<v-flex d-flex lg4 sm6 xs12>-->
            <!--<v-card class="card-r no-shadow green accent-4 white&#45;&#45;text pa-3 topborder" flat xs12 sm6>-->
              <!--<br>-->
              <!--<v-icon class="white&#45;&#45;text">fas fa-credit-card</v-icon>-->
              <!--<p class="mt-0 mb-0 text-xs-center font-weight-medium subheading font-weight-light">Total Earnings </p>-->
              <!--<span class="display-0.75 text-xs-center headline font-weight-bold">$ 50,000.00 </span>-->
            <!--</v-card>-->
          <!--</v-flex>-->

          <!--<v-flex d-flex lg4 sm6 xs12>-->
            <!--<v-card class="card-r no-shadow">-->
              <!--<v-card-title>-->
                <!--<v-flex xs6 class="text-md-center">-->
                  <!--<v-icon>fas fa-credit-card</v-icon>-->

                  <!--<p class="disable-1">Total Earnings</p>-->
                <!--</v-flex>-->
                <!--<v-flex xs6 class="text-md-center conPar">-->
                  <!--<p>5000$</p>-->
                <!--</v-flex>-->
              <!--</v-card-title>-->
            <!--</v-card>-->
          <!--</v-flex>-->

          <v-flex d-flex lg12 sm12 xs12>

            <v-card class="grey lighten-3 pa-3 card-r no-shadow">
              <div class="f-15 pl-2 font-weight-bold text-capitalize pb-3">Withdraw request</div>

              <v-container fluid grid-list-xl>
                <v-layout row wrap class="Content3">
                  <v-flex d-flex lg4 sm4 xs12>
                    <v-text-field
                      disabled
                      prefix="$"
                      prepend-icon="fa-credit-card"
                      label="Total balance"
                      v-model="totalEarning.total_income_from_students"
                    >
                    </v-text-field>
                  </v-flex>
                <!--<v-divider inset vertical></v-divider>-->
                  <v-flex d-flex lg4 sm4 xs12>
                    <v-text-field
                    prefix="$"
                    label="Request amount"
                    prepend-icon="fa-credit-card"
                    placeholder="Request amount"
                    v-model="amount"
                    v-bind:messages="errormessage">
                  </v-text-field>
                </v-flex>

                  <v-flex d-flex lg4 sm4 xs12>
                    <v-btn  larg depressed class="no-shadow card-r" color="primary" v-on:click="withdrawalAmount">Withdraw</v-btn>
                  <!--<v-btn disabled larg depressed class="no-shadow card-r" color="primary">Widthraw</v-btn>-->
                </v-flex>
                </v-layout>
              </v-container>
            </v-card>

          </v-flex>
        </v-layout>
      </v-container>

      <v-layout row>


        <v-flex xs12>
          <div class="">
            <v-layout>
              <!--<v-flex xs2 ma-1>-->
              <!--<v-card>-->
              <!--<v-card-title class="text-md-center">-->
              <!--<p class="disable-1">Student</p>-->
              <!--</v-card-title>-->
              <!--</v-card>-->
              <!--</v-flex>-->
              <v-flex xs12 lg4 my-3 mx-2 class="Content3">

              </v-flex>
              <v-flex xs12 lg8 class="my-3 mx-2">


              </v-flex>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-layout wrap>
            <v-flex xs12 class=" ma-2">
              <div class="text-sm-left f-20" color="#002d4a">Earnings</div>
            </v-flex>
            <v-divider></v-divider>
          </v-layout>
          <!--<div class="f-25 text-xs-center font-weight-bold pb-3 textColor"></div>-->
          <v-data-table :headers="headers" :items="earningStatementData" class="elevation-1 mt-2">

            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td>{{ props.item.payee_name }}</td>
              <td>{{ props.item.payer_name }}</td>
              <td>{{ props.item.deposit }}</td>
              <td>{{ props.item.withdraw }}</td>
              <td>{{ props.item.balance }}</td>
            </template>
          </v-data-table>
        </v-flex>

      </v-layout>
    </v-container>
    <!--<add-new-student/>-->
  </div>
</template>

<script>
/* eslint-disable */
    import {mapState } from 'vuex'
  export default {
    name: "Students",
    data() {
      return {
        headers: [
          {text: "DATE", value: "Date"},
          { text: "PAYEE", value: "payee" },
          { text: "PAYER", value: "payer" },
          { text: "DEPOSIT", value: "deposit" },
          { text: "WITHDRAW", value: "withdraw" },
          { text: "BALANCE", value: "balance" }
        ],
        amount: '',
          errormessage: ""
//        earningData:'',
//        totalEarning:''
      };
    },
    created: function () {
      Store.dispatch('getAllEarnings');
      Store.dispatch('getTotalEarning');
    },

    methods: {
      withdrawalAmount: function() {
        if(this.totalEarning.total_income_from_students >= this.amount && this.amount !== '' && this.amount > 0) {
          Store.dispatch('withdrawalRequest', this.amount);
          this.amount = '';
            this.errormessage = "<span style='color: green'>Withdraw Request successfully submitted <span>";
        } else {
            this.errormessage= "<span style='color: red'>You can not Withdraw.<span>";
        }
          setTimeout(() => {
              this.errormessage=''
          }, 1500);
      }
    },
    components: {
    },
      computed:{
          ...mapState({
              earningStatementData:"earningStatementData",
              totalEarning:"totalEarning",
          }),
      }
  };
</script>
