<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="f-20 mb-2 font-weight-bold">Add Teacher</h1>
              <!--<p class="text-xs-center f-15">Create Your New Teacher</p>-->

            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text class="pa-0">
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <!--<span class="f-20 textColor font-weight-bold">Create New Teacher</span>-->
                      <span class="f-15 textColor font-weight-bold">Personal info</span>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          type="text"
                          placeholder="First Name"
                          class="textFeald"
                          outline
                          label="First Name"
                          v-model="newUser.user.firstName"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          type="text"
                          placeholder="Last Name"
                          class="textFeald"
                          outline
                          label="Last Name"
                          v-model="newUser.user.lastName"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Phone Number"
                          placeholder="Phone Number"
                          maxlength="8"
                          :rules="[ v => v.length >= 8 || 'Min 8 characters']"
                          v-model="newUser.user.phone"
                        ></v-text-field>
                      </v-flex>
                      <!-- <v-flex xs12>
                      <v-text-field
                        required
                        color="#749DBF"
                        class="textFeald date"
                        type="date"
                        outline
                        v-model="birthday"
                      ></v-text-field>
                      </v-flex>-->
                      <v-flex xs12>
                         <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="newUser.user.dob"
                            lazy
                            transition="scale-transition"
                            persistent
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              placeholder="Birthday"
                              outline
                              required
                              slot="activator"
                              v-model="newUser.user.dob"
                              label="Birthday"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="newUser.user.dob" no-title scrollable >
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu.save(newUser.user.dob)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                      </v-flex>
                      <v-flex xs12>
                        <vue-dawa
                          @select="selectItem($event, 'newUseraddress')"
                          :val="newUseraddress.oneLineAddress"
                          :showMax="5"
                          containerId="amdinAddress_container"
                          fieldId="amdinAddress_id"
                          fieldName="amdinAddress_name"
                        >
                          <label slot="label-top" class="active">Address</label>
                        </vue-dawa>
                      </v-flex>
                      <!-- <v-flex xs12>
                        <v-select
                          :items="gender"
                          class="input-group--focused"
                          label="Gender"
                        ></v-select>
                      </v-flex>-->
                      <span
                        class="f-15 text-xs-left textColor w-100 font-weight-bold text-left"
                      >Gender</span>

                      <v-flex xs12 offset-xs0 class="pa-1">
                        <v-radio-group
                          v-model="newUser.user.gender"
                          style="margin-bottom: -30px!important;"
                          row
                          class="ma-0"
                        >
                          <v-radio color="primary" label="Male" value="male"></v-radio>
                          <v-radio color="primary" label="Female" value="female"></v-radio>
                          <v-radio color="primary" label="Non-binary" value="non_binary"></v-radio>
                        </v-radio-group>
                      </v-flex>

                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          outline
                          label="Club name"
                          placeholder="Club name"
                          v-model="newUser.user.clubName"
                          disabled
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          name="Email"
                          label="Email"
                          hint="email is required"
                          v-model="newUser.user.email"
                          class="input-group--focused"
                          required
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field
                          required
                          color="#749DBF"
                          class="textFeald"
                          type="password"
                          outline
                          label="Password"
                          :rules="passwordRule"
                          placeholder="Password"
                          v-model="newUser.user.password"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 class="checkbox">
                        <v-checkbox
                          v-model="newUser.user.termAccept"
                          :rules="[v => !!v || 'You must agree to continue!']"
                          label="Terms of Service and Privacy Policy "
                          required
                        ></v-checkbox>
                      </v-flex>
                      <span class="f-15 textColor font-weight-bold">Customize Teacher Schedule</span>
                      <!--<v-layout xs12>-->
                        <!--<v-flex xs10 offset-xs4>-->
                          <!--<h1 class="h1">Create Classes</h1>-->
                        <!--</v-flex>-->
                      <!--</v-layout>-->
                      <!--<span class="f-15 text-xs-left w-100 font-weight-medium">Week days</span>-->
                      <v-flex xs12 class="text-xs-left">

                          <v-tabs class="ma-2" slot="extension" v-model="tab" >
                            <v-tabs-slider color="unset"></v-tabs-slider>

                            <v-tab href="#tab-1">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">MON</span>
                              </v-avatar>
                            </v-tab>

                            <v-tab href="#tab-2">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">TUE</span>
                              </v-avatar>
                            </v-tab>

                            <v-tab href="#tab-3">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">WED</span>
                              </v-avatar>
                            </v-tab>
                            <v-tab href="#tab-4">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">THU</span>
                              </v-avatar>
                            </v-tab>

                            <v-tab href="#tab-5">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">FRI</span>
                              </v-avatar>
                            </v-tab>

                            <v-tab href="#tab-6">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">SAT</span>
                              </v-avatar>
                            </v-tab>
                            <v-tab href="#tab-7">
                              <v-avatar color="primary">
                                <span class="f-12 font-weight-regular white--text">SUN</span>
                              </v-avatar>
                            </v-tab>
                          </v-tabs>
                          <v-tabs-items v-model="tab">

                            <v-tab-item  v-for="(index,i) in teacherClasses" :value="'tab-' +(i+1)" :key="i">
                              <v-card flat class="">
                                <v-flex xs12 class="checkbox">

                                  <v-checkbox
                                    label="same as previous schedule"
                                    required
                                    v-if="i!=0"
                                    v-model="SameSchedule[i]"
                                    @click="setSameSchedule(i-1,i)"
                                  ></v-checkbox>
                                </v-flex>
                                <span class="f-15 textColor font-weight-bold">Add Your Class Schedule</span>

                                <!--<span class="f-15 text-xs-left w-100 font-weight-bold">Lesson Start</span>-->
                                <!--<v-flex xs12 offset-xs0 class="pa-1 ">-->
                                    <!--&lt;!&ndash;<VueCtkDateTimePicker v-model="yourValue" />&ndash;&gt;-->
                                    <!--<v-select-->
                                      <!--:items="timeslot"-->
                                      <!--class="input-group&#45;&#45;focused"-->
                                      <!--label="Lesson Start"-->
                                    <!--&gt;</v-select>-->
                                  <!--</v-flex>-->
                                <div xs12>
                                  <v-flex xs12 offset-xs0 class="pa-1">
                                    <v-radio-group style="margin-bottom: -30px!important;" row class="ma-0" v-model="teacherClasses[i][1][0].type">
                                      <v-radio color="primary" label="Work" value="work"></v-radio>
                                      <v-radio color="primary" label="Break" value="break" disabled></v-radio>
                                      <v-radio color="primary" label="Express" value="express" disabled></v-radio>
                                    </v-radio-group>
                                  </v-flex>
                                </div>
                                <v-layout xs12>
                                  <v-flex xs6 offset-xs0 class="pa-1 ">
                                    <!--<span class="f-15 text-xs-left w-100 font-weight-bold">First Class</span>-->
                                    <!--<VueCtkDateTimePicker v-model="yourValue" />-->
                                    <v-select
                                      :items="timeslot[0][0]"
                                      class="input-group--focused"
                                      label="First Class"
                                      item-text="time"
                                      item-value="value"
                                      v-model="teacherClasses[i][1][0].time_from"
                                    ></v-select>
                                  </v-flex>
                                  <v-flex xs6 offset-xs0 class="pa-1 " >
                                    <!--<span class="f-15 text-xs-left w-100 font-weight-bold">Hours</span>-->
                                    <!--<VueCtkDateTimePicker v-model="yourValue" />-->
                                    <v-select
                                      :items="workMin"
                                      suffix="Min"
                                      class="input-group--focused"
                                      label="Hours"
                                      v-model="teacherClasses[i][1][0].hours"
                                      @input="changeTimeSlot(teacherClasses[i][1][0].hours,i,0,teacherClasses[i][1][0].time_from)"
                                    ></v-select>
                                  </v-flex>
                                </v-layout>
                                <!--<v-layout xs12>-->
                                  <!--<v-flex xs6 offset-xs0 class="pa-1 ">-->
                                    <!--&lt;!&ndash;<span class="f-15 text-xs-left w-100 font-weight-bold">Break Start</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<VueCtkDateTimePicker v-model="yourValue" />&ndash;&gt;-->
                                    <!--<v-select-->
                                      <!--:items="timeslot"-->
                                      <!--class="input-group&#45;&#45;focused"-->
                                      <!--label="Break Start"-->
                                    <!--&gt;</v-select>-->
                                  <!--</v-flex>-->
                                  <!--<v-flex xs6 offset-xs0 class="pa-1">-->
                                    <!--&lt;!&ndash;<span class="f-15 text-xs-left w-100 font-weight-bold">Hours</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<VueCtkDateTimePicker v-model="yourValue" />&ndash;&gt;-->
                                    <!--<v-select-->
                                      <!--:items="breakmin"-->
                                      <!--class="input-group&#45;&#45;focused"-->
                                      <!--label="Hours"-->
                                    <!--&gt;</v-select>-->
                                  <!--</v-flex>-->
                                <!--</v-layout>-->
                           <div v-for="n in counter[i]" :key="n">
                             <div xs12 v-if=timeslot[i][n]>
                               <v-flex xs12 offset-xs0 class="pa-1">
                                 <v-radio-group style="margin-bottom: -30px!important;" row class="ma-0" v-model="teacherClasses[i][1][n].type">
                                   <v-radio color="primary" label="Work" value="work"></v-radio>
                                   <v-radio color="primary" label="Break" value="break" disabled></v-radio>
                                   <v-radio color="primary" label="Express" value="express" disabled></v-radio>
                                 </v-radio-group>
                               </v-flex>
                             </div>
                             <v-layout xs12>
                               <v-flex xs5 offset-xs0 class="pa-1">
                                 <v-select
                                   :items="timeslot[i][n]"
                                   v-if=timeslot[i][n]
                                   class="input-group--focused"
                                   label="Starting Time"
                                   item-text="time"
                                   item-value="value"
                                   v-model="teacherClasses[i][1][n].time_from"
                                 ></v-select>
                               </v-flex>
                               <v-flex xs5 lg6 offset-xs0 class="pa-1">
                                 <v-select
                                   :items="workMin"
                                   v-if=timeslot[i][n]
                                   class="input-group--focused"
                                   label="Hours"
                                   v-model="teacherClasses[i][1][n].hours"
                                   @input="changeTimeSlot(teacherClasses[i][1][n].hours,i,n,teacherClasses[i][1][n].time_from)"
                                 ></v-select>
                               </v-flex>
                               <v-flex xs2 lg1 class="pa-1 text-xs-right" v-if=timeslot[i][n]>
                                 <v-btn fab outline small v-on:click="removeCount(i,n)" color="primary">
                                   <v-icon dark>remove</v-icon>
                                 </v-btn>
                               </v-flex>
                             </v-layout>
                           </div>

                                <span class="f-15 textColor font-weight-bold">Add More Schedule</span>

                                <v-layout >
                                  <!--<v-flex xs12 offset-xs0 class="pa-1 text-xs-center">-->
                                    <!--<v-btn icon outline color="blue"  v-on:click="counter += 1">dferwdva</v-btn>-->
                                    <!--<v-btn icon v-show="show" v-on:click='ddd = !show' outline color="blue">a</v-btn>-->
                                  <!--</v-flex>-->

                                  <v-flex xs2 class="pa-1 " >
                                    <v-btn fab small outline color="primary" v-on:click="counterIncrease(i)">
                                      <v-icon dark>add</v-icon>
                                    </v-btn>
                                    <br>
                                    <!--<span class="f-12 ml-2 w-100 font-weight-bold">Add more</span>-->

                                  </v-flex>
                                </v-layout>
                                <!--<v-tab xs12 icons-and-text>-->

                                  <!--<v-layout>-->
                                    <!--<v-flex xs4 class="pa-1 ">-->
                                      <!--<v-avatar color="#0051a0">-->
                                        <!--<v-icon dark>fas fa-plus-circle</v-icon>-->
                                      <!--</v-avatar>-->
                                      <!--<div class="f-15 text-xs-left w-100 font-weight-bold">WORK</div>-->
                                    <!--</v-flex>-->
                                    <!--<v-flex xs4 class="pa-1">-->
                                      <!--<v-avatar color="#0051a0">-->
                                        <!--<v-icon dark>fas fa-plus-circle</v-icon>-->
                                      <!--</v-avatar>-->
                                      <!--<div class="f-15 text-xs-left w-100 font-weight-bold">Break</div>-->
                                    <!--</v-flex>-->
                                    <!--<v-flex xs4 class="pa-1">-->
                                      <!--<v-avatar color="#0051a0">-->
                                        <!--<v-icon dark>fas fa-plus-circle</v-icon>-->
                                      <!--</v-avatar>-->
                                      <!--<div class="f-15 text-xs-left w-100 font-weight-bold">Express</div>-->
                                    <!--</v-flex>-->
                                  <!--</v-layout>-->
                                <!--</v-tab>-->
                                <!--<span class="f-15 text-xs-left w-100 font-weight-bold">Duration</span>-->
                                <span class="f-15 textColor font-weight-bold">Duration</span>


                                    <!--<v-btn class="create-class-btn ma-0 mt-2" color="primary">ADD</v-btn>-->
                              </v-card>
                            </v-tab-item>
                          </v-tabs-items>
                          <v-divider></v-divider>
                          <v-layout xs12 class="mt-2">
                                  <v-flex xs6 offset-xs0 class="pa-1">
                                    <span class="f-12 text-xs-left w-100 font-weight-bold pa-0">Start Date</span>
                                    <Datepiker v-on:setDate="setStartDate"/>

                                    <!--<VueCtkDateTimePicker v-model="yourValue" />-->
                                    <!--<vue-ctk-date-time-picker></vue-ctk-date-time-picker>-->
                                  </v-flex>
                                  <v-flex xs6 offset-xs0 class="pa-1">
                                    <span class="f-12 text-xs-left w-100 font-weight-bold">End Date</span>
                                    <Datepiker v-on:setDate="setEndDate"/>
                                    <!--<VueCtkDateTimePicker v-model="yourValue" />-->
                                  </v-flex>
                                </v-layout>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-card-actions class>
                  <v-spacer></v-spacer>
                  <!--<v-btn to="/" class="no-shadow card-r">Close</v-btn>-->
                  <!--<v-btn-->
                    <!--class="card-r no-shadow"-->
                    <!--color="secondary"-->
                  <!--&gt;Create classs</v-btn>-->
                  <v-btn
                    class="card-r no-shadow"
                    color="primary"
                    @click="addTeacher"
                  >Save</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

  </div>

</template>

<script>
/* eslint-disable */
import api from '../../../utils/backend-api.js'
import Datepiker from "../Datepicker";
import { mapState, dispatch } from "vuex";
import VueDawa from "vue-dawa";
export default {
  name: "AddNewStudent",
  data: () => ({
    tab: null,
    newUseraddress: {
      oneLineAddress: ""
    },
    newUser: {
      userType: "dsfdfd",
      user: {
        firstName: "",
        lastName: "",
        phone: "",
        dob: "",
        address: {
          oneLineAddress: ""
        },
        gender: "",
        clubName: "",
        email: "",
        password: "",
        termAccept: ""
      },
      teacherClasses: {
        day:['MON','TUE','WED','THU','FRI','SAT','SUN'],
        time:[
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
              [{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''},{type:'',timefrom:'',hours:''}],
            ],
        date_from:'',
        date_to:'',
      },
    },
    teacherClasses:[
      ["MON",[[]]],
      ["TUE",[[]]],
      ["WED",[[]]],
      ["THU",[[]]],
      ["FRI",[[]]],
      ["SAT",[[]]],
      ["SUN",[[]]],
    ],
    ClassTime:[],
    classType:[],
    startDate:'',
    endDate:'',
    menu:false,
    counter: {
      0:0,
      1:0,
      2:0,
      3:0,
      4:0,
      5:0,
      6:0,
    },
    SameSchedule:[],
    seen: true,
    show: true,
    // yourValue: '',
    date: null,
    birthday: false,
    type: ["Student", "Teacher"],
    gender: ["male", "female","non-binary"],
    timeslot: [[[
      {time:"07:00 am",value:'07:00'},
      {time:"07:45 am",value:'08:45'},
      {time:"08:30 am",value:'08:30'},
      {time:"09:15 am",value:'09:15'},
      {time:"10:00 am",value:'10:00'},
      {time:"11:45 pm",value:'11:45'},
      {time:"12:30 pm",value:'12:30'},
      {time:"01:15 pm",value:'01:15'},
      {time:"02:00 pm",value:'02:00'},
      {time:"03:45 pm",value:'03:45'},
      {time:"04:30 pm",value:'04:30'},
      {time:"05:15 pm",value:'05:15'}]]
    ],
    selectedTime:'',
    workMin: [
      "45",
      "90",
      "135",
      "180",
    ],
    breakmin: ["15 min", "30 min", "45 min", "60 min"],
    passwordRule: [
      v => !!v || "Password is required",
      v => v.length >= 8 || "Password must be more than 8 characters"
    ]
  }),
  watch: {},
  created() {
    console.log(this.newUser);
    this.newUser.user.clubName=Store.state.user.club_name
    var timeslot=[[
      {time:"07:00 am",value:'07:00'},
      {time:"07:45 am",value:'08:45'},
      {time:"08:30 am",value:'08:30'},
      {time:"09:15 am",value:'09:15'},
      {time:"10:00 am",value:'10:00'},
      {time:"11:45 pm",value:'11:45'},
      {time:"12:30 pm",value:'12:30'},
      {time:"01:15 pm",value:'01:15'},
      {time:"02:00 pm",value:'02:00'},
      {time:"03:45 pm",value:'03:45'},
      {time:"04:30 pm",value:'04:30'},
      {time:"05:15 pm",value:'05:15'}]]

      for(var x=0;x<7;x++){
        this.timeslot[x]=timeslot
      }
      console.log(this.timeslot);

  },
  updated: () => {},
  methods: {
    changeTimeSlot(time,day,timeIndex,timeFrom){
      let timeBlock=0;
      console.log(this.timeslot[day][timeIndex])
      for(var x=0;x<this.timeslot[day][timeIndex].length;x++){
          if(this.timeslot[day][timeIndex][x].value==timeFrom){
                console.log('1-x: ',x)
                timeBlock+=x
                console.log('1-timeBlock: ',timeBlock)
          }
      }

      console.log("time")
      console.log(day)
      console.log(timeIndex)
      for(var x=0;x<this.workMin.length;x++){
        if(this.workMin[x]==time){
          console.log('2-x: ',x)
          timeBlock+=x
          console.log('2-timeBlock: ',timeBlock)
          break;
        }
      }
      let newtimeslot=[]
      for(var x=0;x<this.timeslot[day][timeIndex].length;x++){
        if(x>timeBlock){
            newtimeslot.push(this.timeslot[day][timeIndex][x])
        }
      }
      console.log(newtimeslot)
      this.timeslot[day][timeIndex+1]=newtimeslot
    },
    selectClass(id) {
      console.log("selectClass")
      console.log(id,this.tempType)
      // console.log(this.address);
    },
    setSameSchedule(beforindex,currentindex){
      if(this.SameSchedule[currentindex]==true){
        console.log(this.teacherClasses[beforindex][1])
        console.log(this.teacherClasses[currentindex][1])

        this.teacherClasses[currentindex][1]=this.teacherClasses[beforindex][1]
        this.counter[currentindex]=this.counter[beforindex]
        console.log(this.teacherClasses)
      }
    },
    removeCount(i,n){
      this.counter[i] -= 1
      console.log(this.teacherClasses[i][1])
      this.teacherClasses[i][1].splice(n, 1);
      console.log(this.teacherClasses[i][1])
      // teacherClasses[i][1][n]
      console.log(i,n)
    },
    counterIncrease(value){
      console.log(value)
      console.log("counterIncrease")
      console.log(value)
      this.counter[value]+=1
      this.teacherClasses[value][1].push([])
      console.log(this.counter)
    },
    addTeacher() {
      if(this.newUser.user.termAccept==true){
          var Teacher = {
              name: this.newUser.user.firstName+' '+this.newUser.user.lastName,
              email: this.newUser.user.email,
              phone: this.newUser.user.phone,
              dob: this.newUser.user.dob,
              address: this.newUseraddress.oneLineAddress,
              city: this.newUseraddress.city,
              state: this.newUseraddress.state,
              zipCode: this.newUseraddress.zipCode,
              gender: this.newUser.user.gender,
              role: "teacher",
              password: this.newUser.user.password,
              teacherClasses: ""
            };
            this.$store.dispatch("Teachers/AddTeacher", Teacher).then(res => {
              console.log(res);
              //Below code are executed When AddTeacher is successfull,
              console.log(res)
              let teacherId=res.data.user.id
              this.setTeacherSchedule(teacherId)

            });
      }else{
        this.newUser.user.termAccept=false
      }
    },
    setTeacherSchedule(teacherId){
        // console.log("setTeacherSchedule")
        // console.log(this.teacherClasses)
        let day=[];
        let times=[];
        const teacherClasses=this.teacherClasses
        console.log(teacherClasses);


        for(var x=0;x<7;x++){
          var length=teacherClasses[x][1].length
          if(teacherClasses[x][1][0].type){
              day.push(teacherClasses[x][0])
              times.push(teacherClasses[x][1])
          }
        }

        var ScheduleData=[];
        ScheduleData.push(day,times,this.startDate,this.endDate,teacherId)
        console.log(ScheduleData)
        // this.$store.dispatch("Teachers/setTeachersSchedule",ScheduleData)
    },
    selectItem(payload, objectName) {
      this.$set(this, objectName, this.translateData(payload));
      this.newUser.user.address = this.translateData(payload);
    },
    translateData(address) {
      if (!address || !address.data) {
        return;
      }
      return {
        id: address.data.id,
        street: address.data.vejnavn,
        streetNumber: address.data.husnr,
        floor: address.data.etage,
        door: address.data.dør,
        zipCode: address.data.postnr,
        city: address.data.postnrnavn,
        oneLineAddress: address.tekst
      };
    },
    setStartDate(value){
      this.startDate=value
    },
    setEndDate(value){
      this.endDate=value
    },
  },
  components: {
    VueDawa,
    Datepiker
  }
};
</script>
