<template>
<div class="Teachers">
    <v-container fluid class="pt-0">
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a">Teachers</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
       <!--<h1 class="title">Teachers</h1>-->
       <v-layout mt-5 row>
            <v-flex xs12>
                <v-data-table :headers="headers" :items="TeacherList" class="elevation-1 card-r no-shadow">
                    <template slot="items" slot-scope="props">
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.phone }}</td>
                        <td>{{ props.item.number_of_students }}</td>
                        <td>{{ props.item.email }}</td>
                        <td>{{ props.item.gender }}</td>
                        <td>
                          <div v-if="props.item.status">
                            <v-select
                              v-model="props.item.status"
                              :items="teacherStatus"
                              item-text="props.item.status"
                              item-value="props.item.status"
                              @change=changestatus(props.item.id,props.item.status)
                              persistent-hint
                              return-object
                              single-line
                            ></v-select>
                          </div>
                        </td>
                        <td class="layout px-0">
                              <v-btn icon v-bind:href="'/teacherprofile/'+props.item.id">
                                <v-icon
                                  class="grey--text"
                                  to="/teacherprofile">
                                  fa-sign-in-alt
                                </v-icon>
                              </v-btn>
                              <v-btn icon v-bind:href="'/teachers/edit/'+props.item.id">
                                <v-icon
                                  class="grey--text"
                                  to="/teacherprofile">
                                  fa-edit
                                </v-icon>
                              </v-btn>

                        </td>
                    </template>
                </v-data-table>
            </v-flex>
      </v-layout>
      <!--<add-new-teacher/>-->

    </v-container>
<!--  -->
</div>
</template>

<script>
/* eslint-disable */
import AddNewTeacher from "./AddNewTeacher.vue";
import { dispatch } from "vuex";

export default {
  name: "Teachers",
  data() {
    return {
      headers: [
        { text: "NAME", value: "name" },
        { text: "CONTACT", value: "phone" },
        { text: "NO OF STUDENT", value: "noOfStudent" },
        { text: "EMAIL", value: "email" },
        { text: "GENDER", value: "gender" },
        { text: "STATUS", value: "status" },
        { text: "ACTIONS", value: "" }
      ],
      TeacherList:[],
      teacherStatus:["active","inactive","blocked"]
    };
  },
  created(){
    console.log("created")
    Store.commit("setLoading", { loading: true });
    Store.dispatch("Teachers/getAllTeachers")
    .then(res => {
      // console.log(res)
      this.TeacherList = res;
      console.log(this.TeacherList);
      Store.commit("setLoading", { loading: false });
    })
    .catch(() => {
      Store.commit("setLoading", { loading: false });
    });
  },
  methods:{
    changestatus(teacherid,status) {
      //
      var Data={
        "teacherid":teacherid,
        "status":status
      }
      console.log(Data)
      this.$store.dispatch("Teachers/changeTeacherStatus", Data)
    }
  },
  components: {
    AddNewTeacher
  }
};
</script>
<style>
  /* .v-select__slot{
    width:65px !important;
  } */
  .v-select__slot div{
    font-size: 13px !important;
    border:none
  }
  .v-text-field.v-input--is-focused .v-input__slot:after{
    display:none !important;
  }
  .v-text-field>.v-input__control>.v-input__slot:before{
    display: none !important;
  }

</style>
