<template>
  <v-container class="invoice">
   <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-btn
        slot="activator"
        color="red lighten-2"
        dark
      >
        Click Me
      </v-btn>
     <v-card  class="pa-4">
       <v-layout>
         <v-flex  xs12 class="mt-3">
           <img class="invoice-logo " src="https://wallpaperaccess.com/full/128916.jpg" alt="logo">
         </v-flex>
         <v-flex xs12 class="mt-3">
              <span>
              <strong>Ms. Rani Rabukpotha,	 </strong><br>
              Kuliyapitiya Road,	P. O. Box No. 875,
              PANNALA (NWP) 60160
              </span>
         </v-flex>
       </v-layout>
     </v-card>
     <v-divider ></v-divider>
     <v-card class="pa-4">
       <v-layout xs12 class="layout-invoice-contant">
         <v-flex xs8 class="mt-3">
           <span >Customer Name: <code> NAME</code></span><br><br>
           <span >Subscription Number: <code> 1234</code></span><br><br>
           <span >Validity Period: <code> DD/MM/YYYY</code> to <code>DD/MM/YYYY</code></span>
         </v-flex>
         <v-flex xs4 justify-center class="mt-3">
           <v-flex xs6 justify-center class="mt-3">
             <span>Amount Paid</span>
           </v-flex>
           <v-flex xs6 justify-center class="mt-3">
             <span class="span">$15000</span>
           </v-flex>
         </v-flex>
       </v-layout>
     </v-card>
    </v-dialog>
  </v-container>
</template>
<style>
  .invoice{
    width: 700px;

  }
  .invoice-logo{
    margin: auto;
    border: 3px solid white;
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    -moz-box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    box-shadow: 10px 10px 14px -2px rgba(173,173,173,1);
    background-color: transparent !important;
  }
  .layout-invoice-contant{
    font-size: 12px;
    font-weight: 600;
  }
  .layout-invoice-contant span{
    padding: 10px 0px 10px 0px;

  }
  .layout-invoice-contant .span{
    border: 1px solid #0097cf;
    padding-left: 25px;
    padding-right: 25px;

  }
  .invoice .v-dialog:not(.v-dialog--fullscreen){
    overflow: hidden;
  }

</style>
