<template>
  <div class="dashboard">
    <v-navigation-drawer fixed dark v-model="sideNav" class="pt-5 primary" app
      value="true">
      <v-list>
        <v-list-tile to="/">
          <v-list-tile-action class="text-white">
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="text-white">Home</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/totalearnings">
          <v-list-tile-action class="text-white">
            <v-icon class="white--text f-10">fa-credit-card</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="text-white">Earnings</v-list-tile-title>
        </v-list-tile>

        <v-list-group prepend-icon="fas fa-graduation-cap">
          <v-list-tile class="text-white" slot="activator">
            <v-list-tile-title class="text-white">Students</v-list-tile-title>
          </v-list-tile>

            <v-list-tile  to="/students" class="pl-2">
              <v-list-tile-action>
                <v-icon class="text-white"> people</v-icon>
              </v-list-tile-action>
              <v-list-tile-title class="text-white f-12">Students List</v-list-tile-title>
            </v-list-tile>

          <!--<v-list-tile  to="/bookclass" class="pl-2">-->
            <!--<v-list-tile-action>-->
              <!--<v-icon class="text-white"> alarm</v-icon>-->
            <!--</v-list-tile-action>-->
            <!--<v-list-tile-title class="text-white f-12">Book Classes</v-list-tile-title>-->
          <!--</v-list-tile>-->

            <v-list-tile to="/addnewstudent" class="pl-2">
            <v-list-tile-action>
              <v-icon class="text-white">add</v-icon>
            </v-list-tile-action>
              <v-list-tile-title class="white--text f-12">Add Student</v-list-tile-title>
            </v-list-tile>

          </v-list-group>

        <v-list-group prepend-icon="people">
          <v-list-tile class="text-white" slot="activator">
            <v-list-tile-title class="text-white">Teachers</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/teachers" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">contacts</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text f-12">Teachers List</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/addnewteacher" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">add</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text f-12">Add Teacher</v-list-tile-title>
          </v-list-tile>

        </v-list-group>

        <v-list-group prepend-icon="fas fa-tachometer-alt" >
          <v-list-tile class="text-white" slot="activator">
            <v-list-tile-title class="text-white">Classes</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/classes" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">fas fa-tachometer-alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text f-12">Classes List</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/createclass" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">add</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text">Add Class</v-list-tile-title>
          </v-list-tile>

        </v-list-group>

        <v-list-group prepend-icon="fas fa-tachometer-alt" >
          <v-list-tile class="text-white" slot="activator">
            <v-list-tile-title class="text-white">Packages</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/packages" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">fas fa-tachometer-alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text f-12">Packages List</v-list-tile-title>
          </v-list-tile>

          <v-list-tile to="/createpackage" class="pl-2">
            <v-list-tile-action>
              <v-icon class="white--text">add</v-icon>
            </v-list-tile-action>
            <v-list-tile-title class="white--text f-12">Add Packages</v-list-tile-title>
          </v-list-tile>

        </v-list-group>


        <v-list-tile to="/blocklist">
          <v-list-tile-action class="text-white">
            <v-icon>block</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="text-white">Block List</v-list-tile-title>
        </v-list-tile>

        <v-list-tile to="/Settings">
          <v-list-tile-action class="text-white">
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="text-white">Settings</v-list-tile-title>
        </v-list-tile>
        <v-list-tile to="/logout">
          <v-list-tile-action class="text-white">
            <v-icon>power_settings_new</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="text-white" >Log out</v-list-tile-title>
        </v-list-tile>

      </v-list>
    </v-navigation-drawer>

    <v-layout row wrap align-center>
      <v-flex class="text-xs-center" xs12 sm12 md12 lg12>
        <v-toolbar fixed class="mainBackG Dtoolbar" app dark xs12>
          <v-toolbar-side-icon @click.native.stop="sideNav = !sideNav"></v-toolbar-side-icon>

          <img  class="Toolbarlogo ml-1" small src="/static/logo2.png"/>
          <v-toolbar-title class="white--text navTitle">
          </v-toolbar-title>

          <v-spacer></v-spacer>

          <v-toolbar-items >

            <!-- searchbar -->
            <v-flex xs12 class="searchBox">
            <v-autocomplete
                v-model="selectedSearchString"
                :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                :items="combinedData"
                persistent-hint
                prepend-icon="mdi-city"
                flat
                label="Search"
                item-text="name"
                item-value="id"
                prepend-inner-icon="search"
                solo-inverted
                @change="link"
            >

          <template v-slot:append-outer>
            <v-slide-x-reverse-transition
              mode="out-in"
            >
              <v-icon
                :key="`icon-${isEditing}`"
                :color="isEditing ? 'success' : 'info'"
                @click="isEditing = !isEditing"
                v-text="isEditing ? 'mdi-check-outline' : 'mdi-circle-edit-outline'"
              ></v-icon>
            </v-slide-x-reverse-transition>
          </template>
        </v-autocomplete>
        </v-flex>


            <v-btn icon to="/adminprofile">
              <v-icon class="navicon" >fa fa-user-alt</v-icon>
            </v-btn>
            <v-menu
              v-model="menu"
              :close-on-content-click="false"
              :nudge-width="300"
              offset-x
              class="right"
            >
              <v-btn icon slot="activator">
                <v-icon class="navicon">fa fa-globe-americas</v-icon>
              </v-btn>
              {{Notification}}
              <v-card v-for="(n, index) in Notifications" v-bind:key="n">
                <a href="/totalearnings">
                <v-list href="/totalearnings">
                  <v-list-tile avatar>
                    <v-list-tile-avatar>
                    <img :src="n[0].user_image" alt="John">
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                      <v-list-tile-title>{{n[0].message}} </v-list-tile-title>
                      <v-list-tile-sub-title>{{n[0].time}}</v-list-tile-sub-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
                </a>
                <v-divider></v-divider>
              </v-card>
            </v-menu>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
    </v-layout>
    <v-content>
      <router-view/>
    </v-content>
  </div>
</template>
<script>
/* eslint-disable */
import Addclasses from './pages/AddClasses'
import { mapState, dispatch } from "vuex";
export default {
  name: "Dashboard",
  data: () => ({
    isEditing: true,
      model: null,
      states: [
        'Alabama', 'Alaska', 'American Samoa', 'Arizona',

      ],
      teacherData:'',
      studentData:'',
    combinedData:[],
    fav: true,
    selectedSearchString:'',
    menu: false,
    message: false,
    hints: true,
    sideNav: false,
    admins: [
      ['Management', 'people'],
      ['Settings', 'settings']
    ],
    cruds: [
      ['Create', 'add'],
      ['Read', 'insert_drive_file'],
      ['Update', 'update'],
      ['Delete', 'delete']
    ],
    searchname: [
      'Nayanan ', 'Danny', 'lavan', 'sanjeeven','voranzo', 'sivarubini' , 'das', 'jerushan' , 'thilan'
    ],
    search:'',
    sideNavList: [

      {
        title: "Classes",
        path: "classes"
      },
      {
        title: "Add New Class",
        path: "createclass"
      },
      {
        title: "Packages",
        path: "Packages"
      },
      {
        title: "Add New Package",
        path: "createpackage"
      },

    ]
  }),
  created() {
        Store.dispatch('getStudentData')
        Store.dispatch('getTeacherData')
        Store.dispatch('Notifications/getAllNotifications')
        setTimeout(() => {
          this.studentData = Store.state.studentData;
          this.teacherData = Store.state.teacherData;
          this.combinedData = this.studentData.concat(this.teacherData);
        }, 2500);
    },
   computed: {
    ...mapState({
      Notifications: Notifications => Store.state.Notifications.Notifications,
      Teachers: Teachers => Store.state.Teachers.Teachers,
      // Students: Students => Store.state.Students.Students,
    })
  },
  methods:{
    link(){
      // console.log(this.combinedData[]['email'])
      console.log('ddd');

      // setTimeout(() => {
        console.log(this.selectedSearchString)
        for(var x=0;x<this.combinedData.length;x++){
          if(this.combinedData[x].id==this.selectedSearchString){
            console.log(this.combinedData[x].id)
          //   console.log('this is in loop')
            var usertype=this.combinedData[x].role
            switch(usertype){
              case "student":
                    console.log(this.combinedData[x])
                    this.$router.push('/studentprofile/'+this.combinedData[x].id)
                    Store.dispatch("Students/getStudentById",this.combinedData[x].id)
                    this.selectedSearchString=""
                    break;
              case "teacher":
                    console.log(this.combinedData[x])
                    this.$router.push('/teacherprofile/'+this.combinedData[x].id)
                    Store.dispatch("Teachers/getTeacherById",this.combinedData[x].id)
                    this.selectedSearchString=""

                    break;


            }
            break
          }
        }
      // console.log(this.selectedSearchString)
      // this.$router.push('/studentprofile/1')
      // console.log(this.$router)
// }, 3500);
    }

  },

  components: {
    Addclasses,
  }

};
</script>
<style lang="stylus" scoped>
  .v-toolbar__items .v-btn:not(.v-btn--floating):not(.v-btn--icon), .v-toolbar__items .v-menu, .v-toolbar__items .v-menu__activator {
    height: unset;
  }
  .v-icon{
    font-size: 17px !important;
  }
  .fa, .fas, .far, .fal, .fab{
    font-size 15px !important
  }
  .v-menu__content {
    top: 50px!important;
    right: 0px!important;
  }
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .v-menu__content {
      top: 50px!important;
      left: 205px!important
    }
  }

  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .v-menu__content {
      top: 50px!important;
      left: 205px!important
    }
  }

  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .v-menu__content {
      top: 50px!important;
      left: 205px!important
    }
  }

  /* iPad 3 ---------------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .v-menu__content {
      top: 50px!important;
      left: 800px!important;
    }
  }
  @media only screen and (min-width: 960px) {
    .v-menu__content[data-v-aae30ed8] {
      top: 50px !important;
      /*left: 200px !important;*/
    }
  }

  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 1224px) {
    .v-menu__content {
      top: 50px !important;
      left: 800px !important;
    }
  }

  /* 960px layouts ----------- */
  @media only screen and (min-width : 960px){
    .v-menu__content {
      top: 50px!important;
      left: 800px!important;
    }
  }

  /* Large screens ----------- */
  @media only screen and (min-width : 1824px) {
    .v-menu__content {
      top: 50px!important;
      left: 800px!important;
    }
  }
  :after, :before{
    // display:none !important;
  }
</style>
