body, html, #app, #dayspan {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%!important;
}
.fixed-bottom{
  position: fixed;
  width:300px;
  bottom:0
}
.fixed-top{
  position: fixed;
  width:300px;
  top:0
}
.crud-grid-thumb{
  margin:0.5em;
  max-height:5em;
}

.loginMain {
  min-height: 100vh;
  margin: 0;
  max-width: 100% !important;
}

.textColor {
  /* background: -webkit-linear-gradient( #0051a0, #0069b3, #0080c2, #0097cf, #01aed9); */
  background: linear-gradient( to right, #0051a0, #0069b3, #0080c2, #0097cf, #01aed9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-white{
  color: #ffffff !important;
}
.display-unset{
  display: unset!important;
}
.no-border{
  border: none!important;
}
.w-100{
  width: 100%!important;
}
.z-10{
  z-index: 10!important;
}
/*font size*/

.f-10{
  font-size: 10px;
}
.f-12{
  font-size: 12px;
}
.f-15{
  font-size: 15px;
}
.f-20{
  font-size: 20px;
}
.f-25{
  font-size: 25px;
}
.f-30{
  font-size: 30px;
}
.f-40{
  font-size: 40px;
}
.f-45{
  font-size: 45px;
}
.f-130{
  font-size: 130px!important;

}
.card-r{
  border-radius: 8px !important;
}
.no-shadow{
  box-shadow: none!important;
}



h1,
h2,
h3 {
  background: linear-gradient( to right, #0051a0, #0069b3, #0080c2, #0097cf, #01aed9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ProfileTabs .v-tabs__bar {
  /* background-color: white; */
  border-radius: 20px !important;
  /* border: 1px solid rgba(58, 58, 58, 0.115); */
}

.PersonalCards {
  margin: 5px 10px;
  background-color: #f4f4f4 !important;
  text-align: left;
  text-transform: capitalize;
  border-radius: 10px;
}

.PersonalCards .layout {
  padding: 20px
}

.PersonalCards .label {
  /* background-color: white; */
  text-align: left;
  color: #0051a0;
  padding-right: 5px
}

.PersonalCards p {
  margin: 0
}

.CoverPhoto {
  width: 100%;
  height: 300px;
}

.profileImg {
  height: 150px;
  margin-top: -130px!important;
  /*margin-left: 10px;*/
}

.profileImgd {
  margin-top: -85px!important;
  /*margin-left: 10px;*/
}

.profileImg .v-image,
.profileImgd .v-image {
  margin: auto;
  border: 3px solid white;
  /*width: 15% !important;*/
  height: 160px !important;
  width: 160px !important;
  border-radius: 50%
}

.profileDet {
  margin-top: 0 !important;
  margin-left: 10px
}

/*.personalcontent {*/
  /*margin-top: 80px;*/
  /*padding: 15px 20px*/
/*}*/

.boxShadow {
  -webkit-box-shadow: 6px 6px 17px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 6px 6px 17px -4px rgba(0, 0, 0, 0.57);
  box-shadow: 6px 6px 17px -4px rgba(0, 0, 0, 0.57);
}

s .personaldetails {
  margin: auto;
  padding: 20px 10px;
  text-align: center;
}

.profileMenu {
  margin-top: 30px !important;
  width: 100%;
  padding: 0 25px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 5px;
  /* margin-right: 20px; */
}

.v-menu__content {
  box-shadow: none !important;
}

.navigation .far,
.fa {
  font-size: 20px;
  margin-left: 3px !important;
  /* background-color: #0067b1 !important; */
}

.navigation .v-list__tile__content {
  color: black;
}

a:active .v-list__tile__content {
  /* color: #87888e !important   ; */
}

.mainBackG {
  background-image: linear-gradient( to right, #0051a0, #0069b3, #0080c2, #0097cf, #01aed9);
}
.nav-b-g {
  background-image: linear-gradient( to bottom, #0051a0, #0069b3, #0080c2, #0097cf, #01aed9);
}

.btnM {
  width: 100%;
  margin: 0;
  color: white !important;
  height: 50px;
}

.Formcard .toolbar {
  background-color: #f0f8ff !important;
  padding: 0px !important;
}

.date .v-menu {
  width: 100% !important;
}

.Formcard .v-toolbar__title:not(:first-child) {
  margin-left: -30px !important;
}

.Formcard .v-toolbar__title {
  font-size: 15px !important;
  font-weight: 0 !important;
}

.logo {
  height: 80px;
}

.Formcard {
  background-color: aliceblue;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.v-input__slot {
  /* border:1px solid #749DBF !important;
  color: #749DBF; */
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #8daeca !important;
  /* border:1px  solid #8DAECA !important; */
  color: #8daeca;
  margin: 0;
  padding: 0 !important;
}

.v-input__slot:hover {
  border-bottom: 2px solid #0069b3 !important;
}

.v-messages__message {
  margin-top: 3px;
}

label {
  font-size: 12px !important;
  color: #095697 !important;
}

.v-text-field__details {
  margin: 0 !important;
}

input {
  /* max-width: 75% !important; */
  color: #095697 !important;
  font-size: 14px;
  /* margin-top: 10px !important */
}

.checkbox .v-input__slot {
  border: 0 !important;
}

.elevation-1 .v-input__slot {
  border: none !important;
}

.elevation-1 .selector {
  width: 50px;
}

.rec {
  padding: 80px 0;
}

a {
  color: #0051a0 !important;
  font-weight: bolder;
}

.aBtn {
  text-align: left !important;
  font-size: 10px;
  color: #0051a0 !important;
  text-decoration: none;
}

.v-text-field__slot .theme--light.v-label {
  color: #095697 !important;
  font-size: 16px;
  /* width: 200px;
  text-align: right;
  margin-right: -50px; */
}

.Dtoolbar,
.v-toolbar__content,
.v-toolbar__items {
  max-height: 50px;
}

.navigation {
  box-shadow: 0;
  border: 0 !important;
  background-color: #0067b1 !important;
}

.Dtoolbar .theme--dark.v-text-field--solo .v-input__slot {
  border-radius: 50px !important;
  padding: 0 10px !important;
  border: 0 !important;
  background-color: white;
  box-shadow: 0;
}

.searchBox .v-text-field.v-text-field--solo .v-input__control {
  min-height: 30px;
}

.search .v-text-field .v-input__slot {
  border-radius: 10px;
  padding: 0 10px !important
}

.search .v-text-field__slot {
  height: 40px;
  border: none
}

.searchBox {
  height: 50px;
  padding: 10px;
}

.navicon {
  font-size: 16px;
}

.Content3 .card__title {
  /*color: #0052a1 !important;*/
}

.Content3 .conPar {
  border-left: 1px solid #67b3f5ee;
}
.Toolbarlogo {
  width: 50px
}
.Content3 a {
  text-decoration: none;
}

.v-dialog {
  /* border-radius: 10px !important; */
}

.fixedBottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.sideNavList a {
  color: white !important;
  text-decoration: none;
  font-weight: normal
}

.navTitle a {
  color: white !important;
  text-decoration: none;
  font-weight: normal
}

.Content3 .fas {
  font-size: 50px !important;
  /*color: #0052a1 !important*/
}

.Content3 .theme--light.v-card {
  /*background-color: #283593 !important;*/
  /*border: 1px solid #67b3f5ee;*/
  box-shadow: none;
  /*color: #0052a1 !important*/
}


/* For address part  */

.autocomplete-container {
  /* relative position for at de absolut positionerede forslag får korrekt placering.*/
  position: relative;
  width: 100%;
  /*    max-width: 30em; */
}

.autocomplete-container {
  text-align: left !important
}

.autocomplete-container input {
  /* Både input og forslag får samme bredde som omkringliggende DIV */
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
  padding: 2px 0 8px 0;
  border-bottom: 0.0625em solid rgba(0, 0, 0, .54);
}

.autocomplete-container input:active {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.0625em solid blue;
}

.dawa-autocomplete-suggestions {
  position: absolute;
  z-index: 9999;
  width: 100%;
  margin: 0.15em 0 0 0;
  padding: 0;
  text-align: left;
  border-radius: 0.3125em;
  background: #fcfcfc;
  box-shadow: 0 0.0625em 0.15625em rgba(0, 0, 0, .15);
  box-sizing: border-box;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion {
  margin: 0;
  list-style: none;
  cursor: pointer;
  padding: 0.4em 0.6em;
  color: #333;
  border: 0.0625em solid #ddd;
  border-bottom-width: 0;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:last-child {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-width: 0.0625em;
}

.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion.active,
.dawa-autocomplete-suggestions .dawa-autocomplete-suggestion:hover {
  background: #f0f0f0;
  color: #333;
}
