<template>
  <div id="calendar">
    <v-container fluid grid-list-xl>
      <v-layout row wrap class="">
        <v-flex d-flex lg3 sm3 xs12>
          <v-menu ref="menu1" v-model="menu1" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
            <v-text-field slot="activator" v-model="datas1.start_date" label="Start Date" persistent-hint placeholder="dd/mm/yyyy" prepend-icon="event"></v-text-field>
            <v-date-picker v-model="datas1.start_date" no-title @input="menu1 = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex d-flex lg3 sm3 xs12>
          <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width max-width="290px" min-width="290px">
            <v-text-field slot="activator" v-model="datas1.end_date" label="End Date" persistent-hint placeholder="dd/mm/yyyy" prepend-icon="event"></v-text-field>
            <v-date-picker v-model="datas1.end_date" no-title @input="menu2 = false"></v-date-picker>
          </v-menu>
        </v-flex>
        <v-flex d-flex lg4 sm3 xs12>
          <v-text-field label="whats is your plan" placeholder="whats is your plan" v-model="datas1.title"></v-text-field>
        </v-flex>
        <v-flex d-flex lg2 sm3 xs12>
          <v-btn  larg depressed class="no-shadow card-r ml-4 mr-4" color="primary" @click="submitEvent()">send</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-dialog v-model="dialog" max-width="340">
      <v-card v-if="selectedEvent">
        <v-card-title class="headline">{{ selectedEvent.title }}</v-card-title>
        <v-card-text>Event Start At: {{ selectedEvent.start }}</v-card-text>
        <v-card-text>Event End At: {{ selectedEvent.end }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="dialog = false">Okey</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- creating new event -->
    <v-dialog
      v-model="dialogCreateEvent"
      max-width="525">
      <v-card v-if="dialogCreateEvent">
        <v-card-title class="headline">Do you want to create event on {{ createEventDate.toLocaleDateString() }} ?</v-card-title>
        <v-card-text>
          <v-text-field v-model="newEventTitle" label="Title" hint="Type event title"></v-text-field>
        </v-card-text>
        <v-card-text>
          <v-radio-group v-model="selectedEventClass" row>
            <v-radio label="Default" color="blue" value=""></v-radio>
            <v-radio label="Caution" color="red" value="event-item-caution"></v-radio>
            <v-radio label="Meeting" color="green" value="event-item-meeting"></v-radio>
            <v-radio label="Warning" color="yellow" value="event-item-warning"></v-radio>
            <v-radio label="Trip" color="purple" value="event-item-trip"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" flat="flat" @click="dialogCreateEvent = false">Disagree</v-btn>
          <v-btn color="green darken-1" flat="flat" @click="createEvent(createEventDate.toLocaleDateString())">Agree</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <full-calendar :events="events" locale="en" @eventClick="eventClick($event)" @dayClick="dayClick($event)"></full-calendar>
  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
  export default {
    data () {
      return {
        dialog: false,
        dialogCreateEvent: false,
        newEventTitle: null,
        createEventDate: null,
        selectedEventClass: null,
        selectedEvent: null,
        menu1:false,
        menu2:false,

        datas: {
            'title': '',
            'class': '',
            'start_date': '',
            'end_date': ''
        },
        datas1: {
              'title': '',
              'start_date': '',
              'end_date': ''
          },
        events: []
      }
    },
      created: function () {
          setTimeout(() => {
              Store.dispatch('getTeacherEvents', this.$route.params.id);
              var tearchersEventsData = Store.state.teacherEvents;

              for (var i=0; i<tearchersEventsData.length;i++) {
                  this.events.push({
                      'title': tearchersEventsData[i].title,
                      'start': tearchersEventsData[i].start_date,
                      'end': tearchersEventsData[i].end_date,
                      'cssClass': tearchersEventsData[i].class,
                  });
              }
          }, 2500);
      },

    methods: {
      eventClick($event) {
        const vm = this;
        vm.dialog = true;
        vm.selectedEvent = $event;
      },
      dayClick($event) {
        const vm = this;
        vm.dialogCreateEvent = true;
        vm.createEventDate = $event;
      },

      createEvent(date) {
          this.datas ={
              'title': this.newEventTitle,
              'class': this.selectedEventClass,
              'start_date': date,
              'end_date': date
          };
          Store.dispatch('storeTeacherEvents', {'datas':this.datas, 'teacher':this.$route.params.id});

        const vm = this;
        vm.events.push({
          title: vm.newEventTitle ? vm.newEventTitle : 'Sample Event',
          start: vm.createEventDate,
          cssClass: vm.selectedEventClass ? vm.selectedEventClass : null
        });
        vm.createEventDate = null;
        vm.newEventTitle = '';
        vm.dialogCreateEvent = false;
      },

        submitEvent() {
            Store.dispatch('storeTeacherEvents', {'datas':this.datas1, 'teacher':this.$route.params.id});
            const vm = this;
            vm.events.push({
                title: vm.datas1.title ? vm.datas1.title : 'Sample Event',
                start: vm.datas1.start_date,
                end: vm.datas1.end_date,
                cssClass: vm.selectedEventClass ? vm.selectedEventClass : null
            });
            vm.createEventDate = null;
            vm.newEventTitle = '';
            vm.dialogCreateEvent = false;
            this.datas1 = '';
        }
    }
  }
</script>

<style>
  .full-calendar-header .header-center .title{
    margin: 0px !important;
  }
  .comp-full-calendar {
    padding: 0px;
    background: transparent;
  }
  #calendar {
    height: 100%;
  }

  .prev-month {
    font-size: 16px !important;
    font-weight: bold;
  }

  .next-month {
    font-size: 16px !important;
    font-weight: bold;
  }

  .event-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-size: 14px !important;
  }

  .event-item-caution {
    background-color: #e89a9a !important;
  }

  .event-item-warning {
    background-color: #ffffa5 !important;
  }

  .event-item-meeting {
    background-color: #71d48e !important;
  }

  .event-item-trip {
    background-color: #8d78e6 !important;
  }

</style>






<!--<template>-->
  <!--<v-app id="dayspan" v-cloak>-->
    <!--<ds-calendar-app class="calendsder" :calendar="calendar"></ds-calendar-app>-->
  <!--</v-app>-->
<!--</template>-->
<!--<script>-->
  <!--import { Calendar } from 'dayspan'-->

  <!--export default {-->
    <!--name: 'app',-->
    <!--data: () => ({-->
      <!--calendar: Calendar.months(),-->
      <!--sideNav: false-->
    <!--})-->
  <!--}-->
<!--</script>-->

<!--<style lang="stylus">-->
  <!--/*.calendsder .v-toolbar__content>:first-child, .v-toolbar__extension>:first-child{*/-->
    <!--/*display: none!important;*/-->
  <!--/*}*/-->
  <!--.calendsder .v-navigation-drawer&#45;&#45;close.v-navigation-drawer&#45;&#45;temporary {-->
    <!--transform: translateX(-13vw) !important;-->
  <!--}-->
  <!--.v-navigation-drawer[data-booted=true]{-->
    <!--display: none!important;-->
  <!--}-->
  <!--/*.calendsder .v-content .ds-expand{*/-->
    <!--/*padding: 0px!important;*/-->
  <!--/*}*/-->
  <!--/*.ds-app-calendar-toolbar.v-content{*/-->
    <!--/*padding: 0px !important;*/-->
  <!--/*}*/-->
  <!--.ds-app-calendar-toolbar{-->
    <!--position: relative !important;-->
    <!--z-index: 1;-->
  <!--}-->
  <!--.calender.v-navigation-drawer{-->
    <!--left: unset!important;-->
    <!--margin-top:180px!important;-->

  <!--}-->
  <!--.v-content.ds-expand{-->

  <!--}-->

  <!--.calender .v-navigation-drawer{-->
    <!--position: unset!important;-->
    <!--display: none!important;-->
  <!--}-->

  <!--.v-toolbar__side-icon .v-btn .v-btn&#45;&#45;icon .theme&#45;&#45;light{-->
    <!--display: none!important;-->
  <!--}-->
  <!--/*.v-content{*/-->
    <!--/*padding: 0px !important;*/-->
  <!--/*}*/-->
  <!--.v-navigation-drawer&#45;&#45;fixed{-->
    <!--position: relative!important;-->
  <!--}-->
<!--</style>-->
<!--&lt;!&ndash;<template>&ndash;&gt;-->
  <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<MainCalender/>&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</template>&ndash;&gt;-->
<!--&lt;!&ndash;<script>&ndash;&gt;-->
  <!--&lt;!&ndash;/* eslint-disable */&ndash;&gt;-->
  <!--&lt;!&ndash;// import MainCalender from "../.././calender/maincalender/MainCalender";&ndash;&gt;-->
  <!--&lt;!&ndash;export default {&ndash;&gt;-->
    <!--&lt;!&ndash;data () {&ndash;&gt;-->
      <!--&lt;!&ndash;return {}&ndash;&gt;-->
    <!--&lt;!&ndash;},&ndash;&gt;-->
    <!--&lt;!&ndash;components: {&ndash;&gt;-->
      <!--&lt;!&ndash;// MainCalender&ndash;&gt;-->
    <!--&lt;!&ndash;}&ndash;&gt;-->
  <!--&lt;!&ndash;}&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->

<!--&lt;!&ndash;<style>&ndash;&gt;-->
<!--&lt;!&ndash;</style>&ndash;&gt;-->
