<template>
  <div class="EditCustomer">
    <v-container>
      <v-flex class="text-xs-center" xs12 sm12 lg12 style="margin:auto">
        <div class=" card-r no-shadow">
      <v-flex>
        <a :href="`/adminprofile`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
        <h1 class="display-1 font-weight-medium">Edit Teacher</h1>
        <!--<p class="text-xs-center  ">Create Your New Student</p>-->
<!-- {{Teachers}} -->
      </v-flex>
      <v-card class="card-r no-shadow">

        <!--<h1 class="display-1 text-xs-center font-weight-bold">Edit Customer</h1>-->
        <!--<v-divider class="mt-3"> </v-divider>-->

        <v-layout row>
          <v-form v-model="EditClub">
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      type="text"
                      placeholder="User Name"
                      class="textFeald"
                      outline
                      label="Full Name"
                      v-model="user.name"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      type="number"
                      label="Phone Number"
                      placeholder="Phone Number"
                      :rules="[ v => v.length >= 8 || 'Min 8 characters']"
                      v-model="user.phone"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                        <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="user.dob"
                            lazy
                            transition="scale-transition"
                            persistent
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              placeholder="Birthday"
                              outline
                              required
                              slot="activator"
                              v-model="user.dob"
                              label="Birthday"
                              readonly
                            ></v-text-field>
                            <v-date-picker v-model="user.dob" no-title scrollable >
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                              <v-btn flat color="primary" @click="$refs.menu.save(user.dob)">OK</v-btn>
                            </v-date-picker>
                          </v-menu>
                      </v-flex>
                      <v-flex xs6>
                        <vue-dawa
                          @select="selectItem($event, 'address')"
                          :val="address.oneLineAddress"
                          :showMax="5"
                          containerId="amdinAddress_container"
                          fieldId="amdinAddress_id"
                          fieldName="amdinAddress_name"
                        >
                          <label slot="label-top" class="active">Address</label>
                        </vue-dawa>
                      </v-flex>
                  <v-flex xs6>
                    <v-radio-group
                      v-model="user.gender"
                      style="margin-bottom: -30px!important;"
                      row
                      class="ma-0"
                    >
                      <v-radio color="primary" label="Male" value="male"></v-radio>
                      <v-radio color="primary" label="Female" value="female"></v-radio>
                      <v-radio color="primary" label="Non-binary" value="non_binary"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      type="text"
                      placeholder="School Name"
                      class="textFeald"
                      outline
                      label="School Name"
                      v-model="user.schoolName"
                      disabled
                    ></v-text-field>
                  </v-flex>
                  <!-- <v-flex xs6>
                    <v-text-field
                      required
                      color="#749DBF"
                      type="text"
                      placeholder="Email"
                      class="textFeald"
                      outline
                      label="Email"
                      v-model="user.email"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6>
                    <v-text-field
                      color="#749DBF"
                      placeholder="Password"
                      class="textFeald"
                      outline
                      label="Password"
                      type="password"
                      disabled
                      value="**********"
                    ></v-text-field>
                  </v-flex> -->
                  <!-- <v-flex xs12>
                    <v-text-field
                      required
                      color="#749DBF"
                      class="textFeald"
                      outline
                      label="Discription"
                      placeholder="Discription"
                      v-model="discription"
                      multi-line
                    ></v-text-field>
                  </v-flex> -->



                </v-layout>

              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" class="no-shadow card-r" dark @click="UpdateInformation" >Update</v-btn>
              </v-card-actions>

            </v-card-actions>
          </v-form>
        </v-layout>
      </v-card>
      <!-- <notifications group="error" position="top center"/>
     <notifications group="success" position="bottom center"/> -->
        </div>
      </v-flex>
    </v-container>
  </div>
</template>

<script>
/* eslint-disable */
  import { dispatch, mapState } from 'vuex'
  import VueDawa from "vue-dawa";

export default {
    props:["id"],
    name: "EditCustomer",
    data: () => ({
      ClubView:null,
      menu:false,
      passwordShow: false,
      EditClub: false,
      date: null,
      birthday: false,
      Membershipdata:null,
      Package_type: [],
      package_:[],
      teacherBlock:'',
      user:{
        schoolName:"",
        name: "",
        phone:"",
        club_number: "",
        gender: "",
        state: "",
        city: "",
        discription: "",
        password: "",
        email:"",
        dob:"",
        role: "teacher",
        address:{
          oneLineAddress:''
        },
      },
      address:{
        oneLineAddress:''
      },
      passwordRule: [
        v => !!v || "Password is required",
        v => v.length >= 8 || "Password must be more than 8 characters"
      ],
      phoneRule: [
        v => !!v || "Phone Number is required",
        v => v.length <= 8 || "Minimum 8 Digits number"
      ]

    }),
    // beforeCreate(){
    // // },
    beforeDestroy(){
      // this.$store.state.ViweClubDetail=null
    },
    created(){
      console.log("created")
      console.log(this.$route.params.id)
      console.log()
      var TeacherId=this.$route.params.id
      var Teachers=this.$store.state.Teachers.Teachers.Teachers
      this.user.schoolName=Store.state.user.club_name
      for(var x=0;x<Teachers.length;x++){
          if(Teachers[x].id==TeacherId){
              console.log(Teachers[x])
              this.teacherBlock=x
              console.log(this.teacherBlock);
              console.log(this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock]);

              this.user.name=Teachers[x].name
              this.user.email=Teachers[x].email
              this.user.phone=Teachers[x].phone
              this.user.dob=Teachers[x].dob

              this.setAddress(Teachers[x])
              console.log(Teachers[x])
              this.user.gender=Teachers[x].gender
              // this.user.schoolName=Teachers[x].schoolName
          }
      }
      console.log(this.user)
      // console.log(this.id)
      // this.Membershipdata=this.$store.state.membership
      // // this.getclubData (this.id)
      // this.getpackage ()
      // console.log("ma")
      // this.pushToCustomer()
      // // this.getMembershipID(this.$store.state.ViweClubDetail.membership_id)

      // this.schoolName=this.$store.state.ViweClubDetail.name,
      // this.name=this.$store.state.ViweClubDetail.user.name,
      // this.date=this.$store.state.ViweClubDetail.user.dob,
      // this.phone=this.$store.state.ViweClubDetail.user.phone,
      // console.log(this.$store.state.ViweClubDetail.user.gender)
      // this.gender =this.$store.state.ViweClubDetail.user.gender,
      // this.state=this.$store.state.ViweClubDetail.user.state,
      // this.city=this.$store.state.ViweClubDetail.user.city,
      // this.discription=this.$store.state.ViweClubDetail.user.discription,
      // this.address=this.$store.state.ViweClubDetail.user.address,
      // this.adminemail=this.$store.state.ViweClubDetail.user.email,
      // this.zip=this.$store.state.ViweClubDetail.user.zip,
      // console.log(this.$store.state.ViweClubDetail.cancellation_time_period)
      // this.cancel_time=this.$store.state.ViweClubDetail.cancellation_time_period,
      // this.commission=this.$store.state.ViweClubDetail.commission
      // // console.log(this.$store.state.ViweClubDetail.membership_id)
      // this.Package_type=this.getPackageName(this.$store.state.ViweClubDetail.membership_id)

      // console.log(this.Package_type)



    },
    methods: {
      UpdateInformation(){
        console.log("UpdateInformation")
        console.log(this.$route.params.id)
        console.log(this.address)
        var adminData = {
          teacherId:this.$route.params.id,
          name: this.user.name,
          email: this.user.email,
          phone: this.user.phone,
          street: this.address.street,
          streetNumber: this.address.streetNumber,
          floor: this.address.floor,
          door: this.address.door,
          city: this.address.city,
          zip: this.address.zipCode,
          gender: this.user.gender.toLowerCase(),
          dob: this.user.dob,
        };

        this.$store.dispatch("Teachers/updateTeacher",adminData)
        .then(res=>{
          console.log("res")
          console.log(res)
            if(res.status==201){
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].street=adminData.street
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].streetNumber=adminData.streetNumber
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].floor=adminData.floor
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].door=adminData.door
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].city=adminData.city
              this.$store.state.Teachers.Teachers.Teachers[this.teacherBlock].zip=adminData.zip
              this.$router.push('/teachers')
            }
        })
      },
      selectItem(payload, objectName) {
        this.$set(this, objectName, this.translateData(payload));
      },
      addressNullCheck(address){
          if(address==null || address=="null"){
            return ""
          }else{
            return address
          }
      },
      setAddress(Teachers) {
        console.log(Teachers)
      // console.log(this.addressNullCheck(this.customerDetail.floor))
        this.user.address.street = Teachers.street;
        this.user.address.streetNumber = Teachers.streetNumber;
        this.user.address.floor = Teachers.floor;
        this.user.address.door = Teachers.door;
        this.user.address.zipCode = Teachers.zipCode;
        this.user.address.city = Teachers.city;
        console.log(this.user.address)
        let oneLineAddress =
          this.addressNullCheck(Teachers.street) +
          " " +
          this.addressNullCheck(Teachers.streetNumber) +
          " " +
          this.addressNullCheck(Teachers.floor) +
          " " +
          this.addressNullCheck(Teachers.door) +
          " " +
          this.addressNullCheck(Teachers.zipCode) +
          " " +
          this.addressNullCheck(Teachers.city);
        this.user.address.oneLineAddress =oneLineAddress.trim()
        this.address=this.user.address
        // console.log(this.user.address);

        // console.log(this.translateData(this.address))
        // console.log("saaaa");
      },
      translateData(address) {
        if (!address || !address.data) {
          return;
        }
        return {
          id: address.data.id,
          street: address.data.vejnavn,
          streetNumber: address.data.husnr,
          floor: address.data.etage,
          door: address.data.dør,
          zipCode: address.data.postnr,
          city: address.data.postnrnavn,
          oneLineAddress: address.tekst

        };
      }
    },
    computed:{
      ...mapState(["Teachers"]),
    },
    components:{
      VueDawa
    },
    mounted() {

      this.TeacherId = this.$route.params.id;
      Store.dispatch("Teachers/getTeacherById", this.TeacherId).then(res => {

      });
setTimeout(() => {
      this.user.name =this.$store.state.Teachers.Teachers.name;
      this.user.email =this.$store.state.Teachers.Teachers.email;
      this.user.phone =this.$store.state.Teachers.Teachers.phone;
      this.user.dob =this.$store.state.Teachers.Teachers.dob;
      this.user.gender =this.$store.state.Teachers.Teachers.gender;
      // this.user.schoolName =this.$store.state.Teachers.Teachers.schoolName;
      this.newUseraddress.oneLineAddress =this.$store.state.Teachers.Teachers.city;
      this.newUseraddress.city =this.$store.state.Teachers.Teachers.city;
      this.newUseraddress.state =this.$store.state.Teachers.Teachers.state;
      this.newUseraddress.zipCode =this.$store.state.Teachers.Teachers.zip;
      this.zipCode =this.$store.state.Teachers.Teachers.zip;
      this.role=this.$store.state.Teachers.Teachers.role;
      this.package_id =this.selectedPackage;
      this.teacher_id =this.selectedTeacher;
      this.club_id = Store.state.user.club_id
      this.role="teacher"

   }, 2500);
  },

  };

</script>
