<template>
  <div>
    <v-layout wrap class="mb-2">
      <v-flex xs12 class=" ma-2">
        <div class="text-sm-left f-20" color="#002d4a">Statistics</div>
      </v-flex>
      <v-divider></v-divider>
    </v-layout>

    <v-container fluid grid-list-xl>

      <v-layout row wrap class="">
        <v-flex d-flex lg6 sm6 xs12>
          <v-card to="TeacherSchedule" class="card-r no-shadow pa-3">
            <v-list three-line>
                  <!--<v-list-tile-avatar>-->
                    <!--<v-img :src="Img" />-->
                  <!--</v-list-tile-avatar>-->

                  <v-list-tile-content class="">
                    <v-list-tile-title class="f-20">
                      <span class=" font-weight-black">Statistics title</span><br>
                      <span class=" font-weight-bold">Admin name</span><br>
                    </v-list-tile-title>
                    <v-list-tile-sub-title class="f-12">
                      <span class="subheading">duration</span><br>
                      <span><P>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into electroWECEWnic typesetting, remaining essentially unchanged.

                      </P></span>

                    </v-list-tile-sub-title>
                  </v-list-tile-content>
            </v-list>
             </v-card>
        </v-flex>
        <v-flex d-flex lg6 sm6 xs12>
          <v-card to="TeacherSchedule" class="card-r no-shadow pa-3">
            <v-list three-line>
              <!--<v-list-tile-avatar>-->
              <!--<v-img :src="Img" />-->
              <!--</v-list-tile-avatar>-->

              <v-list-tile-content class="">
                <v-list-tile-title class="f-20">
                  <span class=" font-weight-black">Statistics title</span><br>
                  <span class=" font-weight-bold">Admin name</span><br>
                </v-list-tile-title>
                <v-list-tile-sub-title class="f-12">
                  <span class="subheading">duration</span><br>
                  <span><P>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into electroWECEWnic typesetting, remaining essentially unchanged.

                      </P></span>

                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list>
          </v-card>
        </v-flex>

        <v-flex d-flex lg6 sm6 xs12>
          <v-card to="TeacherSchedule" class="card-r no-shadow pa-3">
            <v-list three-line>
              <!--<v-list-tile-avatar>-->
              <!--<v-img :src="Img" />-->
              <!--</v-list-tile-avatar>-->

              <v-list-tile-content class="">
                <v-list-tile-title class="f-20">
                  <span class=" font-weight-black">Statistics title</span><br>
                  <span class=" font-weight-bold">Admin name</span><br>
                </v-list-tile-title>
                <v-list-tile-sub-title class="f-12">
                  <span class="subheading">duration</span><br>
                  <span><P>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into electroWECEWnic typesetting, remaining essentially unchanged.

                      </P></span>

                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list>
          </v-card>
        </v-flex>

        <v-flex d-flex lg6 sm6 xs12>
          <v-card to="TeacherSchedule" class="card-r no-shadow pa-3">
            <v-list three-line>
              <!--<v-list-tile-avatar>-->
              <!--<v-img :src="Img" />-->
              <!--</v-list-tile-avatar>-->

              <v-list-tile-content class="">
                <v-list-tile-title class="f-20">
                  <span class=" font-weight-black">Statistics title</span><br>
                  <span class=" font-weight-bold">Admin name</span><br>
                </v-list-tile-title>
                <v-list-tile-sub-title class="f-12">
                  <span class="subheading">duration</span><br>
                  <span><P>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        type and scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also the leap into electroWECEWnic typesetting, remaining essentially unchanged.

                      </P></span>

                </v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list>
          </v-card>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "Customer",
    data: () => ({
      Img: "https://bootdey.com/img/Content/avatar/avatar7.png",

    })
  }
</script>
