<template>
  <v-layout row>
    <v-container fluid grid-list-xl>
      <v-layout row wrap class="">
        <v-flex d-flex lg6 sm6 xs12 class="pa-0">
          <v-card class="card-r no-shadow">
            <!--<h3 class="add-class-header pa-3">BOOKED CLASSES</h3>-->
            <h3 class="add-class-header pa-1">ACTIVE STUDENTS</h3>
            <v-list three-line>
              <template v-for="(item, index) in TeacherStudentData[0].active_students">




                <v-list-tile

                  :key="item.name"
                  avatar
                  @click=""
                >
                  <v-list-tile-avatar>
                    <img :src="item.image">
                  </v-list-tile-avatar>

                  <v-list-tile-content class=" pb-3 f-12">
                    <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                    <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.package_name"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!--<v-btn small color="primary" class="card-r no-shadow ma-0 ">UnBlock</v-btn>-->

                  <!--<v-btn-->
                    <!--v-show="!seen" v-on:click='seen = !seen'-->
                    <!--small class="primary no-shadow card-r">cancel</v-btn>-->
                  <!--<v-btn-->
                    <!--v-show="seen" v-on:click='seen = !seen'-->
                    <!--small class="primary no-shadow card-r">delete</v-btn>-->
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-flex>
        <v-flex d-flex lg6 sm6 xs12 class="pa-0">
          <v-card class="card-r no-shadow">
            <!--<h3 class="add-class-header pa-3">BOOKED CLASSES</h3>-->
            <h3 class="add-class-header pa-1">PENDING STUDENTS</h3>
            <v-list three-line>
              <template v-for="(item, index) in TeacherStudentData[0].pending_students">

                <v-list-tile
                  :key="item.name"
                  avatar
                  @click=""
                >
                  <v-list-tile-avatar>
                    <img :src="item.image">
                  </v-list-tile-avatar>

                  <v-list-tile-content class=" pb-3 f-12">
                    <v-list-tile-title class=" pb-3 f-12" v-html="item.name"></v-list-tile-title>
                    <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.package_name"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!--<v-btn small color="primary" class="card-r no-shadow ma-0 ">UnBlock</v-btn>-->

                  <!--<v-btn-->
                    <!--v-show="!seen" v-on:click='seen = !seen'-->
                    <!--small class="primary no-shadow card-r">cancel</v-btn>-->
                  <!--<v-btn-->
                    <!--v-show="seen" v-on:click='seen = !seen'-->
                    <!--small class="primary no-shadow card-r">delete</v-btn>-->
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <!--<v-flex xs6 sm6 class="pr-1">-->
      <!--<v-layout xs12 class="text-lg-center">-->
      <!--<v-flex>-->
      <!--<h3 class="add-class-header pa-3">ACTIVE STUDENTS</h3>-->
      <!--</v-flex>-->
      <!--</v-layout>-->

      <!--<v-card>-->
        <!--<v-list three-line>-->
          <!--<template v-for="(item, index) in items">-->
            <!--<v-subheader class="justify-center"-->
                         <!--v-if="item.header"-->
                         <!--:key="item.header"-->
            <!--&gt;-->
              <!--{{ item.header }}-->
            <!--</v-subheader>-->

            <!--<v-divider-->
              <!--v-else-if="item.divider"-->
              <!--:inset="item.inset"-->
              <!--:key="index"-->
            <!--&gt;</v-divider>-->

            <!--<v-list-tile-->
              <!--v-else-->
              <!--:key="item.title"-->
              <!--avatar-->
              <!--@click=""-->
            <!--&gt;-->
              <!--<v-list-tile-avatar>-->
                <!--<img :src="item.avatar">-->
              <!--</v-list-tile-avatar>-->

              <!--<v-list-tile-content>-->
                <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
              <!--</v-list-tile-content>-->
              <!--&lt;!&ndash;<v-btn outline small color="blue">view</v-btn>&ndash;&gt;-->
            <!--</v-list-tile>-->
          <!--</template>-->
        <!--</v-list>-->
      <!--</v-card>-->
    <!--</v-flex>-->

    <!--<v-flex xs6 sm6 class="pl-1">-->
      <!--<v-layout xs12 class="text-lg-center">-->
      <!--<v-flex>-->
      <!--<h3 class="add-class-header pa-3">PENDING STUDENTS</h3>-->
      <!--</v-flex>-->
      <!--</v-layout>-->
      <!--<v-card>-->
        <!--<v-list three-line>-->
          <!--<template v-for="(item, index) in items">-->
            <!--<v-subheader class="justify-center"-->
                         <!--v-if="item.header1"-->
                         <!--:key="item.header1"-->
            <!--&gt;-->
              <!--{{ item.header1 }}-->
            <!--</v-subheader>-->

            <!--<v-divider-->
              <!--v-else-if="item.divider"-->
              <!--:inset="item.inset"-->
              <!--:key="index"-->
            <!--&gt;</v-divider>-->

            <!--<v-list-tile-->
              <!--v-else-->
              <!--:key="item.title"-->
              <!--avatar-->
              <!--@click=""-->
            <!--&gt;-->
              <!--<v-list-tile-avatar>-->
                <!--<img :src="item.avatar">-->
              <!--</v-list-tile-avatar>-->

              <!--<v-list-tile-content>-->
                <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
              <!--</v-list-tile-content>-->
              <!--&lt;!&ndash;<v-btn outline small color="blue">view</v-btn>&ndash;&gt;-->
            <!--</v-list-tile>-->
          <!--</template>-->
        <!--</v-list>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  </v-layout>
</template>
<script>
  /* eslint-disable */
      import { mapState, dispatch } from "vuex";

  export default {
    name: "Students",
    data () {
      return {
        items: [
          // { header: 'ACTIVE STUDENTS', header1: 'PENDING STUDENTS' },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>address, package name , </span> &mdash; some describtions for this class or somthig..."
          },
          { divider: true, inset: true },
          
        ],
      }
    },
    props:['id'],
    created() {
      this.teacherId = this.$route.params.id;
      console.log('this is from createddjhfkah')
      console.log(this.teacherId)
      Store.dispatch("Teachers/getTeacher_studentById", this.teacherId).then(res => {
      });

    },
    computed: {
      ...mapState({
        TeacherStudentData: TeacherStudentData => Store.state.Teachers.TeacherStudentData
      })
    },
  }

</script>
