<template>
  <div class="personal">
    <v-container class="pa-0">
      <!--<v-layout wrap class="mb-2">-->
        <!--<v-flex xs12 class=" ma-2">-->
          <!--<div class="text-sm-left f-20" color="#002d4a">My profile</div>-->
        <!--</v-flex>-->
        <!--<v-divider></v-divider>-->
      <!--</v-layout>-->

      <!--<v-btn-->
      <!--slot="activator"-->
      <!--color="blue lighten-2"-->
      <!--dark>-->
      <!--edit profile-->
      <!--</v-btn>-->
      <v-layout>
        <v-flex>

        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-img size="36px" :src="coverPhoto" class="CoverPhoto"></v-img>
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>-->
          <v-btn to="editprofile" icon flat color="grey" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">delete</v-icon></v-btn>-->
          <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">block</v-icon></v-btn>-->
        </v-flex>
      </v-layout>
      <v-layout row class="text-md-center">

        <v-flex xs12 class="profileImg ">
          <v-img :src="Teachers.image" class="boxShadow"></v-img>
          <!-- </v-flex> -->

          <!-- <v-flex class="profileDet" xs3> -->

        </v-flex>
      </v-layout>
      <v-container fluid grid-list-xl>
        <v-layout row wrap class="">
          <v-flex d-flex lg12 sm12 xs12>
            <div class="text-xs-center">
              <span class="headline font-weight-black text-capitalize">{{Teachers.name}}</span> <br>
              <span class="subheading font-weight-light text-capitalize"> Lorem Ipsum is simply dummy text
                  of the printing and typesetting industry. Lorem Ipsum has been the i
                </span>
              <p class="title font-weight-bold">About</p>
              <p class="">
                Teachers create lesson plans and teach those plans to the entire class, individually to
                students or in small groups, track student progress and present the information to parents,
                create tests, create and reinforce classroom rules, work with school administration prepare
                students for standardized tests, and manage ...</p>
            </div>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p> Full Name </p> </v-flex>
                <v-flex xs6>{{Teachers.name}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Email</p> </v-flex>
                <v-flex xs6>{{Teachers.email}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Phone Number</p> </v-flex>
                <v-flex xs6>{{Teachers.phone}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Date of Birth</p> </v-flex>
                 <v-flex xs6>{{Teachers.dob}}</v-flex>
                   <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
                <v-layout row class="ma-0 ">
                  <v-flex xs6 class="label"><p>Address</p> </v-flex>
                  <v-flex xs6>krt7inkfguybh</v-flex>
                </v-layout>
              </v-card>
            </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Postal Code</p> </v-flex>
                <v-flex xs6>{{Teachers.zipCode}}</v-flex>
                <v-flex xs4 class="label"><p>Address</p> </v-flex>
                <v-flex xs8>Ørritslevvej 3, 5471 Søndersø, Denmark</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>City</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>State</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p>Postal Code</p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
          <v-flex d-flex lg4 sm6 xs12 class="pa-0">
            <v-card class="PersonalCards pa-0  no-shadow card-r">
              <v-layout row class="ma-0 ">
                <v-flex xs6 class="label"><p>Gender</p> </v-flex>
                <v-flex xs6>{{Teachers.gender}}</v-flex>
              </v-layout>
            </v-card>
          </v-flex>
          <!--<v-flex d-flex lg4 sm6 xs12 class="pa-0">-->
            <!--<v-card class="PersonalCards pa-0  no-shadow card-r">-->
              <!--<v-layout row class="ma-0 ">-->
                <!--<v-flex xs6 class="label"><p> Full Name </p> </v-flex>-->
                <!--<v-flex xs6>krt7inkfguybh</v-flex>-->
              <!--</v-layout>-->
            <!--</v-card>-->
          <!--</v-flex>-->
        </v-layout>
      </v-container>
      <!--</v-layout>-->
    </v-container>
  </div>
</template>

<script>
  /* eslint-disable */
  // import EditProfile from './EditProfile'
    import { mapState, dispatch } from "vuex";
  export default {
    name: "personal",
    data: () => ({
      coverPhoto: "https://s3.amazonaws.com/stg-drivers-license-assistance.org/images/blog/find-driving-teacher.jpg",
      ProfileImg: "https://cdn.vuetifyjs.com/images/lists/2.jpg",
    }),
    props:['id'],
     created() {
      this.teacherId = this.$route.params.id;
      Store.dispatch("Teachers/getTeacherById", this.teacherId).then(res => {
      });

  },
  computed: {
    ...mapState({
      Teachers: Teachers => Store.state.Teachers.Teachers
    })
  },

  };
</script>
