<template>
  <div class="profile">
    <v-container class="pt-0">

      <!--<v-layout row class="pb-2 px-0 ">-->
      <!--<v-flex class="text-xs-right">-->
      <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">edit</v-icon></v-btn>-->
      <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">delete</v-icon></v-btn>-->
      <!--<v-btn icon flat color="grey" to="/signup" class="text-xs-right right"><v-icon class="px-2">block</v-icon></v-btn>-->
      <!--</v-flex>-->
      <!--</v-layout>-->
      <v-layout row class="pb-2 px-0">

        <v-flex>
          <v-tabs
            slot="extension"
            v-model="profileTabs"
            centered
            fixed-tabs
            color="transparent"
          >
            <v-tabs-slider color="blue"></v-tabs-slider>

            <v-tab href="#TeacherPersonal" class="primary--text f-12">Teacher Personal</v-tab>
            <v-tab href="#TeacherClasses" class="primary--text f-12">Classes</v-tab>
            <v-tab href="#Students" class="primary--text f-12">Students</v-tab>
            <v-tab href="#calender" class="primary--text f-12">calender</v-tab>
            <v-tab href="#Statistics" class="primary--text f-12">Statistics</v-tab>


          </v-tabs>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex>
          <v-tabs-items v-model="profileTabs">
            <v-tab-item id="TeacherPersonal" >
              <teacher-personal/>
            </v-tab-item>
            <v-tab-item id="TeacherClasses">
              <TeacherClasses/>
            </v-tab-item>
            <v-tab-item id="Students">
              <Students/>
            </v-tab-item>
            <v-tab-item id="calender">
              <calender/>
            </v-tab-item>
            <v-tab-item id="Statistics">
              <Statistics/>
            </v-tab-item>
          </v-tabs-items>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
  import TeacherPersonal from "../teacher/TeacherPersonal";
  import Calender from "../teacher/Calender";
  import Statistics from "../teacher/Statistics";
  import Students from "../teacher/Students";
  import TeacherClasses from "../teacher/TeacherClasses";

  export default {
    name: "AdminProfile",
    data: () => ({
      profileTabs: null
    }),
    components: {
      TeacherPersonal,
      Calender,
      Statistics,
      Students,
      TeacherClasses
    }
  };
</script>
