<template>
  <v-layout row>
    <v-flex xs12 sm12 lg12 class="pr-1">
      <v-layout xs12>
        <v-flex class="text-lg-center">
        </v-flex>
      </v-layout>
      <!--<v-layout xs12 class="right" style="right:-100px;position: absolute; z-index: 10; top: -50px">-->
        <!--<v-flex xs12>-->
          <!--<span >Create class</span>-->
          <!--<v-btn fab dark color="indigo">-->
            <!--<v-icon dark>add</v-icon>-->
          <!--</v-btn>-->
        <!--</v-flex>-->
      <!--</v-layout>-->
      <v-container fluid grid-list-xl class="pa-0 mt-2 mb-1">
        <v-layout row wrap class="">
          <v-flex d-flex lg6 sm6 xs6>
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="dateFormatted"
                label="Start Date"
                persistent-hint
                placeholder="dd/mm/yyyy"
                prepend-icon="event"
              ></v-text-field>
              <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex d-flex lg6 sm6 xs6>
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              max-width="290px"
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                v-model="dateFormatted"
                label="End Date"
                persistent-hint
                placeholder="dd/mm/yyyy"
                prepend-icon="event"
              ></v-text-field>
              <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
            </v-menu>
          </v-flex>
        </v-layout>
      </v-container>

      <v-container fluid grid-list-xl>
        <v-layout row wrap class="">
          <v-flex d-flex lg6 sm6 xs12 class="pa-0">
            <v-card class="card-r no-shadow">
              <!--<h3 class="add-class-header pa-3">BOOKED CLASSES</h3>-->
                  <h3 class="add-class-header pa-1">BOOKED CLASSES</h3>
                  <v-list three-line>
                    <template v-for="(item, index) in items">
                      <v-subheader class="justify-center"
                                   v-if="item.header"
                                   :key="item.header"
                      >
                        {{ item.header }}
                      </v-subheader>

                      <v-divider
                        v-else-if="item.divider"
                        :inset="item.inset"
                        :key="index"
                      ></v-divider>

                      <v-list-tile
                        class=""
                        v-else
                        :key="item.title"
                        avatar
                        @click=""
                      >
                        <v-list-tile-avatar>
                          <img :src="item.avatar">
                        </v-list-tile-avatar>

                        <v-list-tile-content class=" pb-3 f-12">
                          <v-list-tile-title class=" pb-3 f-12" v-html="item.title1"></v-list-tile-title>
                          <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.subtitle"></v-list-tile-sub-title>
                        </v-list-tile-content>
                        <!--<v-btn small color="primary" class="card-r no-shadow ma-0 ">UnBlock</v-btn>-->

                        <v-btn
                          small class="primary no-shadow card-r">cancel</v-btn>
                      </v-list-tile>
                    </template>
                  </v-list>
            </v-card>
          </v-flex>
          <v-flex d-flex lg6 sm6 xs12 class="pa-0">
            <v-card class="card-r no-shadow">
            <h3 class="add-class-header pa-1">UNBOOKED CLASSES</h3>
            <v-list three-line>
              <template v-for="(item, index) in items">
                <v-subheader class="justify-center"
                             v-if="item.header"
                             :key="item.header"
                >
                  {{ item.header1 }}
                </v-subheader>

                <v-divider
                  v-else-if="item.divider"
                  :inset="item.inset"
                  :key="index"
                ></v-divider>

                <v-list-tile
                  v-else
                  :key="item.title"
                  avatar
                  @click=""
                >
                  <v-list-tile-avatar>
                    <v-avatar color="blue-grey lighten-4">
                      <v-icon dark>account_circle</v-icon>
                    </v-avatar>
                  </v-list-tile-avatar>

                  <v-list-tile-content left class=" pb-3 f-12">
                    <v-list-tile-title class=" pb-3 f-12" v-html="item.title"></v-list-tile-title>
                    <v-list-tile-sub-title class=" pb-3 f-12" v-html="item.subtitle"></v-list-tile-sub-title>
                  </v-list-tile-content>
                  <!-- <v-btn small class="primary no-shadow card-r">cancel</v-btn> -->
                  <!--<v-btn v-if="seen" outline small color="blue">delete</v-btn>-->
                  <!--<v-btn v-show="!seen" v-on:click='seen = !seen' outline small color="blue">delete</v-btn>-->
                  <!--<v-btn v-show="seen" v-on:click='seen = !seen' outline small color="blue">cancel</v-btn>-->
                </v-list-tile>
              </template>
            </v-list>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

    </v-flex>
  </v-layout>
</template>
<script>
  export default {
    data () {
      return {
        seen: true,
        items: [
          // { header: 'BOOKED CLASSES', header1: 'UNBOOKED CLASSES' },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            avatar1: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>DATE & TIME </span> &mdash; some describtions for this class or somthig..."
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/2.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>DATE & TIME </span> &mdash; some describtions for this class or somthig..."
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/3.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>DATE & TIME </span> &mdash; some describtions for this class or somthig..."
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/4.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>DATE & TIME </span> &mdash; some describtions for this class or somthig...?"
          },
          { divider: true, inset: true },
          {
            avatar: 'https://cdn.vuetifyjs.com/images/lists/5.jpg',
            title1: 'student name',
            title: 'Not Booked',
            subtitle: "<span class='text--primary'>DATE & TIME </span> &mdash; some describtions for this class or somthig..."
          }
        ]
      }
    }
  }
</script>



<!--<template>-->
  <!--<v-layout row xs12 justify-center>-->
    <!--<v-flex xs12>-->
      <!--<v-card>-->
        <!--<v-card-title justify-center xs12>-->
          <!--<v-layout xs12>-->
            <!--<v-flex xs10 offset-xs5>-->
              <!--<h1 class="add-class-header">Teacher Classes</h1>-->
            <!--</v-flex>-->
          <!--</v-layout>-->
        <!--</v-card-title>-->
        <!--<v-card class="combo-vcard">-->

          <!--<v-layout xs12>-->
            <!--<v-layout xs6>-->
            <!--<v-flex xs6 offset-xs0>-->
              <!--<v-card flat class="content-card">-->
                <!--<v-card-title primary-title>-->
                  <!--<v-layout xs12>-->
                    <!--<v-flex xs2 justify-center>-->
                      <!--<v-icon  class="mt-4 text-xs-left add-class-icon left">far fa-user-circle</v-icon>-->
                    <!--</v-flex>-->
                    <!--<v-flex xs8>-->
                      <!--<h3 class="left" >Student Name</h3><br><br>-->
                      <!--<p class="pr-2 " >Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>-->
                      <!--<span class="left ">45min</span>-->
                    <!--</v-flex>-->
                    <!--<v-flex xs4>-->
                      <!--<v-btn class="addclass-btn " >Change Time</v-btn><br>-->
                      <!--<v-btn class=" addclass-btn">Cancel</v-btn>-->
                    <!--</v-flex>-->
                  <!--</v-layout>-->
                <!--</v-card-title>-->
              <!--</v-card>-->
            <!--</v-flex>-->
            <!--</v-layout>-->
            <!--<v-divider-->
              <!--inset-->
              <!--vertical-->
            <!--&gt;</v-divider>-->
            <!--<v-flex xs6 offset-xs0 >-->
              <!--<v-card flat class="content-card">-->
                <!--<v-card-title primary-title>-->
                  <!--<v-layout xs12>-->
                    <!--<v-flex xs2 justify-center>-->
                      <!--<v-icon  class="mt-4 text-xs-left add-class-icon left">far fa-user-circle</v-icon>-->
                    <!--</v-flex>-->
                    <!--<v-flex xs8>-->
                      <!--<h3 class="left" >Student Name</h3><br><br>-->
                      <!--<p class="pr-2 " >Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>-->
                      <!--<span class="left ">45min</span>-->
                    <!--</v-flex>-->
                    <!--<v-flex xs4>-->
                      <!--<v-btn class=" addclass-btn " >Change Time</v-btn><br>-->
                      <!--<v-btn class=" addclass-btn">Cancel</v-btn>-->
                    <!--</v-flex>-->
                  <!--</v-layout>-->
                <!--</v-card-title>-->
              <!--</v-card>-->
            <!--</v-flex>-->
          <!--</v-layout>-->
        <!--</v-card>-->
      <!--</v-card>-->
    <!--</v-flex>-->
  <!--</v-layout>-->
<!--</template>-->
<!--<script>-->
  <!--export default {-->
    <!--data () {-->
      <!--return {-->
        <!--select: 'Booked Class',-->
        <!--select1: 'When ?',-->
        <!--select2: 'Session type',-->
        <!--items: [-->
          <!--'Booked Class',-->
          <!--'UnBooked',-->
          <!--'All'-->
        <!--],-->
        <!--items1: [-->
          <!--'When ?',-->
          <!--'Where ?',-->
          <!--'How ?'-->
        <!--],-->
        <!--items2: [-->
          <!--'Session type',-->
          <!--'Where ?',-->
          <!--'How ?'-->
        <!--]-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--</script>-->
<!--<style>-->
  <!--.add-class-icon{-->
    <!--color: #0080c2 !important;-->
    <!--font-size: 55px !important;-->
  <!--}-->
  <!--.add-class-header{-->
    <!--color: #0067b1;-->
  <!--}-->
  <!--.addclass-btn{-->
    <!--width: 100% !important;-->
    <!--background-color: #0097cf !important;-->
    <!--color: #fff !important;-->
    <!-- -webkit-box-shadow: 10px 7px 17px -5px rgba(194,194,194,1);-->
    <!-- -moz-box-shadow: 10px 7px 17px -5px rgba(194,194,194,1);-->
    <!--box-shadow: 10px 7px 17px -5px rgba(194,194,194,1);-->
    <!--border-radius: 5px;-->
  <!--}-->
  <!--.combo-vcard{-->
    <!--border-top: 1px solid #ededed !important;-->
  <!--}-->
  <!--.combo-vcard .fa-caret-down:before{-->
    <!--color:#0069b3;-->
  <!--}-->
  <!--.content-card p{-->
    <!--color: #adadad;-->
  <!--}-->
  <!--.content-card h3{-->
    <!--color: #0080c2;-->
  <!--}-->
  <!--.content-card span{-->
    <!--color: #adadad;-->
  <!--}-->
<!--</style>-->
