<template>
  <v-app>
      <router-view/>

  </v-app>
</template>

<script>
/* eslint-disable */
export default {
  name: "App"
};
</script>
<style>
@import "./css/main.css";
/*@import "./assets/css/main.css";*/
.fa, .fas, .far, .fal, .fab{
  font-size: 14px !important;
}
.v-input--selection-controls__input{
  margin-top: 10px !important;
  margin-right: 0px !important;
}
.material-icons {
  font-size: 20px !important;
}
</style>
