<template>
  <div class="Login">
    <v-container fill-height class="mainBackG loginMain">
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class="Formcard card-r no-shadow">
            <!--<v-toolbar flat xs12 class="toolbar fixed-top">-->
            <!--<div class="btn-tool text-xs-right">-->
            <!--<div to="`#/Login`" class="aBtn"><v-icon class="textColor">keyboard_backspace</v-icon></div>-->
            <!--</div>-->
            <!--<v-spacer></v-spacer>-->
            <!--<v-toolbar-title>-->
            <!--<h2 class="textColor text-xs-center title">Verificaton</h2>-->
            <!--</v-toolbar-title>-->
            <!--<v-spacer></v-spacer>-->
            <!--<v-toolbar-items class="hidden-sm-and-down">-->
            <!--</v-toolbar-items>-->
            <!--</v-toolbar>-->
            <v-flex class="possition-fixed">
              <a :href="`/Login`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>

              <!--<img class = "logo" src="../../assets/logo.png"/>-->
              <h1 class="display-1 font-weight-medium">Complete Registration</h1>
              <div class="text-xs-center f-12">Create Your Own School School</div>

            </v-flex>
            <v-form v-model="loginAdmin" row>
              <template>
                <v-stepper v-model="createSchool" class="card-r no-shadow transparent">
                  <!--<v-divider/>-->
                  <v-layout wrap>
                    <v-flex md3 sm3 xs3 lg3 class="">
                      <v-stepper-header class=" card-r no-shadow ">
                        <v-stepper-step xs4 :complete="createSchool > 4" step="4">Billing info</v-stepper-step>
                        <v-stepper-step xs4 :complete="createSchool > 5" step="5">Credit card info</v-stepper-step>
                      </v-stepper-header>
                    </v-flex>
                    <v-flex md9 sm12 xs12 lg9 class=" ">
                      <v-stepper-items class="">
                        <v-stepper-content step="4">
                          <div class="text-xs-center f-15">Step 4 of 5</div>

                          <form >

                            <v-card class="text-xs-center elevation-1 card-r no-shadow" color="transparent">
                              <!-- Club Details -->
                              <v-layout row wrap>
                                <span class="f-15 textColor font-weight-bold">Billing info</span>


                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="Full name"
                                    label="Full name"
                                    v-model="fullname"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="Address"
                                    label="Address"
                                    type="text"
                                    v-model="address"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="City"
                                    label="City"
                                    type="text"
                                    v-model="city"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="Zip code"
                                    label="Zip code"
                                    type="text"
                                    v-model="Zipcode"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="Country"
                                    label="Country"
                                    type="text"
                                    v-model="Country"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-card>
                            <v-btn color="primary right card-r no-shadow"  @click="createSchool = 5">Next</v-btn>
                          </form>
                        </v-stepper-content>

                        <v-stepper-content step="5">
                          <div class="text-xs-center f-15">Step 5 of 5</div>

                          <form >
                            <v-card class="text-xs-center elevation-1 card-r no-shadow" color="transparent">
                              <!-- Club Details -->
                              <v-layout row wrap>
                                <span class="f-15 textColor font-weight-bold">Credit card info</span>

                                <v-flex md12 wrap sm12 xs12 class="0">
                                  <div class="card-type "></div>
                                  <div class="card-type mastercard"></div>
                                  <div class="card-type visa"></div>
                                  <div class="card-type amex"></div>
                                  <div class="card-type discover"></div>

                                  <!--<v-card class="text-xs-center" style="-->
                                  <!--height: 80px;-->
                                  <!--width: 150px;-->
                                  <!--font-size: 55px;-->
                                  <!--border-radius: 10px;-->
                                  <!--text-transform: uppercase;-->
                                    <!--font-family: fantasy;-->
                                  <!--color: #0044c3;">-->
                                    <!--visa-->
                                  <!--</v-card>-->
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                      {{card_number}}
                                  <v-text-field
                                    placeholder="0000 0000 0000 0000"
                                    name="Card Number"
                                    label="Card Number"
                                    type="text"
                                    maxlength="7"
                                    v-model="card_number"
                                    class=" input-group--focused mt-0"
                                    required
                                    @input="checkcardnumber"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="Expire Date"
                                    label="Expire Date"
                                    type="text"
                                    maxlength="7"
                                    placeholder="mm/yyyy"
                                    v-model="expiration_date"
                                    class=" input-group--focused mt-0"
                                    required
                                    @input="checkdate"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex md12 sm12 xs12 class="0">
                                  <v-text-field
                                    name="CVV"
                                    label="CVV"
                                    type="Number"
                                    v-model="cvd"
                                    class=" input-group--focused mt-0"
                                    required
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-card>
                            <!--<v-btn color="primary right" >Finish</v-btn>-->
                            <ConfirmSignup v-bind:value1="card_number" v-bind:value2="expiration_date" v-on:confirmyes="save()"/>
                            <v-btn @click="createSchool =  4 " class="right card-r no-shadow">Back</v-btn>
                          </form>
                        </v-stepper-content>

                      </v-stepper-items>
                    </v-flex>
                  </v-layout>
                </v-stepper>

              </template>

              <!--<v-snackbar v-if="loading===false" :right="true" :timeout="timeout" :color="mode" v-model="snackbar" >-->
              <!--rewdgthghr5fbf-->
              <!--<v-btn dark flat @click.native="closeSnackbar">Close</v-btn>-->
              <!--</v-snackbar>-->

            </v-form>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>
<script>
	/* eslint-disable */
	import ConfirmDialog from "@/components/ConfirmDialog.vue";
	import ConfirmBooking from "@/components/ConfirmBooking.vue";
  import ConfirmPackage from "@/components/ConfirmPackage.vue";
  import ConfirmSignup from "@/components/auth/ConfirmSignup.vue";
	import OpenDays from "./OpenDays.vue";
	import { dispatch, mapState, mapActions, Store, mapMutations } from "vuex";
	import VueDawa from "vue-dawa";

	export default {
		data: () => ({
            //payment details
      package_id:'2',
      card_number:'',
      expiration_date:'',
      expiration_month:'',
      expiration_year:'',
      cvd:'',
      card_holder_name:'',
      fullname:'',
      address:'',
      city:'',
      Zipcode:'',
      Country:'',

      createSchool: 0,
      policy:false,
      policyerror:"false",
      SelectedPackageId:'',
			file:'',
			clubAddress: {
				oneLineAddress: ""
			},
			adminAddress: {
				oneLineAddress: ""
			},
			modal: false,
			modal2: false,
			modal3: false,
			passwordShow: false,
			// Club

			logoURL: "",
			coverPhotoURL: "",
			attachment: {
				photos: [],
				photosURL: [],
				videos: [],
				videosURL: []
			},
			gender_: ["Male", "Female"],
			valid: false,
			name: "",
			numberRules: [
				v => !!v || "Mobile number is required",
				v => (v && v.length <= 8) || "Mobile number must be 8 characters"
			],
			requiredRule: [v => !!v || "This field is required"],
			email: "",
			emailRules: [
				v => !!v || "E-mail is required",
				v =>
					/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
					"E-mail must be valid"
			],

			passwordRules: [
				v => !!v || "Password is required",
				v => (v && v.length > 6) || "Password must be grater than 6 characters. Use lower case, upper case & special characters"
      ],
      days:['Monday','Tuesday','Wednesday','Thursday','Friday'],
      openDaysAndTime:{
          openDays:[],
          startTime:[],
          closeTime:[]
      }
		}),

		computed: {
			...mapState({
				loading: "loading",
				mode: "mode",
				admin: "admin",
				club: "club",
        adminPackages:"adminPackages",
				package: "package",
				snackbar: "snackbar",
				notice: "notice",
				timeout: "timeout",
				tempAdminId: "tempAdminId"
      }),
      ...mapMutations({
        setClubAdminNull: 'setClubAdminNull'
      })
		},

		methods: {
      checkdate(){
        if(this.expiration_date.length==2){
              this.expiration_date=this.expiration_date+'/'
        }
      },
      checkcardnumber(){
        console.log("checkcardnumber")
        if(this.card_number.length>16){
          console.log(this.card_number.length)
          this.card_number=this.card_number.substring(0,16)
          console.log(this.card_number)
        }
      },
      choosePackage(packageId){
        this.SelectedPackageId=packageId
      },
			...mapActions(["loadAdminPackages", "addAdmin", "addClub"]),
			selectItem(payload, objectName) {
        this.$set(this, objectName, this.translateData(payload));
			},

			translateData(address) {
				if (!address || !address.data) {
					return;
				}
				return {
					id: address.data.id,
					street: address.data.vejnavn,
					streetNumber: address.data.husnr,
					floor: address.data.etage,
					door: address.data.dør,
					zipCode: address.data.postnr,
					city: address.data.postnrnavn,
					oneLineAddress: address.tekst
				};
      },
			save() {
        let expiration_month=this.expiration_date.substring(0,2)
        let expiration_year=this.expiration_date.substring(3,7)
        console.log(expiration_month,expiration_year)
          var paymentDetails={
            'package_id':this.package_id,
            'card_number':this.card_number,
            'expiration_month':expiration_month,
            'expiration_year':expiration_year,
            'cvd':this.cvd,
            'card_holder_name':this.fullname,
            'address':this.address,
            'city':this.city,
          }
          console.log(paymentDetails)
          this.$store.commit('setLoading', { loading: true })
          this.$store.dispatch('AddPayment',paymentDetails).then(res=>{
            console.log(res)
            this.$store.commit('setLoading', { loading: false })
          })
      },
      selectPackage(packageid){
      },
			onPickLogo() {
				this.$refs.logoInput.click();
			},
			OnLogoPicked(event) {
				const files = event.target.files;
				let fileName = files[0].name;
				this.club.club_logo = fileName;
				if (fileName.lastIndexOf(".") <= 0) {
					return alert("Please add a valid file! ");
				}
				const fileReader = new FileReader();
				this.club.club_logo = files[0];

				this.club.club_logo_name = files[0].name;

			},
			onPickCover() {
				this.$refs.CoverInput.click();
			},
			OnCoverPicked(event) {
				const files = event.target.files;
				let fileName = files[0].name;
				if (fileName.lastIndexOf(".") <= 0) {
					return alert("Please add a valid file! ");
				}
				this.club.club_cover=files[0];


				this.club.club_cover_name = files[0].name;

			},
			onPickImg() {
				this.$refs.ImgInput.click();
			},
			onPickVideo() {
				this.$refs.VideoInput.click();
			},
			onImgPicked() {
				const files = event.target.files;
				let fileName = files[0].name;
				if (fileName.lastIndexOf(".") <= 0) {
					return alert("Please add a valid file! ");
				}
				const fileReader = new FileReader();
				fileReader.addEventListener("load", () => {
					this.attachment.photosURL.push(fileReader.result);
				});
				fileReader.readAsDataURL(files[0]);
				this.attachment.photos.push(files[0]);
			},
			onVideoPicked() {
				const files = event.target.files;
				let fileName = files[0].name;
				if (fileName.lastIndexOf(".") <= 0) {
					return alert("Please add a valid file! ");
				}
				const fileReader = new FileReader();
				fileReader.addEventListener("load", () => {
					this.attachment.videosURL.push(fileReader.result);
				});
				fileReader.readAsDataURL(files[0]);
				this.attachment.videos.push(files[0]);
      },
      setDaysAndTime(Data){
        this.openDaysAndTime.openDays=Data.Days;
        this.openDaysAndTime.startTime=Data.startTime;
        this.openDaysAndTime.closeTime=Data.closeTime;
      }
		},
		components: {
			ConfirmBooking,
      ConfirmDialog,
      ConfirmPackage,
			VueDawa,
      OpenDays,
      ConfirmSignup

		},
		created() {
      console.log("created")
      console.log(this.$store)
      console.log("ss")
    }
	};
</script>

<style>
  .transparent{
    background-color: transparent!important;
  }
  .card-type {
    display: none;
    width: 80px;
    height: 56px;
    background: url("../../assets/cards.png");
    background-position: 0 -291px;
    background-repeat: no-repeat;
  }
  .card-type.mastercard {
    background-position: 0 0;
  }
  .card-type.visa {
    background-position: 0 -115px;
  }
  .card-type.amex {
    background-position: 0 -57px;
  }
  .card-type.discover {
    background-position: 0 -174px;
  }
  .v-stepper__header {
    margin: 24px 0px 0px 20px ;
    display: table;
    overflow: hidden;
  }
  .theme--light.v-stepper {
    height: 77vh;
    /*height: 378px;*/
    overflow: -moz-scrollbars-none;
  }
  .Formcard{
    height: -webkit-fill-available!important;
  }
  .theme--light.v-stepper .v-stepper__step__step, .theme--light.v-stepper .v-stepper__step__step .v-icon {
    color: #fff;
    padding: 15px;
    font-size: 12px;
  }
  .v-stepper__step{
    padding:  11px 48px 11px 20px;
  }
  .v-stepper__content {
    overflow: auto;
    height: -webkit-fill-available;
    /*height: 100%;*/
  }
  /* Smartphones (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .v-stepper__header{
      display: none!important;
    }
    .v-stepper__content{
      padding: 0px !important;
    }
    .Formcard {
      height: -webkit-fill-available!important;
    }
  }
  .v-dialog{
    box-shadow: none!important;
  }
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px){
    .v-stepper__header{
      display: none!important;
    }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
    .v-stepper__header{
      display: none!important;
    }
  }


  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .v-stepper__header{
      display: none!important;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .v-stepper__header{
      display: none!important;
    }
  }



  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .v-stepper__header{
      display: none!important;
    }
  }

  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .v-stepper__header{
      display: none!important;
    }
  }

  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .v-stepper__header{
      display: none!important;
    }
  }

  /* iPad 3 ---------------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .v-stepper__header{
      display: none!important;
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .v-stepper__header{
      display: none!important;
    }
  }


  /* Desktops and laptops ----------- */
  @media only screen and (min-width : 1224px) {
    .v-stepper__header{
      display: table!important;
    }
  }

  /* 960px layouts ----------- */
  @media only screen and (min-width : 960px){
    .v-stepper__header{
      display: table!important;
    }
  }

  /* Large screens ----------- */
  @media only screen and (min-width : 1824px) {
    .v-stepper__header{
      display: table!important;
    }
  }
</style>
