<template>
<div class="ResetPassword">
    <v-container fill-height class="mainBackG loginMain">
        <v-layout row wrap align-center>
            <v-flex class="text-xs-center" xs12 lg4 style="margin:auto">

              <div class="Formcard align no-shadow card-r">


                    <v-form v-model="verification" row class="w-100">
                      <v-flex xs12 md12 pt-0>
                        <v-toolbar flat xs12 class="toolbar ">
                          <div  class="btn-tool text-xs-right">
                            <a :href="`/signup`" class="aBtn"><v-icon class="textColor">keyboard_backspace</v-icon></a>
                          </div>
                          <v-spacer></v-spacer>
                          <v-toolbar-title>
                            <h2 class="textColor text-xs-center title">Verification</h2>
                          </v-toolbar-title>
                          <v-spacer></v-spacer>
                          <v-toolbar-items class="hidden-sm-and-down">
                          </v-toolbar-items>
                        </v-toolbar>
                        <!-- <img class = "logo" src="../../assets/logo.png"/>
                        <h1 class="headline font-weight-medium">Reset password</h1> -->
                        <p class="text-xs-center font-weight-regular" >Enter your email verification code</p>

                      </v-flex>
                            <v-layout wrap class="logBD">
                                <!-- <v-flex xs12 md12 class="text-xs-right" py-0 my-0>
                                </v-flex> -->
                                <v-flex xs12 sm12>
                                    <v-text-field
                                    outline
                                    label="Code"
                                      v-model="code" required></v-text-field>
                                </v-flex>

            <v-flex xs12 sm12 pb-0>
                <v-btn class="btnM mainBackG no-shadow card-r" color="white" :disabled="!verification" :to="``">Confirm</v-btn>
            </v-flex>

        </v-layout>

    </v-form>
</div>
</v-flex>
</v-layout>
</v-container>

</div>
</template>

<script>
/* eslint-disable */
export default {
  name: "ResetPassword",
  data: () => ({
    verification: false,
    code: ""
  })
};
</script>
<style>
  .align{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
  }
  .Formcard{
    height: -webkit-fill-available!important;
  }
</style>
