<template>
  <v-dialog  class="pa-0 display-unset" v-model="dialog" width="700">
    <v-btn @click="save" slot="activator" class="no-shadow card-r primary mt-1" small color="blue">change time</v-btn>
    <v-btn @click="save" slot="activator" class="no-shadow card-r primary mt-1" small color="blue">Cancel book</v-btn>


    <!--<v-card class="mt-2 no-shadow card-r">-->
      <!--<v-card-title justify-center xs12>-->

      <!--<v-layout xs12>-->
      <!--<v-flex xs12 class="text-xs-center">-->
      <!--<h1 class="add-class-header">Select student Classes</h1>-->
      <!--</v-flex>-->
      <!--</v-layout>-->
      <!--</v-card-title>-->
<v-card>

  <v-layout row xs12 justify-center>
    <v-flex xs12>
      <v-layout wrap>
        <v-flex xs12 class=" ma-2">
          <div class="text-sm-left f-20" color="#002d4a" @click="save">Book student Classes</div>
        </v-flex>
        <v-divider></v-divider>
      </v-layout>
  <v-container fluid grid-list-xl>
    <v-layout row wrap class="">
      <!--<v-flex d-flex lg4 sm4 xs12>-->
        <!--<v-autocomplete-->
          <!--v-model="model"-->
          <!--:items="searchname"-->
          <!--label="Search Name"-->
          <!--prepend-icon="person"-->
          <!--placeholder="Name ">-->
        <!--</v-autocomplete>-->
      <!--</v-flex>-->
      <!--<v-flex d-flex lg4 sm4 xs12>-->
        <!--<v-autocomplete-->
          <!--v-model="model"-->
          <!--:items="classname"-->
          <!--prepend-icon="fas fa-tachometer-alt"-->
          <!--label="Select class"-->
          <!--placeholder="class name ">-->
        <!--</v-autocomplete>-->
      <!--</v-flex>-->
      <v-flex d-flex lg4 sm4 xs12>
        <v-menu
          ref="menu1"
          v-model="menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <v-text-field
            slot="activator"
            v-model="dateFormatted"
            label="Select Date"
            persistent-hint
            placeholder="dd/mm/yyyy"
            prepend-icon="event"
          ></v-text-field>
          <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex d-flex lg4 sm4 xs12>
        <v-select
          :items="timeslot"
          class="input-group--focused"
          prepend-icon="alarm"
          placeholder="select your time"
          label="Starting Time"
        ></v-select>          </v-flex>
      <v-flex d-flex lg4 sm4 xs12>
        <v-btn  larg depressed class="no-shadow card-r ml-4 mr-4" color="primary">book class</v-btn>
      </v-flex>
    </v-layout>
  </v-container>

      <!--<v-card class="combo-vcard ma-4 card-r no-shadow">-->
        <!--&lt;!&ndash;<v-divider ></v-divider>&ndash;&gt;-->
        <!--<v-layout xs12>-->

          <!--<v-flex xs6 offset-xs0 >-->
            <!--<v-card class="no-shadow card-r">-->
              <!--<v-list three-line>-->
                <!--<template v-for="(item, index) in items">-->
                  <!--<v-subheader class="justify-center"-->
                               <!--v-if="item.header"-->
                               <!--:key="item.header"-->
                  <!--&gt;-->
                    <!--{{ item.header }}-->
                  <!--</v-subheader>-->

                  <!--<v-divider-->
                    <!--v-else-if="item.divider"-->
                    <!--:inset="item.inset"-->
                    <!--:key="index"-->
                  <!--&gt;</v-divider>-->

                  <!--<v-list-tile-->
                    <!--v-else-->
                    <!--:key="item.title"-->
                    <!--avatar-->
                    <!--@click=""-->
                  <!--&gt;-->
                    <!--<v-list-tile-avatar>-->
                      <!--&lt;!&ndash;<img :src="item.avatar">&ndash;&gt;-->
                      <!--<v-avatar color="blue-grey">-->
                        <!--<v-icon dark>account_circle</v-icon>-->
                      <!--</v-avatar>-->
                    <!--</v-list-tile-avatar>-->

                    <!--<v-list-tile-content>-->
                      <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                      <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
                    <!--</v-list-tile-content>-->
                    <!--<v-flex  xs3 offset-xs0 class="ml-3 mr-2">-->
                    <!--<v-btn class="text-xs-right" right outline small color="blue">cancel</v-btn>-->
                    <!--<v-btn class="text-xs-right" right outline small color="blue">view</v-btn>-->
                    <!--</v-flex>-->
                  <!--</v-list-tile>-->
                <!--</template>-->
              <!--</v-list>-->
            <!--</v-card>-->
          <!--</v-flex>-->


          <!--<v-divider-->
            <!--inset-->
            <!--vertical-->
          <!--&gt;</v-divider>-->
          <!--<v-flex xs6 offset-xs0>-->
            <!--&lt;!&ndash;<v-card flat class="content-card">&ndash;&gt;-->
            <!--&lt;!&ndash;<v-card-title primary-title>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-layout xs12>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-flex xs2 justify-center>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-icon  class="mt-4 text-xs-left add-class-icon left">far fa-user-circle</v-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-flex xs8>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3 class="left" >Student Name</h3><br><br>&ndash;&gt;-->
            <!--&lt;!&ndash;<p class="pr-2 " >Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="left ">45min</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-flex xs4>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn class=" addclass-btn " >Change Time</v-btn><br>&ndash;&gt;-->
            <!--&lt;!&ndash;<v-btn class=" addclass-btn">Cancel</v-btn>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-card-title>&ndash;&gt;-->
            <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
            <!--<v-card class="no-shadow card-r">-->
              <!--<v-list three-line>-->
                <!--<template v-for="(item, index) in items">-->
                  <!--<v-subheader class="justify-center"-->
                               <!--v-if="item.header"-->
                               <!--:key="item.header"-->
                  <!--&gt;-->
                    <!--{{ item.header }}-->
                  <!--</v-subheader>-->

                  <!--<v-divider-->
                    <!--v-else-if="item.divider"-->
                    <!--:inset="item.inset"-->
                    <!--:key="index"-->
                  <!--&gt;</v-divider>-->

                  <!--<v-list-tile-->
                    <!--v-else-->
                    <!--:key="item.title"-->
                    <!--avatar-->
                    <!--@click=""-->
                  <!--&gt;-->
                    <!--<v-list-tile-avatar>-->
                      <!--<img :src="item.avatar">-->
                      <!--&lt;!&ndash;<v-avatar color="blue-grey">&ndash;&gt;-->
                      <!--&lt;!&ndash;<v-icon dark>account_circle</v-icon>&ndash;&gt;-->
                      <!--&lt;!&ndash;</v-avatar>&ndash;&gt;-->
                    <!--</v-list-tile-avatar>-->

                    <!--<v-list-tile-content>-->
                      <!--<v-list-tile-title v-html="item.title1"></v-list-tile-title>-->
                      <!--<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>-->
                    <!--</v-list-tile-content>-->
                    <!--<v-btn-->
                      <!--v-show="!seen" v-on:click='seen = !seen'-->
                      <!--outline small color="blue">cancel</v-btn>-->
                    <!--<v-btn-->
                      <!--v-show="seen" v-on:click='seen = !seen'-->
                      <!--outline small color="blue">view</v-btn>-->
                  <!--</v-list-tile>-->
                <!--</template>-->
              <!--</v-list>-->
            <!--</v-card>-->
          <!--</v-flex>-->
        <!--</v-layout>-->

        <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
      <!--</v-card>-->
    </v-flex>
  </v-layout>
</v-card>
  </v-dialog>
</template>




<!--<template>-->
  <!--<v-layout row xs12 justify-center>-->
    <!--<v-flex xs12>-->
      <!--<v-layout wrap>-->
        <!--<v-flex xs12 class=" ma-2">-->
          <!--<div class="text-sm-left f-20" color="#002d4a">Select student Classes</div>-->
        <!--</v-flex>-->
        <!--<v-divider></v-divider>-->
      <!--</v-layout>-->
      <!--&lt;!&ndash;<v-card class="mt-2 no-shadow card-r">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-card-title justify-center xs12>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-layout xs12>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex xs12 class="text-xs-center">&ndash;&gt;-->
      <!--&lt;!&ndash;<h1 class="add-class-header">Select student Classes</h1>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-card-title>&ndash;&gt;-->
      <!--<v-container fluid grid-list-xl>-->
        <!--<v-layout row wrap class="">-->
          <!--<v-flex d-flex lg3 sm3 xs12>-->
            <!--<v-autocomplete-->
              <!--v-model="model"-->
              <!--:items="searchname"-->
              <!--label="Search Name"-->
              <!--prepend-icon="person"-->
              <!--placeholder="Name ">-->
            <!--</v-autocomplete>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg3 sm3 xs12>-->
            <!--<v-autocomplete-->
              <!--v-model="model"-->
              <!--:items="classname"-->
              <!--prepend-icon="fas fa-tachometer-alt"-->
              <!--label="Select class"-->
              <!--placeholder="class name ">-->
            <!--</v-autocomplete>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg2 sm3 xs12>-->
            <!--<v-menu-->
              <!--ref="menu1"-->
              <!--v-model="menu1"-->
              <!--:close-on-content-click="false"-->
              <!--:nudge-right="40"-->
              <!--lazy-->
              <!--transition="scale-transition"-->
              <!--offset-y-->
              <!--full-width-->
              <!--max-width="290px"-->
              <!--min-width="290px"-->
            <!--&gt;-->
              <!--<v-text-field-->
                <!--slot="activator"-->
                <!--v-model="dateFormatted"-->
                <!--label="Select Date"-->
                <!--persistent-hint-->
                <!--placeholder="dd/mm/yyyy"-->
                <!--prepend-icon="event"-->
              <!--&gt;</v-text-field>-->
              <!--<v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>-->
            <!--</v-menu>-->
          <!--</v-flex>-->
          <!--<v-flex d-flex lg2 sm3 xs12>-->
            <!--<v-select-->
              <!--:items="timeslot"-->
              <!--class="input-group&#45;&#45;focused"-->
              <!--prepend-icon="alarm"-->
              <!--placeholder="select your time"-->
              <!--label="Starting Time"-->
            <!--&gt;</v-select>          </v-flex>-->
          <!--<v-flex d-flex lg2 sm3 xs12>-->
            <!--<v-btn  larg depressed class="no-shadow card-r ml-4 mr-4" color="primary">book class</v-btn>-->
          <!--</v-flex>-->
        <!--</v-layout>-->
      <!--</v-container>-->
      <!--&lt;!&ndash;<v-card class="combo-vcard mt-3 card-r no-shadow">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-divider ></v-divider>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-layout xs12>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-flex xs6 offset-xs0 >&ndash;&gt;-->
      <!--&lt;!&ndash;<v-card class="no-shadow card-r">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list three-line>&ndash;&gt;-->
      <!--&lt;!&ndash;<template v-for="(item, index) in items">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-subheader class="justify-center"&ndash;&gt;-->
      <!--&lt;!&ndash;v-if="item.header"&ndash;&gt;-->
      <!--&lt;!&ndash;:key="item.header"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;{{ item.header }}&ndash;&gt;-->
      <!--&lt;!&ndash;</v-subheader>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-divider&ndash;&gt;-->
      <!--&lt;!&ndash;v-else-if="item.divider"&ndash;&gt;-->
      <!--&lt;!&ndash;:inset="item.inset"&ndash;&gt;-->
      <!--&lt;!&ndash;:key="index"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;</v-divider>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-list-tile&ndash;&gt;-->
      <!--&lt;!&ndash;v-else&ndash;&gt;-->
      <!--&lt;!&ndash;:key="item.title"&ndash;&gt;-->
      <!--&lt;!&ndash;avatar&ndash;&gt;-->
      <!--&lt;!&ndash;@click=""&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-avatar>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<img :src="item.avatar">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<v-avatar color="blue-grey">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-icon dark>account_circle</v-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-avatar>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile-avatar>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-list-tile-content>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-title v-html="item.title1"></v-list-tile-title>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile-content>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-flex  xs3 offset-xs0 class="ml-3 mr-2">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn class="text-xs-right" right outline small color="blue">cancel</v-btn>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn class="text-xs-right" right outline small color="blue">view</v-btn>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-flex>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile>&ndash;&gt;-->
      <!--&lt;!&ndash;</template>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->


      <!--&lt;!&ndash;&lt;!&ndash;<v-divider&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;inset&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;vertical&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;&gt;</v-divider>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<v-flex xs6 offset-xs0>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-card flat class="content-card">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-card-title primary-title>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-layout xs12>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-flex xs2 justify-center>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-icon  class="mt-4 text-xs-left add-class-icon left">far fa-user-circle</v-icon>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-flex>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-flex xs8>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<h3 class="left" >Student Name</h3><br><br>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<p class="pr-2 " >Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<span class="left ">45min</span>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-flex>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-flex xs4>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn class=" addclass-btn " >Change Time</v-btn><br>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn class=" addclass-btn">Cancel</v-btn>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-flex>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-layout>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-card-title>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-card>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<v-card class="no-shadow card-r">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list three-line>&ndash;&gt;-->
      <!--&lt;!&ndash;<template v-for="(item, index) in items">&ndash;&gt;-->
      <!--&lt;!&ndash;<v-subheader class="justify-center"&ndash;&gt;-->
      <!--&lt;!&ndash;v-if="item.header"&ndash;&gt;-->
      <!--&lt;!&ndash;:key="item.header"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;{{ item.header }}&ndash;&gt;-->
      <!--&lt;!&ndash;</v-subheader>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-divider&ndash;&gt;-->
      <!--&lt;!&ndash;v-else-if="item.divider"&ndash;&gt;-->
      <!--&lt;!&ndash;:inset="item.inset"&ndash;&gt;-->
      <!--&lt;!&ndash;:key="index"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;</v-divider>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-list-tile&ndash;&gt;-->
      <!--&lt;!&ndash;v-else&ndash;&gt;-->
      <!--&lt;!&ndash;:key="item.title"&ndash;&gt;-->
      <!--&lt;!&ndash;avatar&ndash;&gt;-->
      <!--&lt;!&ndash;@click=""&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-avatar>&ndash;&gt;-->
      <!--&lt;!&ndash;<img :src="item.avatar">&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-avatar color="blue-grey">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-icon dark>account_circle</v-icon>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;</v-avatar>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile-avatar>&ndash;&gt;-->

      <!--&lt;!&ndash;<v-list-tile-content>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-title v-html="item.title1"></v-list-tile-title>&ndash;&gt;-->
      <!--&lt;!&ndash;<v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile-content>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;v-show="!seen" v-on:click='seen = !seen'&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;outline small color="blue">cancel</v-btn>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<v-btn&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;v-show="seen" v-on:click='seen = !seen'&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;outline small color="blue">view</v-btn>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list-tile>&ndash;&gt;-->
      <!--&lt;!&ndash;</template>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-list>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->

      <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
      <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
    <!--</v-flex>-->
  <!--</v-layout>-->
<!--</template>-->

