<template>
<div>
  <v-container fluid class="pt-0">
  <v-layout wrap>
    <v-flex xs12 class=" ma-2">
      <div class="text-sm-left f-20" color="#002d4a">My Classes</div>
    </v-flex>
    <v-divider></v-divider>
  </v-layout>
  <v-layout wrap>
    <v-flex xs12 class="">
    <div class="grey lighten-3 card-r mt-2 text-xs-center ">
      <!--<h1 class="">My Classes</h1>-->
      <div class="text-xs-left pa-2">
        <v-btn class="mb-0 ml-4 secondary text-white card-r no-shadow" to="createclass"> Add Class</v-btn>
        <!--<v-btn class=" secondary text-white card-r no-shadow" to="/createpackage">create new Package</v-btn>-->
      </div>
      <v-container fluid grid-list-xl>
        <v-layout row wrap class="">
          <v-flex d-flex lg4 sm6 xs12 v-for="(n, index) in modules" v-bind:key="index">
            <v-card class="no-shadow card-r hover-styl">
              <a v-bind:href="'/viewclass/'+n.id">
                <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                       height="200px"
                       class="card-r"></v-img>
              </a>

              <v-card-title primary-title>
                <div class="text-xs-left">
                  <div class="headline" style="color: #424242;">{{n.name}}</div>
                  <div class="f-15" style="color: #424242;">
                    <span class="f-15 font-weight-bold text--darken-1">Hours : - </span>
                    <span class="f-15 font-weight-bold text--darken-1">{{n.hours}} h</span>
                  </div>
                  <div style="color: #424242;">
                    <span class="f-15 font-weight-bold text--darken-1 ">Price : - </span>
                    <span class="f-15 font-weight-bold text--darken-1 ">KR {{n.price}}</span>
                  </div>
                  <span class="grey--text">  {{n.description}}</span>
                </div>
              </v-card-title>

              <v-card-actions>
                <v-btn flat color="grey" v-bind:href="'editclass/'+n.id"><v-icon class="px-2">edit</v-icon>Edit</v-btn>
                <!-- <ConfirmDelete v-bind:className="n.name"/> -->
                <v-spacer></v-spacer>
              </v-card-actions>


            </v-card>

          </v-flex>



        </v-layout>

      </v-container>
      <!--<v-btn class="primary no-shadow card-r right">-->
        <!--Select Pack-->
      <!--</v-btn>-->
      <!--<v-layout xs12 class="mt-0 view-package-main-container ml-3 mr-3">-->
        <!--<v-flex>-->
          <!--&lt;!&ndash;<v-card>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-layout xs6 class="mt-3 text-xs-left" v-for="(n, index) in 10">&ndash;&gt;-->
          <!--&lt;!&ndash;<v-card xs6 class="no-shadow card-r" to="/viewclass">&ndash;&gt;-->
          <!--&lt;!&ndash;<v-layout xs12>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-flex xs3>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-img class="grey darken-2 no-shadow card-r ma-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYfEYDfqif9CDARvNO2XoiM5J0T_nOMG48Vj-qwqo-cWLTIjnL" alt="image"></v-img>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-flex xs9 class="ml-3 mt-2">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="font-weight-bold headline" style="color: #424242;" >Class title</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<p class="grey&#45;&#45;text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum maiores modi quidem veniam, expedita quis laboriosam, ullam facere adipisci, iusto, voluptate sapiente corrupti asperiores rem nemo numquam fuga ab at</p>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-flex xs2 class=" ma-2 text-xs-right ">&ndash;&gt;-->
          <!--&lt;!&ndash;<v-icon class="">edit</v-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;<v-icon >delete</v-icon>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-flex>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
          <!--&lt;!&ndash;</v-layout>&ndash;&gt;-->

          <!--<v-layout row xs1 v-for="(n, index) in 10">-->
            <!--<v-flex class="ma-3" xs12 sm6 v-for="i in 3" :key="`1${i}`" xs4>-->
            <!--</v-flex>-->
          <!--</v-layout>-->

          <!--<v-layout xs12>-->
            <!--<v-flex xs12  offset-xs0 class=" ml-4  mr-4 ">-->
              <!--<v-btn  class="view-button right mr-4">-->
                <!--Select Pack-->
              <!--</v-btn>-->
            <!--</v-flex>-->
          <!--</v-layout>-->
          <!--&lt;!&ndash;</v-card>&ndash;&gt;-->
        <!--</v-flex>-->
      <!--</v-layout>-->
    </div>
    </v-flex>
  </v-layout>
  </v-container>
</div>
</template>
<style>
  /*.hover-styl:hover {*/
    /*color: #ffffff!important;*/
    /*-ms-transform: scale(1.5); !* IE 9 *!*/
    /*-webkit-transform: scale(1.5); !* Safari 3-8 *!*/
    /*transform: scale(1.05);*/
    /*padding: 10px 10px 10px 10px ;*/
    /*margin-top: -10px;*/
    /*transition: transform 0.5s;*/
    /*box-shadow: 0 10px 33px 4px rgba(1,0,4,0.2), -1px -1px 0px 0 rgba(0, 0, 0, 0.13), 1px 8px 11px 5px rgba(0,0,0,.12)!important;*/
  /*}*/
/*.dd:hover{*/
  /*-ms-transform: scale(1); !* IE 9 *!*/
  /*-webkit-transform: scale(1.5); !* Safari 3-8 *!*/
  /*transform: scale(1.05);*/
  /*transition: transform 1s;*/
/*}*/
  /*.hover-styl:hover .effect {*/
    /*display: block;*/
  /*}*/

  /*.effect {*/
    /*padding-top: 7px;*/
    /*padding-right: 7px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*display: none;*/
  /*}*/
  /*.effect a {*/
    /*color: #000;*/
  /*}*/




  .view-package-main-container{
    color: #7f7f7f ;
  }
  .view-package-main-container .v-carousel__controls{
    background-color: transparent !important;
  }
  .view-package-carousel .v-btn:before{
    background-color: #0069b3 !important;
  }
  .view-package-carousel .fa-circle:before{
    color: #7f7f7f!important;
  }
  .view-package-main-container h1{
    color: #454545!important;
    font-weight: 500;
  }
  .view-package-main-container p{
    color: #7f7f7f !important;
    text-align: justify !important;
    font-weight: 100;
  }
  .view-content-card{
    color: #7f7f7f !important;
  }
  .view-button {
    background-color: #0051a0 !important;
  }
  .v-dialog{
    box-shadow: none!important;
  }
</style>
<script>
/* eslint-disable */
import ConfirmDelete from "./ConfirmDelete";
import { mapState, dispatch } from "vuex";

export default {
  data: () => ({
    show: false,
    dialog: false,
    ModulesList: "",

    return: {
      // items: [
      //   {
      //     src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg'
      //   },
      //   {
      //     src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg'
      //   },
      //   {
      //     src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg'
      //   },
      //   {
      //     src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg'
      //   }
      // ]
    },
  }),
  created:() => {
    console.log("created")
    console.log(Store)
    Store.commit("setLoading", { loading: true });
    Store.dispatch("Modules/getAllClasses")
    .then(res => {
      // console.log(res)
      this.ModulesList = res;
      console.log(this.ModulesList);
      Store.commit("setLoading", { loading: false });
    })
    .catch(() => {
      Store.commit("setLoading", { loading: false });
    });
  },
  computed: {
    ...mapState({
      modules: Modules => Store.state.Modules.modules
    })
  },
  components: {
    ConfirmDelete
  }
};
</script>
