<template>
  <div>
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/packages`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="f-20 mb-2 font-weight-bold">Add Class</h1>
              <!--<p class="text-xs-center">Create Your New Class</p>-->
            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap >
                      <v-flex xs12><v-text-field v-model="classTitle" :rules="requiredRule" label="Class Title"></v-text-field>
                      </v-flex>
                      <v-flex xs12 ><v-text-field v-model="classLocation" label="Class Location"></v-text-field></v-flex>
                      <v-flex xs12 >
                      <v-flex xs12 >
                          <v-text-field
                            v-model="classHours"
                            :items="workMin"
                            class="input-group--focused"
                            label="Hours"
                            type="number"
                          ></v-text-field>
                      </v-flex >
                        <v-text-field v-model="classPrice" type="number" :rules="requiredRule" label="Class Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-text-field v-model="internalPrice" type="number" :rules="requiredRule" label="Internal Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-textarea name="input-7-1" v-model="description" label="Description"></v-textarea></v-flex>
                      <v-layout wrap lg12>
                      <v-flex md12 sm12 xs12 lg12 class="">
                      <v-card class="text-xs-left card-r no-shadow mb-2">
                        <v-flex xs12 class="">
                          <input
                            multiple
                            type="file"
                            ref="ImgInput"
                            style="display: none"
                            accept="image/*"
                            @change="onImgPicked">
                          <v-btn
                            small
                            class="card-r"
                            outline
                            @click="onPickImg">Upload Gallery</v-btn>
                        </v-flex>
                        <v-flex xs12 style="display:flex; overflow-x: scroll;">
                        <v-flex class="ma-2" v-for="url in attachment.galleryURL" :key="url" xs12>
                          <v-card flat tile flex>
                            <v-img
                              :src="url"
                              style="height: 100px; width: 100px !important;"
                              :lazy-src="url"
                              aspect-ratio="1"
                              class="grey lighten-2">
                              <v-layout
                                slot="placeholder"
                                fill-height
                                align-center
                                justify-center
                                ma-0>
                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                              </v-layout>
                            </v-img>
                          </v-card>
                        </v-flex>
                        </v-flex>
                      </v-card>
                      </v-flex>
                      </v-layout>
                      <v-flex xs12 class="text-xs-right">
                        <ConfirmSignup v-bind:value1="classTitle" v-on:confirmyes="AddModule" v-bind:value2="internalPrice"/>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
  import ConfirmSignup from "../auth/ConfirmSignup";

  export default {
    data: () => ({
      classTitle:'',
      classLocation:'',
      classHours:'',
      classPrice:'',
      internalPrice:'',
      description:'',
      attachment: {
        galleries: [],
        galleryURL: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      requiredRule: [v => !!v || "This field is required"],
      workMin: ["1", "2" , "3", "4" ,"5", "6", "7", "8"],
    }),
    watch: {},
    created() {},
    methods: {
      democlick(){

      },
      AddModule(){
        console.log(this.attachment)
          var moduleDetails={
            'name':this.classTitle,
            'location':this.classLocation,
            'hours':this.classHours,
            'price':this.classPrice,
            'internal_price':this.internalPrice,
            'description':this.description,
            'gallery':this.attachment.galleries
          }
          var formData=new FormData()
          formData.append('name', this.classTitle)
          formData.append('location', this.classLocation)
          formData.append('hours', this.classHours)
          formData.append('price', this.classPrice)
          formData.append('internal_price', this.internalPrice)
          formData.append('description', this.description)
          formData.append('image', this.attachment.galleries)

          // Object.keys(moduleDetails).forEach(key => formData.append(key, moduleDetails[key]));
          console.log(formData)
          this.$store.commit('setLoading', { loading: true })
          this.$store.dispatch('Modules/AddModule',formData).then(res=>{
            console.log(res)
            this.$store.commit('setLoading', { loading: false })
            // this.$router.push('/classes')
          })
      },
      onPickImg(){
        this.$refs.ImgInput.click();
      },
      onImgPicked(){
        const files = event.target.files;
        console.log(files)
        if(files.length==1){
          this.attachment.galleries.push(files[0])
        }else{
          for(var i=0;i<files.length;i++){
            this.attachment.galleries.push(files[i])
          }
        }
        for(var i=0;i<files.length;i++){
          let fileName = files[i].name;
          if (fileName.lastIndexOf(".") <= 0) {
            return alert("Please add a valid file! ");
          }
          console.log(fileName)
        }
        for(var i=0;i<files.length;i++){
          const fileReader = new FileReader();
          fileReader.readAsDataURL(files[i]);
          // console.log(fileName)
          // var fileName
          fileReader.addEventListener("load", () => {
            this.attachment.galleryURL.push(fileReader.result);
            // console.log( this.attachment.galleryURL);
          });
        }

        console.log(this.attachment)
      },
    },
    components: {
      ConfirmSignup
    }
  };
</script>
<style>
  .v-dialog{
    box-shadow: none!important;
  }
</style>
