<template>
  <div class="EditClass">
    <v-container>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center" xs12 sm12 lg9 style="margin:auto">
          <div class=" card-r no-shadow">
            <v-flex>
              <a :href="`/classes`"><v-icon class="textColor left">keyboard_backspace</v-icon></a>
              <h1 class="display-1 font-weight-medium">Edit : {{classTitle}}</h1>
              <p></p>
              <!-- {{$route.params.id}} -->
            </v-flex>
            <v-card class="card-r no-shadow">
              <v-form>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap >
                      <v-flex xs12><v-text-field v-model="classTitle" :rules="requiredRule" label="Class Title"></v-text-field>
                      </v-flex>
                      <!-- <v-flex xs12 ><v-text-field v-model="classLocation" label="Class Location"></v-text-field></v-flex> -->
                      <v-flex xs12 >
                      <v-flex xs12 >
                          <v-text-field
                            v-model="classHours"
                            :items="workMin"
                            class="input-group--focused"
                            label="Hours"
                          ></v-text-field>
                      </v-flex >
                        <v-text-field v-model="classPrice" type="number" :rules="requiredRule" label="Class Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-text-field v-model="internalPrice" type="number" :rules="requiredRule" label="Internal Price"></v-text-field></v-flex>
                      <v-flex xs12 >
                        <v-textarea name="input-7-1" v-model="description" label="Description"></v-textarea></v-flex>
                      <v-layout wrap lg12>
                      <v-flex md12 sm12 xs12 lg12 class="">
                      <v-card class="text-xs-left card-r no-shadow mb-2">
                        <v-flex xs12 class="">
                          <input
                            multiple
                            type="file"
                            ref="ImgInput"
                            style="display: none"
                            accept="image/*"
                            @change="onImgPicked">
                          <v-btn
                            small
                            class="card-r"
                            outline
                            @click="onPickImg">Upload Gallery</v-btn>
                        </v-flex>
                        <v-flex xs12 style="display:flex; overflow-x: scroll;">
                        <v-flex class="ma-2" v-for="url in attachment.galleryURL" :key="url" xs12>
                          <v-card flat tile flex>
                            <v-img
                              :src="url"
                              style="height: 100px; width: 100px !important;"
                              :lazy-src="url"
                              aspect-ratio="1"
                              class="grey lighten-2">
                              <v-layout
                                slot="placeholder"
                                fill-height
                                align-center
                                justify-center
                                ma-0>
                                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                              </v-layout>
                            </v-img>
                          </v-card>
                        </v-flex>
                        </v-flex>
                      </v-card>
                      </v-flex>
                      </v-layout>
                      <v-flex xs12 class="text-xs-right">
                <ConfirmEdit v-bind:value1="classTitle" v-on:confirmyes="classEdit" v-bind:value2="internalPrice"/>
                <!-- <v-btn class="text-white card-r no-shadow" color="primary" @click="classEdit">Confirm</v-btn> -->
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-form>
            </v-card>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  /* eslint-disable */
  import ConfirmEdit from "../auth/ConfirmEdit";
  import { mapState, dispatch } from "vuex";

// const id = $route.params.id;
  export default {
      name: "EditClass",

    data: () => ({
      id:'',
      classTitle:'',
      classLocation:'',
      classHours:'',
      classPrice:'',
      internalPrice:'',
      description:'',
      attachment: {
        galleries: [],
        galleryURL: [],
        photosURL: [],
        videos: [],
        videosURL: []
      },
      requiredRule: [v => !!v || "This field is required"],
      workMin: ["60", "120" , "180", "240" ,"300", "360", "420", "480" ],
    }),
    // watch: {},
    mounted() {

      this.adminId = this.$route.params.id;
      Store.dispatch("Modules/getClassById", this.adminId).then(res => {
      });
      setTimeout(() => {
          this.classTitle =this.$store.state.Modules.modules.name;
          this.classLocation =this.$store.state.Modules.modules.location;
          this.classHours =this.$store.state.Modules.modules.hours;
          this.classPrice =this.$store.state.Modules.modules.price;
          this.internalPrice =this.$store.state.Modules.modules.internal_price;
          this.description =this.$store.state.Modules.modules.description;
          this.image =this.$store.state.Modules.modules.attachment.galleries;
      }, 3500);
  },
    methods: {
      classEdit(){
        var moduleDetails={
          'name':this.classTitle,
            'location':this.classLocation,
            'hours':this.classHours,
            'price':this.classPrice,
            'internal_price':this.internalPrice,
            'description':this.description,
            'gallery':this.attachment.galleries
}
        console.log(this.adminId)
        var adminId=this.adminId
        var Data={
          "moduleDetails":moduleDetails,
          "adminId":this.adminId
        }
          this.$store.commit('setLoading', { loading: true })
          this.$store.dispatch('Modules/classEdit',Data).then(res=>{
            console.log(res)
            this.$store.commit('setLoading', { loading: false })

          })
      },
      onPickImg(){
        this.$refs.ImgInput.click();
      },
      onImgPicked(){
        const files = event.target.files;
        console.log(files)
        if(files.length==1){
          this.attachment.galleries.push(files)
        }else{
          for(var i=0;i<files.length;i++){
            this.attachment.galleries.push(files[i])
          }
        }
        let fileName = files[0].name;
        if (fileName.lastIndexOf(".") <= 0) {
          return alert("Please add a valid file! ");
        }
        for(var i=0;i<files.length;i++){
          const fileReader = new FileReader();
          fileReader.readAsDataURL(files[i]);
          console.log(fileName)
          fileReader.addEventListener("load", () => {
            this.attachment.galleryURL.push(fileReader.result);
            // console.log( this.attachment.galleryURL);
          });
        }

        console.log(this.attachment)
      },
    },
    components: {
      ConfirmEdit
    },
      computed: {
    ...mapState({
      modules: Modules => Store.state.Modules.modules
    })
  },
  };
</script>
<style>
  .v-dialog{
    box-shadow: none!important;
  }
</style>
